<div class="container section-sous-title">
    <h2>🤝</h2>
    <div>
        <span>Mes qualités humaines</span>
    </div>
</div>
<div class="container content">
    <div class="qualities-grid">

        <div class="quality-card">
            <h4>📏 Sérieux & rigoureux</h4>
            <p>
                J’accorde une grande importance à la qualité du travail que je fournis.
                Je veille à respecter les standards de développement, les délais et les attentes fixées,
                afin de garantir un résultat fiable et professionnel.
            </p>
        </div>

        <div class="quality-card">
            <h4>🎯 Persévérant</h4>
            <p>
                Face aux difficultés, je garde une attitude positive et déterminée.
                Je cherche toujours à comprendre, à apprendre et à aller au bout des choses, même lorsque les défis se
                multiplient.
            </p>
        </div>

        <div class="quality-card">
            <h4>🧩 Polyvalent & autonome</h4>
            <p>
                Grâce à mes expériences variées, je m’adapte rapidement à différents environnements,
                langages et méthodes de travail.
                Mon autonomie me permet d’avancer efficacement tout en prenant des initiatives pertinentes.
            </p>
        </div>

        <div class="quality-card">
            <h4>🤝 Esprit d’équipe</h4>
            <p>
                Je crois profondément en la force du collectif.
                J’aime partager mes connaissances, apprendre des autres et construire une dynamique de groupe positive.
                Pour moi, un projet réussi repose avant tout sur la communication, la confiance et la collaboration.

            </p>
        </div>

        <div class="quality-card">
            <h4>🌱 Curieux & perfectionniste</h4>
            <p>
                J’aime apprendre en continu et rester informé des dernières innovations.
                Mon perfectionnisme m’incite à améliorer sans cesse la qualité de mon travail
                et à progresser dans mes pratiques professionnelles.
            </p>
        </div>

    </div>

</div>