<main class="main-wrapper">
    <!-- Page Title -->
    <div class="page-title">
        <div class="heading pb-3">
            <div class="container">
                <p style="text-align: center;">
                    <img style="width: 10%;" src="assets/img/idea.png" alt="">
                </p>
                <div class="text-title">
                    <h2 class="text-muted opacity-1 text-uppercase mb-0">
                        Résolution de Problèmes
                    </h2>
                </div>
                <div class="hero__scroll">
                    <div class="hero__scroll-down"></div>
                </div>
            </div>
        </div>

        <hr />
    </div>
    <!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">
        <div class="container">
            <div class="aperçu">
                <div class="section-sous-title pb-3">
                    <h2 style="color: #fafafa">🚀</h2>
                    <div>
                        <span class="text-uppercase"> Description </span>
                    </div>
                </div>
                <p class="justify">Le <strong>framework .NET</strong> est une plateforme de développement
                    <strong>open-source</strong> et <strong>multiplateforme</strong>, permettant de créer des
                    applications <strong>performantes</strong>, <strong>évolutives</strong> et
                    <strong>sécurisées</strong>. Il est particulièrement utilisé dans la conception de <strong>services
                        backend</strong>, le développement d’<strong>API REST</strong>, l’intégration avec des
                    <strong>bases de données</strong> et la gestion de <strong>systèmes complexes</strong>.</p>

                <p class="justify">Grâce à son langage principal <strong>C#</strong>, il offre une approche
                    <strong>orientée objet avancée</strong>, tout en intégrant des outils robustes pour la gestion des
                    bases de données avec <strong>Entity Framework Core</strong> et le développement d’architectures
                    modernes basées sur les <strong>microservices</strong>, le <strong>Domain-Driven Design
                        (DDD)</strong> et la <strong>Clean Architecture</strong>.</p>

                <p class="justify">Dans un contexte professionnel, <strong>.NET</strong> permet de structurer des
                    <strong>applications critiques</strong>, d’assurer la <strong>gestion des accès</strong> et des
                    <strong>identités</strong>, de <strong>sécuriser</strong> les services via <strong>OAuth2</strong>,
                    <strong>JWT</strong> et <strong>OpenID Connect</strong>, et d’améliorer
                    l’<strong>interopérabilité</strong> avec divers systèmes, notamment ceux intégrés à des solutions
                    cloud comme <strong>Azure</strong>.</p>

            </div>
        </div>
    </section>


</main>
<app-scroll-top></app-scroll-top>