<!-- Header -->
<div
  class="header-top-fixed one-page-nav"
  [ngClass]="{ 'menu-open menu-open-desk': sidebarOpen }"
>
  <div class="container">
    <!-- Brand -->
    <div class="logo">
      <div class="header__logo-container">
        <!--<div class="header__logo-img-cont">
          <img src="assets\img\Me.jpeg" alt="" class="header__logo-img" />
        </div>-->
        <a class="navbar-brand" routerLink="/">
          <img
            class="logo-dark"
            title=""
            alt=""
            src="assets/img/logo-light.svg"
          />
          <img
            class="logo-light"
            title=""
            alt=""
            src="assets/img/logo-light.svg"
          />
        </a>
      </div>
    </div>
    <!-- / -->
    <ul class="main-menu">
      <li>
        <a class="menu-item" routerLink="/">
          <div
            class="shape-bg"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Accueil
          </div>
        </a>
      </li>
      <li>
        <a class="menu-item" routerLink="/aboutMe">
          <div class="shape-bg" [routerLinkActive]="'active'">Qui suis-je ?</div>
        </a>
      </li>
      <li>
        <a class="menu-item" routerLink="/work">
          <div class="shape-bg" [routerLinkActive]="'active'">Projets</div>
        </a>
      </li>

      <li>
        <a class="menu-item" routerLink="/contact">
          <div class="shape-bg" [routerLinkActive]="'active'">Contact</div>
        </a>
      </li>
    </ul>
    <!-- Top Menu -->
    <div class="d-flex" (clickOutside)="onClickedOutside($event)">
      <!-- to scroll let's talk to Contact Page change below "href="javascript:" to " spyOn="contactus" href="#contactus" "-->
      <a class="px-btn dark d-none d-lg-inline-flex" routerLink="/contact"
        ><i class="available"></i>Engagez-moi</a
      >
      <button
        class="toggler-menu d-lg-none"
        [ngClass]="{ open: sidebarOpen }"
        (click)="toggleMenu()"
      >
        <span></span>
      </button>
    </div>
    <!-- / -->
  </div>
</div>
<!-- End Header -->
