<!-- Project1 -->
<div class="modal-body">
  <button
    type="button"
    class="btn-close"
    (click)="activeModal.dismiss('Cross click')"
    aria-label="Close"
  ></button>
  <div class="single-project-box">
    <div class="row align-items-start">
      <div class="col-lg-7">
        <img
          class="border"
          src="assets/img/popup-project-1.jpg"
          title=""
          alt=""
        />
      </div>
      <div class="col-lg-5 pt-4 pt-lg-0">
        <h4 class="modal-title">Website Design for Marketing Agency Startup</h4>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </p>
        <div class="about-content">
          <ul>
            <li class="d-flex">
              <span class="col-4 col-lg-3">Type:</span>
              <span>Website</span>
            </li>
            <li class="d-flex">
              <span class="col-4 col-lg-3">Langages:</span>
              <span>PHP, HTML, CSS, JS</span>
            </li>
            <li class="d-flex">
              <span class="col-4 col-lg-3">Platform:</span>
              <span>WordPress</span>
            </li>
          </ul>
        </div>
        <button class="btn-project">
          <div class="btn-text-p">
            VIEW PROJECT <i class="fa fa-angle-right"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
