<main class="main-wrapper">
  <!-- Page Title -->
  <div class="page-title">
    <div class="heading">
      <div class="container">
        <div class="text-title">
          <h5>
            ENT-Canvas2D
            <div class="section-sous-title pb-3">
              <h2 style="color: #bababa; position: absolute; font-size: 12px">
                Janvier 2023 - Mars 2023
              </h2>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row g-2" style="justify-content: center">
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Développement web</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Programmation Interactive</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Animation Graphique</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Collaboration en Équipe</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Gestion Agile du Projet</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Title -->
  <section id="project#Canvas2" class="section project-Canvas2-section">
    <div class="container">
      <img src="assets/img/webniar-design.svg" class="card-img" alt="..." />
      <div class="row g-2 g-lg-3 pt-5 pb-5">
        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Contexte du Projet</h5>
            <p class="justify">– Académique</p>
            <p class="justify">– Travail en groupe</p>
            <p class="justify">– IHM</p>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Compétences Techniques</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/mySql']">MySQL</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/php']">PHP </a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/javaScript']">JavaScript</a>
                </div>
              </div>

              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/git']">Git</a>
                </div>
              </div>

              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/scrum']">Scrum</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Compétences Transversales</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/adaptabilite']">Adaptabilité</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/agilite']">Agilité</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/collaboration-equipe']">Collaboration en équipe</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/problem-resolution']">Résolution des problèmes</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/gestion-temps']">Gestion du Temps</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Outils et Technologies Complémentaires</h5>
            <div class="row g-2">

              <div class="col-auto">
                <div class="skill-project2">
                  <span>Bootstrap</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Canvas2D</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Rôle dans l'Équipe</h5>
            <p class="justify">– Développeur Full Stack</p>
            <p class="justify">– Scrum Master</p>
          </div>
        </div>
      </div>
      <div class="aperçu">
        <div class="section-sous-title pb-3">
          <h2>🎓 APERÇU</h2>
          <div>
            <span>Contexte du TER</span>
          </div>
        </div>
        <p class="justify">Dans le cadre de notre <strong>Master Informatique</strong>, spécialité <strong>"Expert en
            Ingénierie du
            Logiciel"</strong> à l’Université de Montpellier, nous avons été amenés à réaliser un <strong>Travail
            d'Étude et de Recherche (TER)</strong> ayant pour objectif de combiner des savoir-faire techniques avancés
          avec des enjeux pédagogiques concrets. Ce projet a été pensé pour répondre à une problématique actuelle de
          l’apprentissage du développement web : <strong>comment permettre aux étudiants de s’initier de manière active
            et interactive à la programmation graphique et aux animations web</strong>, en s’appuyant sur des standards
          ouverts et pérennes ?</p>

        <p class="justify">Aujourd’hui, la maîtrise des <strong>interfaces dynamiques</strong> et l’intégration de
          <strong>contenus
            visuels interactifs</strong> sont devenues des compétences incontournables dans le domaine du développement
          logiciel, en particulier pour les applications web. Les technologies du web moderne, telles que l’<strong>API
            Canvas de JavaScript</strong>, offrent un potentiel important pour enrichir les interfaces utilisateurs par
          des éléments graphiques dynamiques, manipulables en temps réel, et permettent ainsi d’envisager de nouvelles
          approches pédagogiques, centrées sur la pratique et l’expérimentation.
        </p>

        <p class="justify">Notre projet s’inscrit précisément dans cette dynamique. Sous l’encadrement de <strong> d’un
            référent pédagogique spécialisé dans le domaine des interactions homme-machine et de l’ingénierie des
            interfaces</strong>, notre équipe a eu pour mission d’imaginer et de mettre en œuvre une <strong>plateforme
            interactive</strong> permettant aux utilisateurs de découvrir progressivement les bases du <strong>dessin
            programmatique</strong>, de l’<strong>animation</strong> et de l’<strong>interaction graphique</strong> dans
          un environnement web. Plus qu’un simple exercice académique, ce TER a constitué un véritable terrain
          d’application des connaissances acquises en <strong>ingénierie logicielle</strong>, <strong>conception
            d’interfaces</strong> et <strong>gestion de projet collaboratif</strong>, dans le but de livrer un outil
          pédagogique complet et exploitable pour des besoins de formation.</p>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🖥️</h2>
          <div>
            <span>Présentation du projet</span>
          </div>
        </div>

        <p class="justify">Le projet développé prend la forme d’un <strong>site web interactif</strong> dont la finalité
          est de proposer
          un ensemble structuré d’exercices pratiques, permettant aux utilisateurs de se former aux fondamentaux du
          <strong>graphisme numérique</strong> et de l’<strong>animation web</strong> à travers la manipulation de
          l’<strong>API Canvas</strong>. Conçu comme une <strong>plateforme pédagogique</strong>, ce site offre un
          parcours progressif au sein duquel chaque exercice introduit des notions spécifiques, allant des opérations
          élémentaires de dessin aux mécanismes plus avancés de gestion dynamique des données et d’interactions
          utilisateur.
        </p>

        <p class="justify">La conception du site repose sur une <strong>architecture modulaire</strong>, dans laquelle
          chaque exercice
          constitue un module autonome, disposant de ses propres scripts, de sa logique d’exécution et d’une interface
          dédiée. Cette organisation favorise à la fois la <strong>clarté pédagogique</strong>, en permettant à
          l’utilisateur de se concentrer sur un concept à la fois, et la <strong>maintenabilité du code</strong>, chaque
          module pouvant être modifié, amélioré ou remplacé sans impacter l’ensemble du système. Au fil du parcours,
          l’utilisateur est amené à interagir avec différents types de contenus : reproduction graphique de figures,
          animation d’objets en mouvement, visualisation de données à travers des palettes de couleurs dynamiques, ou
          encore manipulation libre d’un espace de dessin numérique.</p>

        <p class="justify">Au niveau technologique, la plateforme repose sur une pile web classique et éprouvée.
          <strong>HTML5</strong>
          assure la structuration des pages, <strong>CSS3</strong> prend en charge la mise en forme et l’adaptation
          responsive, tandis que <strong>JavaScript</strong> pilote l’ensemble des comportements interactifs et
          animations, en exploitant pleinement les capacités offertes par l’<strong>API Canvas</strong>. Le backend,
          bien que réduit au strict nécessaire pour garantir simplicité et légèreté, utilise <strong>PHP</strong> afin
          d’assurer certaines fonctionnalités telles que l’<strong>authentification des utilisateurs</strong> ou la
          <strong>gestion des sessions</strong>. Le choix de ces technologies répond à un impératif
          d’<strong>accessibilité</strong> : garantir que la plateforme soit facilement utilisable depuis n’importe quel
          navigateur moderne, sans installation préalable.
        </p>

        <p class="justify">Enfin, la réalisation de ce projet a exigé la mise en œuvre rigoureuse de bonnes pratiques en
          matière de
          <strong>développement collaboratif</strong>. Le recours à <strong>GitLab</strong> pour la gestion du
          versionnement du code et le suivi des évolutions du projet a permis de structurer efficacement le travail de
          groupe, d’assurer la continuité des contributions et de prévenir les conflits lors des phases d’intégration.
          Cet aspect organisationnel a été déterminant pour la réussite du projet, permettant à chaque membre de
          l’équipe de prendre en charge des tâches spécifiques tout en garantissant l’<strong>homogénéité</strong> et la
          <strong>cohérence</strong> du produit final.
        </p>

        <p class="justify">En somme, ce projet ne se limite pas à la production d’une série d’exercices graphiques
          isolés, mais
          s’apparente à la <strong>conception complète d’une solution pédagogique interactive</strong>, pensée pour
          évoluer, s’adapter et accompagner durablement l’apprentissage de la programmation graphique dans le cadre
          universitaire et au-delà.</p>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🎯</h2>
          <div>
            <span class="text-uppercase">Objectifs du Projet</span>
          </div>
        </div>

        <p class="justify">Le projet s’est articulé autour de plusieurs <strong>objectifs complémentaires</strong>
          visant à répondre à
          la fois aux exigences <strong>pédagogiques</strong>, <strong>techniques</strong> et
          <strong>méthodologiques</strong> fixées en amont.
        </p>

        <p class="justify">Sur le plan <strong>pédagogique</strong>, il s’agissait de créer un environnement favorisant
          l’apprentissage
          progressif des concepts clés du <strong>graphisme</strong> et de l’<strong>animation web</strong>. Chaque
          exercice a été conçu pour introduire un savoir-faire précis, permettant aux utilisateurs de passer
          d’opérations élémentaires, comme le dessin de formes simples, à des fonctionnalités plus complexes, telles que
          l’<strong>animation de trajectoires</strong> ou la <strong>gestion dynamique de palettes de couleurs</strong>.
          L’enjeu était de proposer une approche graduelle et interactive, afin de stimuler la compréhension par la
          pratique.</p>

        <p class="justify">D’un point de vue <strong>technique</strong>, l’objectif majeur résidait dans la maîtrise et
          l’exploitation
          des <strong>technologies du web</strong> permettant de produire des contenus graphiques performants et
          interactifs. Il nous fallait développer des <strong>animations fluides</strong>, optimiser les performances
          des rendus, assurer la <strong>portabilité multi-navigateurs</strong>, et garantir une <strong>organisation du
            code claire et modulaire</strong>, facilitant les évolutions futures. La rigueur dans la mise en œuvre de
          ces technologies a constitué un axe fort du projet, afin de répondre aux standards attendus dans un contexte
          professionnel.</p>

        <p class="justify">Enfin, le projet visait également à expérimenter et mettre en pratique les principes de
          <strong>gestion de
            projet agile</strong>, en particulier à travers des méthodes inspirées de <strong>SCRUM</strong>. Cela nous
          a permis de travailler en équipe autour d’un référentiel commun, de planifier efficacement nos tâches, de
          coordonner nos avancées via des <strong>sprints successifs</strong> et de nous adapter aux imprévus et
          contraintes rencontrées. Cette dimension organisationnelle a joué un rôle clé dans la réussite du projet,
          autant que la dimension purement technique.
        </p>

        <p class="justify">Ainsi, au croisement de ces objectifs, le projet devait déboucher sur la livraison d’une
          <strong>solution
            fonctionnelle et durable</strong>, apte à accompagner l’apprentissage dans un cadre académique, tout en
          constituant une <strong>démonstration concrète</strong> de notre capacité à conduire un projet complexe, du
          concept initial jusqu’à sa mise en œuvre opérationnelle.
        </p>


      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">⚙️</h2>
          <div>
            <span class="text-uppercase">Fonctionnalités principales</span>
          </div>
        </div>

        <p class="justify">La plateforme développée dans le cadre de ce projet se distingue par la richesse et la
          diversité des
          <strong>fonctionnalités</strong> qu’elle propose, à la fois sur le plan technique et pédagogique. L’ensemble
          des modules a été pensé pour offrir aux utilisateurs une expérience d’apprentissage progressive, interactive
          et stimulante, en les amenant à manipuler directement des concepts fondamentaux du graphisme et de l’animation
          web.
        </p>

        <p class="justify">L’une des fonctionnalités centrales du site réside dans l’intégration complète de
          <strong>cinq exercices
            interactifs</strong>, chacun dédié à un aspect précis de la programmation graphique avec
          <strong>Canvas</strong>. Ces exercices permettent aux utilisateurs de s’initier successivement :
        </p>

        <ul>
          <li class="justify">Aux opérations de dessin basiques (formes géométriques, tracés libres).</li>
          <li class="justify">À la gestion dynamique des couleurs (via des palettes générées à partir de données JSON).
          </li>
          <li class="justify">À l’animation physique (déplacement et rebond d’une balle).</li>
          <li class="justify">À la création et la manipulation libre d’un espace de dessin de type <em>"Paint"</em>.
          </li>
        </ul>

        <p class="justify">Chaque module a été conçu pour offrir un environnement autonome, dans lequel l’utilisateur
          peut expérimenter
          les fonctionnalités proposées, observer le résultat de ses actions en temps réel et comprendre les mécanismes
          sous-jacents grâce à des retours visuels instantanés.</p>

        <p class="justify">Au-delà des exercices eux-mêmes, la plateforme intègre également des <strong>fonctionnalités
            transversales</strong> essentielles à la fluidité et à la qualité de l’expérience utilisateur :</p>

        <ul>
          <li class="justify">Une interface utilisateur claire et ergonomique, permettant une navigation intuitive entre
            les différents
            modules et garantissant un accès rapide aux exercices.</li>
          <li class="justify">Un système d’authentification basique, assurant une gestion minimale des sessions
            utilisateurs pour
            sécuriser l’accès aux fonctionnalités principales.</li>
          <li class="justify">Une harmonisation graphique de l’ensemble des pages et des modules, afin de maintenir une
            cohérence
            visuelle forte tout au long du parcours.</li>
          <li class="justify">Une adaptabilité responsive, permettant une consultation optimisée de la plateforme sur
            divers types
            d’écrans et de résolutions, du poste fixe à la tablette.</li>
        </ul>

        <p class="justify">Sur le plan technique, une attention particulière a été portée à la <strong>performance des
            animations</strong>, afin d’assurer une exécution fluide et stable, même lors de manipulations complexes ou
          prolongées. Cela a impliqué :</p>

        <ul>
          <li class="justify">L’optimisation des boucles de rendu.</li>
          <li class="justify">La gestion efficace des ressources du navigateur.</li>
          <li class="justify">Une structuration rigoureuse du code pour limiter les interférences entre modules et
            éviter les pertes de
            performance globales.</li>
        </ul>

        <p class="justify">En complément, la plateforme a été pensée comme un <strong>cadre ouvert</strong>, permettant
          l’ajout
          ultérieur de nouvelles fonctionnalités ou d’exercices supplémentaires, sans nécessiter de refonte majeure de
          l’architecture existante. Cette approche modulaire garantit la pérennité de l’outil et son potentiel
          d’enrichissement dans un contexte pédagogique évolutif.</p>


      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🔁</h2>
          <div>
            <span>Processus de mise en œuvre</span>
          </div>
        </div>
        <p class="justify">La mise en œuvre de ce projet s’est déroulée selon une organisation méthodique, divisée en
          plusieurs étapes
          clés, permettant d’assurer la progression du développement tout en garantissant une répartition efficace des
          responsabilités au sein de l’équipe. L’ensemble des phases a été mené de manière collaborative, avec une
          implication active de chacun, et j’ai personnellement participé à plusieurs niveaux, allant de l’analyse
          technique à l’intégration finale des modules.</p>

        <h4 style="color: #f6bb67">Étape 1 : Phase de recherche et d’analyse technique</h4>
        <p class="justify">Le projet a débuté par une phase de veille technologique et de documentation approfondie.
          L’objectif était de
          maîtriser les fondamentaux de l’<strong>API Canvas</strong> et de comprendre ses capacités en matière de
          dessin vectoriel et d’animation dynamique. Cette étape a été essentielle pour définir le périmètre technique
          du projet et identifier les bonnes pratiques à appliquer afin de garantir des performances optimales,
          notamment pour des animations fluides et interactives.</p>
        <p class="justify">Dans cette phase, j’ai contribué activement à l’étude des spécifications techniques des
          animations, en
          explorant différents modèles d’implémentation (boucles d’animation, gestion des événements utilisateur,
          optimisation du rendu graphique). J’ai également participé à l’analyse comparative des méthodes de génération
          de palettes de couleurs, utilisées plus tard dans les exercices liés à la visualisation de données.</p>

        <h4 style="color: #f6bb67">Étape 2 : Conception fonctionnelle et architecture du site</h4>
        <p class="justify">Une fois la partie théorique consolidée, nous avons défini l’architecture globale de la
          plateforme. Il
          s’agissait de concevoir un système modulaire permettant d’intégrer facilement chaque exercice, tout en
          maintenant une cohérence d’ensemble dans la navigation et le design du site. La structure devait être
          suffisamment flexible pour accueillir des évolutions futures, comme l’ajout de nouveaux modules ou
          l’adaptation de l’interface à différents types de supports.</p>
        <p class="justify">Durant cette étape, j’ai joué un rôle déterminant dans la formalisation des schémas
          fonctionnels et des
          structures de pages, ainsi que dans la définition des interactions entre les modules. J’ai également participé
          à la rédaction des spécifications techniques servant de base à la répartition des tâches dans l’équipe.</p>

        <h4 style="color: #f6bb67">Étape 3 : Développement des exercices interactifs</h4>
        <p class="justify">Le cœur du projet reposait sur la réalisation technique des cinq exercices interactifs,
          chacun abordant des
          problématiques graphiques spécifiques. Pour chaque module, nous avons adopté une démarche itérative, inspirée
          des principes agiles, consistant à prototyper rapidement une première version, puis à enrichir et stabiliser
          le code à travers des tests et des validations successives.</p>
        <p class="justify">Dans cette phase, j’ai pris en charge la conception et le développement du module dédié à
          l’animation de
          balle interactive. Ce travail m’a conduit à gérer la logique de déplacement de l’objet graphique, le calcul
          des collisions, la gestion des rebonds et l’optimisation de la fluidité du rendu. J’ai également participé à
          l’amélioration des performances globales de certains modules, en optimisant les boucles de rendu et en
          réduisant la charge de calcul sur le navigateur.</p>

        <h4 style="color: #f6bb67">Étape 4 : Intégration et harmonisation de la plateforme</h4>
        <p class="justify">Après la finalisation des modules, nous avons procédé à leur intégration dans le site web
          principal. L’enjeu
          était de veiller à la cohérence visuelle et fonctionnelle entre les différentes parties, tout en garantissant
          une navigation fluide et intuitive pour l’utilisateur. Cette étape a également nécessité la gestion des
          dépendances entre les scripts et l’assurance que chaque module puisse fonctionner sans interférer avec les
          autres.</p>
        <p class="justify">Dans cette phase, j’ai participé activement à l’intégration des différents composants et à la
          résolution des
          conflits de code pouvant survenir lors de la fusion des branches de développement. J’ai également contribué à
          l’uniformisation des styles et des comportements interactifs pour offrir à l’utilisateur une expérience
          harmonieuse et homogène.</p>

        <h4 style="color: #f6bb67">Étape 5 : Tests, validation et optimisation finale</h4>
        <p class="justify">Avant la livraison du projet, une phase de tests approfondis a été mise en place afin de
          vérifier le bon
          fonctionnement de l’ensemble du site et de ses modules. Cela a concerné autant les aspects techniques
          (compatibilité multi-navigateurs, robustesse du code, performances graphiques) que les aspects pédagogiques
          (pertinence des exercices, clarté des consignes, accessibilité).</p>
        <p class="justify">J’ai personnellement mené plusieurs séries de tests sur la gestion des animations complexes,
          notamment pour
          détecter d’éventuels ralentissements ou dysfonctionnements lors de l’exécution prolongée des exercices. J’ai
          également proposé et intégré des ajustements permettant d’améliorer la réactivité et la stabilité des modules
          sur différents appareils et résolutions d’écran.</p>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🚨</h2>
          <div>
            <span>Enjeux et Risques</span>
          </div>
        </div>

        <h4 style="color: #f6bb67">Enjeu technique : Assurer la fluidité et la performance des animations</h4>
        <p class="justify">Le développement d’exercices interactifs basés sur des animations graphiques a imposé un
          travail minutieux
          d’optimisation afin de garantir une exécution fluide et stable. L’un des enjeux majeurs a été de limiter
          l’impact des calculs graphiques sur les ressources du navigateur, notamment lors de l’exécution simultanée de
          plusieurs animations complexes. Cela a nécessité un soin particulier dans la gestion des boucles d’animation,
          du rafraîchissement des canvas et de l’allocation mémoire, afin d’assurer une expérience utilisateur
          satisfaisante, quel que soit le support utilisé.</p>

        <h4 style="color: #f6bb67">Enjeu de compatibilité : Maintenir une portabilité multi-navigateurs</h4>
        <p class="justify">L’utilisation de technologies web standards n’exclut pas les disparités d’interprétation
          entre les
          navigateurs. Il a donc fallu anticiper et résoudre des problèmes de compatibilité pour garantir un rendu
          homogène et un comportement stable sur des environnements variés. Cet enjeu a conduit à réaliser des tests
          poussés sur plusieurs plateformes et à adapter le code lorsque certaines fonctionnalités spécifiques de Canvas
          ou de JavaScript n’étaient pas gérées de façon identique.</p>

        <h4 style="color: #f6bb67">Enjeu pédagogique : Proposer une progression pertinente</h4>
        <p class="justify">Au-delà de l’aspect purement technique, le projet devait répondre à un objectif pédagogique
          exigeant :
          permettre aux utilisateurs de monter en compétence par étapes, sans les confronter trop tôt à des difficultés
          excessives. La conception des exercices a ainsi été pensée pour proposer un apprentissage progressif,
          alternant entre exploration simple et mise en œuvre de concepts plus complexes, tout en conservant la
          cohérence du parcours global.</p>

        <h4 style="color: #f6bb67">Risque organisationnel : Coordonner efficacement le travail en équipe</h4>
        <p class="justify">Avec plusieurs développeurs mobilisés simultanément sur des modules aux enjeux différents, le
          risque de
          fragmentation du projet était important. La gestion des versions, la répartition des tâches et l’intégration
          progressive des développements ont nécessité une attention constante pour éviter les conflits de code et
          garantir l’unité visuelle et fonctionnelle du site. La mise en place de bonnes pratiques collaboratives via
          GitLab a permis de limiter ces risques, mais a demandé une rigueur continue de la part de l’ensemble des
          membres.</p>

        <h4 style="color: #f6bb67">Risque temporel : Respecter les délais malgré les contraintes externes</h4>
        <p class="justify">Le TER s’inscrivant dans un calendrier universitaire dense, il a fallu composer avec d’autres
          obligations
          pédagogiques et personnelles. Le risque de retard était significatif, notamment lors des phases critiques
          d’intégration et de test. Pour y faire face, nous avons dû établir des priorités claires et adapter notre
          organisation en cours de projet, en maintenant une réactivité constante face aux imprévus afin d’assurer la
          livraison d’une version fonctionnelle dans les temps impartis.</p>

      </div>

      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">👥</h2>
          <div>
            <span>Acteurs</span>
          </div>
        </div>
        <h4 style="color: #f6bb67">L’équipe de développement : une répartition des rôles optimisée</h4>
        <p class="justify">Le projet a été réalisé par une équipe de <strong>cinq étudiants</strong>, chacun ayant des
          responsabilités
          spécifiques en fonction de ses compétences et affinités techniques. La répartition des tâches s’est faite de
          manière équilibrée, en veillant à ce que chaque membre contribue aussi bien au développement individuel de
          modules qu’à l’intégration et l’amélioration globale du projet.</p>

        <p class="justify">Les responsabilités ont été réparties comme suit :</p>
        <ul>
          <li class="justify"><strong>Développement des exercices interactifs</strong> : chaque membre a pris en charge
            un ou plusieurs
            exercices, en assurant leur conception, leur implémentation et leur optimisation.</li>
          <li class="justify"><strong>Gestion de l’interface utilisateur</strong> : certains membres ont travaillé sur
            l’harmonisation
            graphique et la navigation entre les modules.</li>
          <li class="justify"><strong>Optimisation des performances et compatibilité</strong> : une veille particulière
            a été réalisée
            pour assurer la fluidité des animations et la prise en charge multi-navigateurs.</li>
          <li class="justify"><strong>Intégration et validation collective</strong> : chaque contribution a été soumise
            à une revue
            avant intégration dans le projet final.</li>
        </ul>

        <p class="justify"><strong>Mon rôle :</strong> J’ai personnellement été responsable du <strong>développement du
            module
            d’animation de balle interactive</strong>, un exercice nécessitant une gestion fine des mouvements, des
          collisions et des interactions temps réel. J’ai également contribué à l’<strong>optimisation des performances
            graphiques</strong> sur l’ensemble du projet et à la mise en place de <strong>bonnes pratiques de
            développement collaboratif</strong>.</p>

        <h4 style="color: #f6bb67">Collaboration et coordination inter-équipe</h4>
        <p class="justify">Plutôt que de travailler en silos, l’équipe a adopté une dynamique de <strong>collaboration
            étroite</strong>,
          favorisant le partage des connaissances et l’amélioration continue du projet.</p>

        <p class="justify">Cette organisation s’est traduite par :</p>
        <ul>
          <li class="justify"><strong>Points de synchronisation réguliers</strong> : des réunions hebdomadaires ont
            permis de faire le
            bilan des avancées, d’identifier les difficultés techniques et d’échanger des solutions.</li>
          <li class="justify"><strong>Revue de code et validation croisée</strong> : chaque membre était responsable de
            documenter son
            travail et de soumettre son code aux autres avant intégration, garantissant une homogénéité et une meilleure
            qualité du projet final.</li>
          <li class="justify"><strong>Gestion des versions via GitLab</strong> : le projet a été versionné avec rigueur,
            chaque mise à
            jour étant testée et validée pour éviter les conflits et préserver la stabilité du code.</li>
        </ul>

        <p class="justify">Cette approche a permis de créer un projet fluide et cohérent, où chaque exercice s’intègre
          naturellement
          dans la plateforme globale, tant sur le plan fonctionnel que visuel.</p>

        <h4 style="color: #f6bb67">Encadrement et suivi pédagogique</h4>
        <p class="justify">Le projet a été supervisé par un <strong>référent pédagogique</strong>, qui a assuré un rôle
          clé dans le
          cadrage initial, la validation des étapes et l’orientation des choix technologiques et pédagogiques. Son
          intervention a permis de garantir que la plateforme réponde aux exigences académiques et aux besoins des
          futurs utilisateurs.</p>

        <p class="justify">Nous avons bénéficié de ses retours tout au long du projet, que ce soit pour affiner nos
          approches
          pédagogiques, valider des solutions techniques ou améliorer l’expérience utilisateur finale.</p>

      </div>

    </div>
    <!--exercice-->
    <div class="container">
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🏆</h2>
          <div>
            <span>Résultat</span>
          </div>
        </div>
        <p class="justify">Le projet a abouti à la livraison d’une <strong>plateforme web interactive complète et
            fonctionnelle</strong>, répondant aux objectifs pédagogiques et techniques définis en amont. Cette
          plateforme regroupe l’ensemble des exercices développés par l’équipe, chacun étant accessible via une
          interface cohérente et ergonomique, pensée pour guider l’utilisateur dans un parcours d’apprentissage
          progressif de la programmation graphique et de l’animation web.</p>

        <p class="justify">Le site final permet aux utilisateurs de manipuler directement des concepts clés du
          <strong>graphisme
            numérique</strong>, à travers des exercices variés exploitant pleinement les capacités de l’<strong>API
            Canvas</strong>. L’utilisateur bénéficie d’un environnement stable, fluide et intuitif, où chaque
          interaction produit un retour visuel immédiat, favorisant ainsi la compréhension et l’expérimentation.
        </p>

        <p class="justify">Au-delà de l’aspect fonctionnel, le projet a permis d’atteindre plusieurs résultats notables
          :</p>

        <ul>
          <li class="justify"><strong>Sur le plan technique</strong> : nous avons réussi à développer des modules
            performants, optimisés
            pour différents navigateurs et supports, tout en assurant la modularité et l’évolutivité du système.</li>
          <li class="justify"><strong>Sur le plan pédagogique</strong> : la plateforme constitue un support concret pour
            l’apprentissage
            progressif des techniques de dessin programmatique, avec une montée en complexité maîtrisée entre les
            exercices.</li>

          <li class="justify"><strong>Sur le plan organisationnel</strong> : l’équipe a su mener le projet dans le
            respect des délais
            impartis, malgré les contraintes externes et les aléas liés à la coordination d’un travail collectif.</li>

          <li class="justify"><strong>Sur le plan personnel</strong> : ce projet m’a permis de consolider mes
            compétences en
            développement front-end, en particulier dans la gestion fine des animations et des interactions utilisateur
            avec Canvas. J’ai également approfondi ma capacité à optimiser des processus graphiques pour garantir des
            performances stables et fluides. En parallèle, cette expérience m’a permis de perfectionner mes compétences
            en gestion de projet collaboratif, en assurant à la fois des contributions techniques et une participation
            active à l’organisation et à la synchronisation du travail d’équipe.</li>
        </ul>
        <ul style="list-style-type: none; padding-left: 0;">
          <li class="justify">
            <p class="justify">Le livrable final se présente ainsi comme une <strong>application web robuste, claire et
                évolutive</strong>, pouvant être utilisée dans un contexte académique pour accompagner des étudiants
              dans la découverte des fondamentaux du graphisme web, tout en offrant un socle technique pouvant être
              enrichi de nouvelles fonctionnalités à l’avenir.</p>

          </li>
          <div class="container">
            @if (images2) {
            <ngb-carousel>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page d’accueil–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[0]" alt="Random first slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page de connexion–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[1]" alt="Random second slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page d’inscription–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[2]" alt="Random third slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Vue des exercices–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[3]" alt="Random fourth slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page de tous les exercices–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[4]" alt="Random fourth slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page d'exercice de bienvenue–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[5]" alt="Random fourth slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page de Feedback–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[6]" alt="Random fourth slide" />
                </div>
              </ng-template>
            </ngb-carousel>
            }
          </div>
          <li class="justify">
            Création de <b>cinq applications graphiques</b> interactives
            fonctionnelles, chacune offrant une expérience utilisateur fluide et
            engageante.
          </li>
          @if (images) {
          <ngb-carousel class="pb-4" [showNavigationArrows]="showNavigationArrows"
            [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide>
              <div class="row g-3" style="justify-content: center">
                <div class="col-sm-12 col-lg-4">
                  <div class="card project-card">
                    <div class="card-img-block">
                      <img class="card-img-top" [src]="images[0]" alt="Card image cap" />
                    </div>
                    <div class="card-body pt-0">
                      <h5 class="card-title">
                        <a
                          href="https://github.com/wa2l-99/Site_Canvas2D/raw/refs/heads/main/exercices/Hello-Cannelle.zip">
                          Exercice de bienvenue
                          <i class="fa-solid fa-download"></i></a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card project-card">
                    <div class="card-img-block">
                      <img class="card-img-top" [src]="images[1]" alt="Card image cap" />
                    </div>
                    <div class="card-body pt-0">
                      <h5 class="card-title">
                        <a
                          href="https://github.com/wa2l-99/Site_Canvas2D/raw/refs/heads/main/exercices/ExerciceAnimation_Wael.zip">Animation
                          de Balle Interactive
                          <i class="fa-solid fa-download"></i>
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="col-sm-12 col-lg-4"></div>
                  <div class="card project-card">
                    <div class="card-img-block">
                      <img class="card-img-top" [src]="images[2]" alt="Card image cap" />
                    </div>
                    <div class="card-body pt-0">
                      <h5 class="card-title">
                        <a
                          href="https://github.com/wa2l-99/Site_Canvas2D/raw/refs/heads/main/exercices/Paint%20application.zip">Application
                          Paint <i class="fa-solid fa-download"></i></a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="row g-3" style="justify-content: center">
                <div class="col-sm-12 col-lg-4">
                  <div class="card project-card">
                    <div class="card-img-block">
                      <img class="card-img-top" [src]="images[3]" alt="Card image cap" />
                    </div>
                    <div class="card-body pt-0">
                      <h5 class="card-title">
                        <a
                          href="https://github.com/wa2l-99/Site_Canvas2D/raw/refs/heads/main/exercices/ExerciceBallon.zip">Data
                          Palette <i class="fa-solid fa-download"></i>
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card project-card">
                    <div class="card-img-block">
                      <img class="card-img-top" [src]="images[4]" alt="Card image cap" />
                    </div>
                    <div class="card-body pt-0">
                      <h5 class="card-title">
                        <a href="javascript:void(0)">Animation de courbes<i class="fa-solid fa-download"></i>
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
          }

        </ul>
      </div>
      <div class="container">
        <div class="aperçu mt-5">
          <div class="section-sous-title pb-3">
            <h2 style="color: #fafafa">💫</h2>
            <div>
              <span>Compétences Clés</span>
            </div>
          </div>
          <ul>
            <li class="justify">
              <b>Programmation Graphique :</b> Manipulation de l'API<b>Canvas 2D</b>
              pour créer des animations et des graphiques interactifs en utilisant
              des méthodes telles que
              <code data-bs-toggle="tooltip" data-bs-placement="left"
                title="La méthode CanvasRenderingContext2D.fillRect() de l'API 2D des Canvas dessine un rectangle plein aux coordonnées (x, y), aux dimensions déterminées par largeur et hauteur et au style déterminé par l'attribut fillStyle.">fillRect()</code>,
              <code data-bs-toggle="tooltip" data-bs-placement="left"
                title="CanvasRenderingContext2D.arc() permet d'ajouter un arc de cercle au tracé, en le centrant aux positions (x, y) et avec un rayon r qui démarre à angleDépart et qui finit à angleFin, dans la direction de sensAntiHoraire.">arc()</code>,
              <code data-bs-toggle="tooltip" data-bs-placement="left"
                title="CanvasRenderingContext2D.beginPath() permet de commencer un nouveau chemin en vidant la liste des sous-chemins. Appelez cette méthode quand vous voulez créer un nouveau chemin.">beginPath()</code>
              ,
              <code data-bs-toggle="tooltip" data-bs-placement="left"
                title="CanvasRenderingContext2D.bezierCurveTo() ajoute une courbe de Bézier cubique au sous-chemin courant. Elle requiert trois points : les deux premiers sont des points de contrôle et le troisième est le point d'arrivée.">bezierCurveTo()</code>,
              et
              <code data-bs-toggle="tooltip" data-bs-placement="left"
                title="CanvasRenderingContext2D.stroke() dessine le chemin actuel ou donné avec le style de trait actuel utilisant la règle d'enroulement non nulle.">stroke()
              </code>
              pour dessiner et animer des formes dynamiques.
            </li>
            <li class="justify">
              <b>JavaScript Avancé :</b> Gestion des événements, boucles
              d'animation optimisées avec
              <code data-bs-toggle="tooltip" data-bs-placement="left"
                title="La méthode window.requestAnimationFrame() indique au navigateur qu'on souhaite exécuter une animation et demande que celui-ci exécute une fonction spécifique de mise à jour de l'animation.">requestAnimationFrame()</code>et
              manipulation dynamique de données pour générer des visuels
              interactifs.
            </li>
            <li class="justify">
              <b>Développement Frontend :</b> Conception d’interfaces réactives et
              intuitives avec HTML5 et CSS3, garantissant une expérience
              utilisateur fluide.
            </li>
            <li class="justify">
              <b>Travail collaboratif :</b> Utilisation de <b>GitLab</b> pour la
              gestion des versions et la coordination des tâches au sein de
              l’équipe.
            </li>
            <li class="justify">
              <b>Méthodologie Agile (SCRUM):</b> Participation active à la gestion agile,
              avec des <b>sprints</b> et des réunions régulières pour ajuster les
              priorités et suivre l'avancement.
            </li>
          </ul>
        </div>
        <div class="aperçu mt-5">
          <div class="section-sous-title pb-3">
            <h2 style="color: #fafafa">🚀</h2>
            <div>
              <span class="text-uppercase"> Perspectives d’avenir </span>
            </div>
          </div>
          <h4 style="color: #f6bb67">Extension des contenus pédagogiques</h4>
          <p class="justify">Afin de renforcer l’intérêt et la portée éducative de la plateforme, une première
            perspective serait
            d’enrichir le catalogue d’exercices en intégrant des modules plus complexes et avancés. L’introduction de
            nouvelles thématiques telles que les courbes de Bézier, la manipulation d’images ou encore des animations
            physiques plus sophistiquées permettrait de diversifier les compétences abordées et d’offrir un parcours
            d’apprentissage plus complet et stimulant.</p>

          <h4 style="color: #f6bb67">Optimisation technique et adaptabilité</h4>
          <p class="justify">Même si la plateforme offre de bonnes performances, des améliorations restent envisageables
            pour optimiser
            le comportement de l’application sur des appareils mobiles ou à faibles ressources. Une révision du code
            pour réduire la consommation mémoire et fluidifier les animations serait bénéfique. De plus, l’intégration
            d’une interface responsive plus avancée garantirait une expérience utilisateur homogène, quelle que soit la
            taille ou la résolution de l’écran.</p>

          <h4 style="color: #f6bb67">Personnalisation et suivi utilisateur</h4>
          <p class="justify">Une évolution pertinente consisterait à ajouter un système de suivi personnalisé. Cette
            fonctionnalité
            permettrait aux utilisateurs de conserver l’historique de leurs exercices, de suivre leur progression et de
            bénéficier d’un retour individualisé, favorisant ainsi un apprentissage autonome et progressif. Cette
            approche renforcerait l’implication des utilisateurs et offrirait un cadre pédagogique plus engageant.</p>

          <h4 style="color: #f6bb67">Dimension communautaire et collaborative</h4>
          <p class="justify">À terme, l’ouverture de la plateforme à des interactions communautaires pourrait apporter
            une nouvelle
            dynamique au projet. Offrir aux utilisateurs la possibilité de partager leurs créations, de commenter celles
            des autres ou de collaborer sur des variantes d’exercices encouragerait l’échange et favoriserait
            l’apprentissage participatif. Cette orientation transformerait la plateforme en un véritable espace
            collaboratif autour de la programmation graphique.</p>
        </div>

        <div class="aperçu mt-5">
          <div class="section-sous-title pb-3">
            <h2 style="color: #fafafa">🔍</h2>
            <div>
              <span class="text-uppercase"> Regard critique </span>
            </div>
          </div>
          <table class="table table-dark">
            <thead>
              <tr>
                <th>✅ Points positifs</th>
                <th>❌ Limites rencontrées</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="justify">
                  Le projet a été marqué par une <strong>organisation collective efficace</strong>, qui a favorisé la
                  réussite de l’ensemble des phases de conception et de réalisation.
                </td>
                <td class="justify">
                  La <strong>contrainte temporelle</strong> a limité certaines phases critiques, notamment
                  l’optimisation avancée et les tests approfondis.
                </td>
              </tr>
              <tr>
                <td class="justify">
                  L’adoption d’une méthode de gestion de projet inspirée de l’<strong>Agilité</strong> a facilité la
                  coordination et assuré un suivi constant du développement.
                </td>
                <td class="justify">
                  Des <strong>améliorations restent possibles en ergonomie et accessibilité</strong>, notamment pour les
                  supports mobiles et les utilisateurs en situation de handicap.
                </td>
              </tr>
              <tr>
                <td class="justify">
                  Utilisation rigoureuse de <strong>GitLab</strong> pour gérer les versions et garantir la cohérence du
                  code.
                </td>
                <td class="justify">

                </td>
              </tr>
              <tr>
                <td class="justify">
                  Acquisition d’une <strong>expertise solide sur l’API Canvas</strong>, avec des animations interactives
                  performantes adaptées à une application pédagogique.
                </td>
                <td class="justify">

                </td>
              </tr>
            </tbody>
          </table>

          <h4 style="color: #f6bb67">Bilan</h4>
          <p>En définitive, ce projet représente une <strong>expérience enrichissante</strong>, tant sur le plan
            technique que collectif. Il constitue une base solide et fonctionnelle qui, grâce à des améliorations
            ciblées, pourrait évoluer vers une <strong>plateforme pédagogique de référence</strong>, plus complète, plus
            accessible et plus collaborative.</p>

        </div>
      </div>
      <div class="container pt-3">
        <div class="header_line_gradient"></div>
        <p class="text-xl">
          🡮 N'hésitez pas à explorer le code source sur GitHub 🡯
        </p>
        <div class="action-git">
          <a href="https://github.com/wa2l-99/Site_Canvas2D" class="git-btn" target="_blank">
            <div class="git-btn-text">
              Consulter le Dépôt <i class="fa-brands fa-github"> </i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- /exercice Section -->
</main>
<app-scroll-top></app-scroll-top>