<main class="main-wrapper">
  <!-- Page Title -->
  <div class="page-title">
    <div class="heading">
      <div class="container">
        <div class="text-title">
          <h5>
            ENT-Canvas2D
            <span class="heading-separator-line"></span>
          </h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row g-2" style="justify-content: center">
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Développement web</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Programmation Interactive</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Animation Graphique</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Collaboration en Équipe</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Gestion Agile du Projet</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Title -->
  <section id="project#Canvas2" class="section project-Canvas2-section">
    <div class="container">
      <img src="/assets/img/webniar-design.svg" class="card-img" alt="..." />
      <div class="row g-2 g-lg-3 pt-5 pb-5">
        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Contexte du Projet</h5>
            <p>– Académique</p>
            <p>– Travail en groupe</p>
            <p>– IHM</p>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Pèriode</h5>
            <p>Janvier 2023 - Mars 2023</p>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Technologies Utilisées</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>HTML5</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>CSS</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>PHP </span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>JavaScript</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Canvas2D</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>GitLab</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Trelo</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>SCRUM</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>GANT</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Rôle dans l'Équipe</h5>
            <p>– Développeur Full Stack</p>
            <p>– Scrum Master</p>
          </div>
        </div>
      </div>
      <div class="aperçu">
        <div class="section-sous-title pb-3">
          <h2>APERÇU</h2>
          <div>
            <span>BRIEF DU PROJET </span>
          </div>
        </div>
        <p>
          Dans le cadre d’un projet universitaire en équipe, nous avons conçu et
          développé une plateforme interactive dédiée à l’apprentissage de
          <b>JavaScript</b> et de l'API <b>Canvas 2D</b>. Cette plateforme
          regroupe plusieurs exercices pratiques, offrant aux utilisateurs une
          opportunité de se familiariser avec la programmation graphique et
          l’animation web de manière progressive et interactive.
        </p>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💫</h2>
          <div>
            <span>MON RÔLE</span>
          </div>
        </div>
        <p>
          En tant que développeur frontend au sein de l’équipe, j’ai contribué à
          :
        </p>
        <ul>
          <li>
            <b>Réalisation des exercices interactifs :</b> Développement des
            exercices en utilisant l'API<b>Canvas 2D</b> et
            <b>JavaScript</b> permettant aux utilisateurs d’interagir avec des
            graphiques et des animations en temps réel.
          </li>
          <li>
            <b>Création de la plateforme web :</b> Conception et développement
            du site, intégrant une <b>interface intuitive</b> pour héberger les
            exercices et gérer les interactions utilisateur de manière fluide.
          </li>
          <li>
            <b>Gestion de projet SCRUM :</b> Contribution active aux
            <b>sprints SCRUM</b> et aux <b>réunions de suivi</b>, en veillant à
            l'avancement du projet et à la qualité des livrables.
          </li>
        </ul>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💫</h2>
          <div>
            <span>Compétences Clés</span>
          </div>
        </div>
        <ul>
          <li>
            <b>Programmation Graphique :</b> Manipulation de l'API<b
              >Canvas 2D</b
            >
            pour créer des animations et des graphiques interactifs en utilisant
            des méthodes telles que
            <code
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="La méthode CanvasRenderingContext2D.fillRect() de l'API 2D des Canvas dessine un rectangle plein aux coordonnées (x, y), aux dimensions déterminées par largeur et hauteur et au style déterminé par l'attribut fillStyle."
              >fillRect()</code
            >,
            <code
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="CanvasRenderingContext2D.arc() permet d'ajouter un arc de cercle au tracé, en le centrant aux positions (x, y) et avec un rayon r qui démarre à angleDépart et qui finit à angleFin, dans la direction de sensAntiHoraire."
              >arc()</code
            >,
            <code
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="CanvasRenderingContext2D.beginPath() permet de commencer un nouveau chemin en vidant la liste des sous-chemins. Appelez cette méthode quand vous voulez créer un nouveau chemin."
              >beginPath()</code
            >
            ,
            <code
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="CanvasRenderingContext2D.bezierCurveTo() ajoute une courbe de Bézier cubique au sous-chemin courant. Elle requiert trois points : les deux premiers sont des points de contrôle et le troisième est le point d'arrivée."
              >bezierCurveTo()</code
            >, et
            <code
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="CanvasRenderingContext2D.stroke() dessine le chemin actuel ou donné avec le style de trait actuel utilisant la règle d'enroulement non nulle."
              >stroke()
            </code>
            pour dessiner et animer des formes dynamiques.
          </li>
          <li>
            <b>JavaScript Avancé :</b> Gestion des événements, boucles
            d'animation optimisées avec
            <code
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              title="La méthode window.requestAnimationFrame() indique au navigateur qu'on souhaite exécuter une animation et demande que celui-ci exécute une fonction spécifique de mise à jour de l'animation."
              >requestAnimationFrame()</code
            >et manipulation dynamique de données pour générer des visuels
            interactifs.
          </li>
          <li>
            <b>Développement Frontend :</b> Conception d’interfaces réactives et
            intuitives avec HTML5 et CSS3, garantissant une expérience
            utilisateur fluide.
          </li>
          <li>
            <b>Travail d'Équipe :</b> Utilisation de <b>GitLab</b> pour la
            gestion des versions et la coordination des tâches au sein de
            l’équipe.
          </li>
          <li>
            <b>Méthodologie SCRUM:</b> Participation active à la gestion agile,
            avec des <b>sprints</b> et des réunions régulières pour ajuster les
            priorités et suivre l'avancement.
          </li>
        </ul>
      </div>
    </div>
    <!--exercice-->
    <div class="container">
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🎯</h2>
          <div>
            <span>LIVRABLES</span>
          </div>
        </div>
        <ul>
          <li>
            <b>Plateforme web éducative </b>complète pour maîtriser JavaScript
            et Canvas 2D à travers des exercices pratiques. Avec de
            fonctionnalités clés, telles que l'<b>authentification</b>, l'<b
              >affichage des solutions</b
            >, et le <b>système de feedback utilisateur</b>.
          </li>
          <div class="container">
            @if (images2) {
            <ngb-carousel>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page d’accueil–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[0]" alt="Random first slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page de connexion–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[1]" alt="Random second slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page d’inscription–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[2]" alt="Random third slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Vue des exercices–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[3]" alt="Random fourth slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page de tous les exercices–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[4]" alt="Random fourth slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page d'exercice de bienvenue–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[5]" alt="Random fourth slide" />
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="carousel-caption">
                  <h4>–Page de Feedback–</h4>
                </div>
                <div class="picsum-img-wrapper">
                  <img [src]="images2[6]" alt="Random fourth slide" />
                </div>
              </ng-template>
            </ngb-carousel>
            }
          </div>
          <li>
            Création de <b>cinq applications graphiques</b> interactives
            fonctionnelles, chacune offrant une expérience utilisateur fluide et
            engageante.
          </li>
          @if (images) {
          <ngb-carousel
            class="pb-4"
            [showNavigationArrows]="showNavigationArrows"
            [showNavigationIndicators]="showNavigationIndicators"
          >
            <ng-template ngbSlide>
              <div class="row g-3" style="justify-content: center">
                <div class="col-sm-12 col-lg-4">
                  <div class="card project-card">
                    <div class="card-img-block">
                      <img
                        class="card-img-top"
                        [src]="images[0]"
                        alt="Card image cap"
                      />
                    </div>
                    <div class="card-body pt-0">
                      <h5 class="card-title">
                        <a
                          href="https://github.com/wa2l-99/Site_Canvas2D/raw/refs/heads/main/exercices/Hello-Cannelle.zip"
                        >
                          Exercice de bienvenue
                          <i class="fa-solid fa-download"></i
                        ></a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card project-card">
                    <div class="card-img-block">
                      <img
                        class="card-img-top"
                        [src]="images[1]"
                        alt="Card image cap"
                      />
                    </div>
                    <div class="card-body pt-0">
                      <h5 class="card-title">
                        <a
                          href="https://github.com/wa2l-99/Site_Canvas2D/raw/refs/heads/main/exercices/ExerciceAnimation_Wael.zip"
                          >Animation de Balle Interactive
                          <i class="fa-solid fa-download"></i>
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="col-sm-12 col-lg-4"></div>
                  <div class="card project-card">
                    <div class="card-img-block">
                      <img
                        class="card-img-top"
                        [src]="images[2]"
                        alt="Card image cap"
                      />
                    </div>
                    <div class="card-body pt-0">
                      <h5 class="card-title">
                        <a
                          href="https://github.com/wa2l-99/Site_Canvas2D/raw/refs/heads/main/exercices/Paint%20application.zip"
                          >Application Paint <i class="fa-solid fa-download"></i
                        ></a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="row g-3" style="justify-content: center">
                <div class="col-sm-12 col-lg-4">
                  <div class="card project-card">
                    <div class="card-img-block">
                      <img
                        class="card-img-top"
                        [src]="images[3]"
                        alt="Card image cap"
                      />
                    </div>
                    <div class="card-body pt-0">
                      <h5 class="card-title">
                        <a
                          href="https://github.com/wa2l-99/Site_Canvas2D/raw/refs/heads/main/exercices/ExerciceBallon.zip"
                          >Data Palette <i class="fa-solid fa-download"></i>
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card project-card">
                    <div class="card-img-block">
                      <img
                        class="card-img-top"
                        [src]="images[4]"
                        alt="Card image cap"
                      />
                    </div>
                    <div class="card-body pt-0">
                      <h5 class="card-title">
                        <a href="javascript:void(0)"
                          >Animation de courbes<i
                            class="fa-solid fa-download"
                          ></i>
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
          }
          <li>
            Renforcement des compétences en <b>programmation graphique</b>,<b>
              animation 2D</b
            >, et<b> gestion de projet agile</b>
          </li>
        </ul>
      </div>
      <div class="container pt-3">
        <div class="header_line_gradient"></div>
        <p class="text-xl">
          🡮 N'hésitez pas à explorer le code source sur GitHub 🡯
        </p>
        <div class="action-git">
          <a
            href="https://github.com/wa2l-99/Site_Canvas2D"
            class="git-btn"
            target="_blank"
            ><div class="git-btn-text">
              Consulter le Dépôt <i class="fa-brands fa-github"> </i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- /exercice Section -->
</main>
<app-scroll-top></app-scroll-top>
