.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: block;
  i {
    color: var(--px-white);
    font-size: 40px;
  }
  transition: all 0.2s ease-in-out;
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.btn{
    border: none;
}