<div class="container section-sous-title">
  <h2><i class="fa-solid fa-icons"></i></h2>
  <div>
    <span>Mes centres d'intérêt</span>
  </div>
</div>

<div class="container interests">

  <div class="row gy-4 text-center">

    <div class="col-lg-3 col-md-4">
      <div class="features-item">
        <i class="fa-solid fa-computer" style="color: #5578ff"></i>
        <h3>Nouvelles technologies</h3>
      </div>
      <div class="features-desc">

        <p class="interest-desc">
          Passionné par l’innovation, je m’intéresse particulièrement aux domaines de l’intelligence artificielle, du
          cloud
          et des technologies web. Explorer les nouvelles tendances me permet de nourrir ma créativité et de rester en
          veille sur les évolutions du métier.
        </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="features-item">
        <i class="fas fa-hamburger" style="color: #29cc61"></i>
        <h3>Gastronomie</h3>
      </div>
      <div class="features-desc">

        <p class="interest-desc">
          La cuisine est pour moi une manière d’allier précision et créativité. J’aime expérimenter, découvrir de
          nouvelles
          saveurs et partager des moments conviviaux, car chaque plat raconte une histoire et demande la même rigueur
          qu’un projet bien mené.
        </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="features-item">
        <i class="fa-regular fa-futbol" style="color: #e80368"></i>
        <h3>Football</h3>
      </div>
      <div class="features-desc">

        <p class="interest-desc">
          Le football m’a appris la discipline, la persévérance et l’importance du travail collectif. C’est un sport qui
          me pousse à me dépasser, à garder une vision d’ensemble et à valoriser la cohésion d’équipe — des principes
          que
          j’applique également dans mon travail.
        </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="features-item">
        <i class="fa-solid fa-person-swimming" style="color: #47aeff"></i>
        <h3>Natation</h3>
      </div>
      <div class="features-desc">
        <p class="interest-desc">
          La natation m’apporte équilibre, endurance et clarté d’esprit. C’est un moment de déconnexion qui me permet de
          me ressourcer et de maintenir la concentration nécessaire pour aborder mes projets avec sérénité.<br><br>
        </p>
      </div>
    </div>

  </div>
</div>