<div class="container section-sous-title">
  <h2><i class="fa-solid fa-icons"></i></h2>
  <div>
    <span>Mes centres d'intérêt</span>
  </div>
</div>
<div class="container">
  <div class="row gy-4">
    <div class="col-lg-3 col-md-4">
      <div class="features-item">
        <i class="fa-solid fa-computer" style="color: #5578ff"></i>
        <h3>Nouvelles Technologies</h3>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="features-item">
        <i class="fas fa-hamburger" style="color: #29cc61"></i>
        <h3>Gastronomie</h3>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="features-item">
        <i class="fa-regular fa-futbol" style="color: #e80368"></i>
        <h3>football</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="features-item">
        <i class="fa-solid fa-person-swimming" style="color: #47aeff"></i>
        <h3>Natation</h3>
      </div>
    </div>
  </div>
</div>
