<div class="container section-sous-title">
  <h2><i class="fa-solid fa-language"></i></h2>
  <div>
    <span>Langues</span>
  </div>
</div>
<div class="container">
  <div class="row gy-4">
    <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
      <img class="flag-img" src="assets/img/ar.png" alt="AR" />
      <div class="language-item">
        <p>Arabe – اَلْعَرَبِيَّةُ</p>
        <h3>Natale</h3>
      </div>
    </div>
    <!-- End language Item -->

    <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
      <img class="flag-img" src="assets/img/fr.png" alt="FR" />
      <div class="language-item">
        <p>Français</p>
        <h3>Bilingue</h3>
      </div>
    </div>
    <!-- End language Item -->

    <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
      <img class="flag-img" class="flag-img" src="assets/img/en.png" alt="EN" />
      <div class="language-item">
        <p>Anglais – English</p>
        <h3>Intermédiare</h3>
      </div>
    </div>
    <!-- End language Item -->

    <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
      <img class="flag-img" src="assets/img/de.png" alt="DE" />
      <div class="language-item">
        <p>Allemand – Deutsch</p>
        <h3>Débutant</h3>
      </div>
    </div>
    <!-- End language Item -->
  </div>
</div>
