<div class="container">
  <div class="section-heading">
    <div class="row justify-content-between align-items-center">
      <!-- Conteneur pour le titre et le bouton -->
      <div class="col-auto">
        <h2>My Work</h2>
      </div>

      <div class="col-auto">
        <div class="see_all_btn">
          <a href="#" class="hero_btn w-inline-block">
            <div class="hero_btn_text">See All</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-3" style="justify-content: center">
    <div class="col-sm-12 col-lg-4">
      <div class="card project-card">
        <div class="card-img-block">
          <img
            class="card-img-top"
            src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
            alt="Card image cap"
          />
        </div>
        <div class="card-body pt-0">
          <h5 class="card-title">
            <a href="javascript:void(0)" (click)="openReservationModal1()"
              >Florence Pink <i class="fa fa-arrow-up"></i
            ></a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="card project-card">
        <div class="card-img-block">
          <img
            class="card-img-top"
            src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
            alt="Card image cap"
          />
        </div>
        <div class="card-body pt-0">
          <h5 class="card-title">
            <a href="javascript:void(0)" (click)="openReservationModal2()"
              >Florence Pink <i class="fa fa-arrow-up"></i
            ></a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="col-sm-12 col-lg-4"></div>
      <div class="card project-card">
        <div class="card-img-block">
          <img
            class="card-img-top"
            src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
            alt="Card image cap"
          />
        </div>
        <div class="card-body pt-0">
          <h5 class="card-title">
            <a href="javascript:void(0)" (click)="openReservationModal3()"
              >Florence Pink <i class="fa fa-arrow-up"></i
            ></a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
