<main class="main-wrapper">
  <!-- Page Title -->
  <div class="page-title">
    <div class="heading">
      <div class="container">
        <div class="text-title">
          <h5>
            Lineos 3 User Manager – Intégration SUP_IAM
            <div class="section-sous-title pb-3">
              <h2 style="color: #bababa; position: absolute; font-size: 12px">
                Dekra Automotive Solutions
              </h2>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row g-2" style="justify-content: center">
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Gestion des Utilisateurs</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Gap Analysis</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Environnement Agile</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span"
              >Conception Technique et Diagrammes
            </span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Spécifications Fonctionnelles</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Maquettes UI avec Figma </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page - Title -->
  <section id="project#MedHead" class="section project-medHeadPoc-section">
    <div class="container">
      <img
        src="assets/img//LineosUserManager/landing.svg"
        controls
        class="card-img"
        alt="..."
        style="border-radius: 25px; cursor: pointer"
      />
      <div class="row g-2 g-lg-3 pt-5 pb-5">
        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Contexte du Projet</h5>
            <p>– Alternance Développeur IT</p>
            <p>– Migration et Optimisation d'une Application Legacy</p>
            <p>– Gestion des Utilisateurs et des Droits d'Accès</p>
          </div>
        </div>

        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Technologies</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>C#</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>.NET 8</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>PostgreSQL</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Open Policy Agent</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Outils</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>GitLab</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Agilité</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Gantt</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Figma</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Draw.io</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Rôle</h5>
            <p>– Réalisation des Spécifications Fonctionnelles</p>
            <p>– Maquettage UX avec Figma</p>
            <p>– Analyse de Gap Technique</p>
            <p>– Développement et Adaptation des Modèles de BDD</p>
          </div>
        </div>
      </div>
      <div class="aperçu">
        <div class="section-sous-title pb-3">
          <h2>APERÇU</h2>
          <div>
            <span>BRIEF DU PROJET </span>
          </div>
        </div>
        <p>
          Dans le cadre de mon alternance chez
          <b>Dekra Automotive Solutions</b>, j j’ai travaillé sur un projet
          stratégique visant à migrer la gestion des utilisateurs et des droits
          d'accès de l’application <b>Lineos 3 </b>
          <i
            >(une plateforme de vente de véhicules pour divers concessionnaires
            automobiles)</i
          >
          vers un module intégré à une solution existante :
          <b>SUP_IAM</b>.<br />Ce projet était initialement destiné à créer un
          outil autonome, mais après analyse, nous avons pivoté vers une
          solution d'intégration dans SUP_IAM, pour centraliser la gestion des
          accès au sein d’un seul outil, conformément aux objectifs de
          l’entreprise d’éviter la prolifération d’applications isolées.
        </p>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🚨</h2>
          <div>
            <span class="text-uppercase">Objectifs et Défis </span>
          </div>
        </div>
        <ul>
          <li>
            <b>Objectif initial :</b> Développer un outil autonome nommé
            <b>Lineos 3 User Manager</b> pour gérer les utilisateurs et leurs
            droits d'accès à l'application Lineos 3. Cet outil devait permettre
            à notre équipe SF4v1 de gérer en toute autonomie la création et
            l’attribution des droits d’accès pour différents environnements et
            contrats.
          </li>
          <li>
            <b>Évolution :</b> En raison du grand nombre d’applications déjà
            existantes dans l'entreprise, la direction a souhaité éviter la
            création d'un nouvel outil. La solution retenue a donc été
            d’intégrer le module Lineos 3 directement dans SUP_IAM, qui gérait
            déjà les profils utilisateurs pour d’autres applications de
            l’entreprise.
          </li>
          <li>
            <b>Défi principal :</b> Adapter et étendre les fonctionnalités de
            SUP_IAM pour répondre aux besoins spécifiques de Lineos 3 tout en
            préservant la centralisation de la gestion et en assurant
            l'autonomie nécessaire pour l’équipe SF4v1.
          </li>
        </ul>
      </div>

      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🔁</h2>
          <div>
            <span class="text-uppercase">Approche Agile</span>
          </div>
        </div>
        <p>
          – Pour structurer le projet et garantir son succès, j’ai mis en place
          une <b>méthodologie Agile</b>, en organisant les tâches sous forme de
          <b>sprints</b>, avec des livraisons régulières à chaque itération.
          Cette approche nous a permis de
          <b>présenter des résultats concrets à la fin de chaque sprint</b>,
          tout en restant flexibles face aux changements et aux besoins
          évolutifs de l’entreprise.
        </p>
        <br />
        <p>
          – Pour une meilleure gestion du projet, j’ai également utilisé un
          <b>diagramme de Gantt</b> afin de visualiser les délais et les
          dépendances entre les tâches
        </p>

        <figure>
          <figcaption>
            Diagramme de GANTT – Planifications des tâches
          </figcaption>
          <img
            src="assets/img//LineosUserManager/gantt.png"
            class="img-fluid"
            alt=""
            style="border-radius: 20px; width: 100%"
          />
        </figure>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💫</h2>
          <div>
            <span class="text-uppercase">Phases du Projet et Mon Rôle</span>
          </div>
        </div>
        <h5 style="color: #f6bb67">
          1- Analyse des Besoins et Conception Initiale
        </h5>
        <ul>
          <li>
            <b>Analyse des écarts (Gap Analysis) :</b> J'ai effectué une analyse
            détaillée des écarts entre l'application legacy de gestion des
            utilisateurs et le nouvel outil proposé, identifiant les
            améliorations à apporter.
          </li>
          <li>
            <b>Spécifications fonctionnelles :</b> J'ai rédigé des
            spécifications sous forme de user stories, facilitant la
            compréhension des besoins entre l’équipe technique et les parties
            prenantes.
          </li>
          <li>
            <b>Maquettes avec Figma :</b> J'ai conçu des maquettes interactives
            pour l’outil autonome initial, donnant une vision claire des
            processus de gestion des utilisateurs.
          </li>

          <li>
            <b>Conception de diagrammes d'architecture système :</b> J'ai créé
            des diagrammes d'architecture pour l'application legacy ainsi que
            pour la solution proposée, permettant de comparer l'ancienne
            architecture avec la nouvelle solution.
          </li>
        </ul>
        <h5 class="d-flex pt-3" style="color: #d3d1d1; justify-content: center">
          🔹 Architecture Legacy – SF Central (application lourde) 🔹
        </h5>

        <img
          src="assets/img//LineosUserManager/legacyDiag.svg"
          class="card-img pb-4"
          alt="..."
        />
        <h5 class="d-flex pt-3" style="color: #d3d1d1; justify-content: center">
          🔹 Architecture de la solution autonome proposée – Lineos 3 User
          Manager 🔹
        </h5>

        <img
          src="assets/img//LineosUserManager/lineosDiag.svg"
          class="card-img pb-4"
          alt="..."
        />

        <h5 style="color: #f6bb67">
          2- Changement de Cap et Nouvelle Proposition
        </h5>
        <p>
          Suite à la validation des spécifications, les architectes ont proposé
          d’intégrer la gestion des utilisateurs dans <b>SUP_IAM</b> plutôt que
          de développer un nouvel outil.
        </p>
        <ul>
          <li>
            <b>Nouvelle analyse fonctionnelle :</b> J'ai réorienté mon analyse
            pour vérifier l’adaptabilité de SUP_IAM aux besoins de Lineos 3.
          </li>
          <li>
            <b>Gap Analysis SUP_IAM :</b> J'ai identifié les similitudes et les
            insuffisances de SUP_IAM par rapport au projet initial, en précisant
            les fonctionnalités à ajouter.
          </li>
        </ul>
        <h5 style="color: #f6bb67">
          3- Développement et Modifications Techniques
        </h5>
        <ul>
          <li>
            <b>Adaptation des modèles de SUP_IAM :</b>J'ai ajouté des nouveaux
            modèles de données et modifié les modèles de profils, utilisateurs
            et rôles pour y inclure de nouvelles propriétés spécifiques à Lineos
            3.
          </li>
          <li>
            Création de <b>nouveaux rôles administrateurs pour Lineos 3</b>,
            avec des droits spécifiques pour la gestion des utilisateurs et des
            profils.
          </li>
          <li>
            Ajout d’un <b>nouveau scope de type application</b> pour les rôles
            de l’administrateur Lineos, garantissant l’autonomie de gestion pour
            Lineos 3.
          </li>
        </ul>
        <h5 style="color: #f6bb67">
          4- Collaboration et Gestion des Parties Prenantes
        </h5>
        <ul>
          <li>
            <b>Réunions avec les responsables SUP_IAM</b> pour comprendre les
            fonctionnalités existantes et discuter des ajustements techniques
          </li>
          <li>
            Création de <b>nouveaux rôles administrateurs pour Lineos 3</b>,
            avec des droits spécifiques pour la gestion des utilisateurs et des
            profils.
          </li>
          <li>
            <b>Établissement de la feuille de route </b>pour les prochaines
            étapes de développement, en collaboration avec l'équipe SFNG et les
            parties prenantes de Lineos 3.
          </li>
        </ul>
        <div class="project-desc mt-4">
          <div class="actions">
            <a
              class="hero_btn"
              style="margin-left: auto; margin-right: auto"
              href="javascript:void(0);"
              (click)="openModal(imageModal2, imgURL)"
              ><div class="hero_btn_text">Exemple de User Story</div>
              <i
                class="fa-solid fa-file pb-1"
                style="align-items: center; justify-content: center"
              ></i>
            </a>
          </div>
        </div>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💻</h2>
          <div>
            <span>Prototypes et Maquettes </span>
          </div>
        </div>

        <h5 class="d-flex pt-3" style="color: #d3d1d1; justify-content: center">
          🔹Maquettes de la nouvelle outil proposée🔹
        </h5>
        <section id="interface" class="interface section pt-3 pb-3">
          <div class="container">
            <div class="isotope-layout">
              <div class="row gy-4 isotope-container">
                <div class="col-auto interface-item isotope-item filter-app">
                  <div class="interface-content h-100">
                    <img
                      #imageElement1
                      src="assets/img//LineosUserManager/login.svg"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p>Page - Login</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement1.src)"
                        title="App 1"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement2
                      src="assets/img//LineosUserManager/home.svg"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p>Page - Acceuil</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement2.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement3
                      src="assets/img//LineosUserManager/allUsers.svg"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p>Page - Gestion des utilisateurs</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement3.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement4
                      src="assets/img//LineosUserManager/addUser.svg"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p>Page - Création d'un nouvel utilisateur</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement4.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement5
                      src="assets/img//LineosUserManager/addRole.svg"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p>Page - Affectation des rôles à un utilisateur</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement5.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement6
                      src="assets/img//LineosUserManager/linkUserToClient.svg"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p>Page - Attribution utilisateur à un client</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement6.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement5
                      src="assets/img//LineosUserManager/addRole.svg"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p>Page - Récapitulatif de création utilisateur</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement5.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement6
                      src="assets/img//LineosUserManager/roleMangement.svg"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p>Page - Gestion des rôles et des droits</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement6.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
              </div>
              <!-- End interface Container -->

              <!-- Template for the modal -->
              <ng-template #imageModal let-modal>
                <div class="modal-header">
                  <h4 class="modal-title"></h4>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  ></button>
                </div>
                <div class="modal-body text-center">
                  <img [src]="selectedImage" class="img-fluid" style="max-height: 650px;"/>
                </div>
              </ng-template>
              <!-- Template for the modal -->
              <ng-template #imageModal2 let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">
                    US : Accès à la page gestion des utilisateurs Lineos 3
                  </h4>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  ></button>
                </div>
                <div
                  class="modal-body text-center"
                  style="
                    height: 540px;
                    overflow-y: scroll;
                    overscroll-behavior-y: contain;
                  "
                >
                  <img [src]="selectedImage" class="img-fluid" />
                </div>
              </ng-template>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!--exercice-->
    <div class="container">
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🎯</h2>
          <div>
            <span class="text-uppercase">Résultats Obtenus </span>
          </div>
        </div>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Aspect</th>
              <th scope="col">Détails</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="aspect">Sur le Projet</th>
              <td>
                <tr>
                  <td>
                    <b>Centralisation Optimisée :</b> L’intégration de la
                    gestion des utilisateurs de Lineos 3 dans SUP_IAM a
                    centralisé les accès et droits pour plusieurs applications,
                    offrant une meilleure traçabilité et efficacité.
                  </td>
                </tr>
                <hr />
                <tr>
                  <td>
                    <b>Simplification des Processus :</b> L’approche évitant la
                    création d’un nouvel outil autonome a réduit les risques
                    d'erreurs tout en simplifiant la gestion des accès.
                  </td>
                </tr>
              </td>
            </tr>
            <tr>
              <th scope="row" class="aspect">Sur Moi</th>
              <td>
                <tr>
                  <td>
                    <b>Compétences Techniques Renforcée :</b> J'ai développé mes
                    compétences en <b>C#</b>, <b>.NET 8</b>,
                    <b>PostgreSQL</b>
                  </td>
                </tr>
                <hr />
                <tr>
                  <td>
                    <b>Expérience en Méthodes Agiles :</b> En adoptant une
                    gestion agile, j'ai affiné mes capacités à planifier,
                    organiser des sprints et travailler en équipe.
                  </td>
                </tr>
                <hr />
                <tr>
                  <td>
                    <b>Spécifications fonctionnelles et User Stories :</b> J'ai
                    appris à rédiger des specs fonctionnelles et à structurer
                    des user stories de manière claire et efficace pour que
                    toutes les parties prenantes soient alignées
                  </td>
                </tr>
                <hr />
                <tr>
                  <td>
                    <b>Maîtrise de Figma :</b> J’ai également acquis des
                    compétences en conception UX/UI avec Figma, ce qui m’a
                    permis de traduire les besoins fonctionnels en interfaces
                    claires et utilisables.
                  </td>
                </tr>
                <hr />
                <tr>
                  <td>
                    <b>Collaboration Inter-équipe :</b> J’ai amélioré mes
                    compétences en communication en travaillant étroitement avec
                    les équipes SFNG et SF4v1.
                  </td>
                </tr>
              </td>
            </tr>
            <tr>
              <th scope="row" class="aspect">Sur l'Entreprise</th>
              <td>
                <tr>
                  <td>
                    <b>Gain de Temps et de Ressources :</b> L'entreprise a évité
                    la création d’un outil supplémentaire tout en répondant aux
                    besoins spécifiques de l’équipe SF4v1.
                  </td>
                </tr>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🔎</h2>
          <div>
            <span class="text-uppercase">Lendemains du Projet </span>
          </div>
        </div>
        <ul>
          <li>
            <b style="text-decoration: underline">Aujourd'hui</b> : Les
            premières étapes de développement sont en cours, avec l'intégration
            des nouvelles propriétés dans les modèles de SUP_IAM et la mise à
            jour des modèles existants.
          </li>
          <li>
            <b style="text-decoration: underline">À Court Terme</b> : Finaliser
            l'intégration complète du module Lineos 3 dans SUP_IAM avec les
            nouvelles fonctionnalités prévues, en adaptant les interfaces
            utilisateurs.
          </li>
          <li>
            <b style="text-decoration: underline">À Long Terme</b> :
            L'intégration réussie de Lineos 3 dans SUP_IAM pourrait servir de
            modèle pour d'autres applications au sein de l'entreprise,
            permettant ainsi une gestion centralisée des utilisateurs sur
            plusieurs systèmes en parallèle.
          </li>
        </ul>
      </div>
      <div class="container pt-3">
        <div class="header_line_gradient"></div>
        <div class="action-git pt-3">
          <a routerLink="/work" class="git-btn"
            ><div class="git-btn-text">Mes réalisations</div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- interface Section -->

  <!-- /interface Section -->

  <!-- /exercice Section -->
</main>
<app-scroll-top></app-scroll-top>
