<main class="main-wrapper">
  <!-- Page Title -->
  <div class="page-title">
    <div class="heading">
      <div class="container">
        <div class="text-title">
          <h5>
            Lineos 3 User Manager – Intégration SUP_IAM
            <div class="section-sous-title pb-3">
              <h2 style="color: #bababa; position: absolute; font-size: 12px">
                Dekra Automotive Solutions
              </h2>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row g-2" style="justify-content: center">
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Gestion des Utilisateurs</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Gap Analysis</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Environnement Agile</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Conception Technique et Diagrammes
            </span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Spécifications Fonctionnelles</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Maquettes UI avec Figma </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page - Title -->
  <section id="project#MedHead" class="section project-medHeadPoc-section">
    <div class="container">
      <img src="assets/img/LineosUserManager/landing.svg" controls class="card-img" alt="..."
        style="border-radius: 25px; cursor: pointer" />
      <div class="row g-2 g-lg-3 pt-5 pb-5">
        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Contexte du Projet</h5>
            <p class="justify">– Alternance Développeur IT</p>
            <p class="justify">– Migration et Optimisation d'une Application Legacy</p>
            <p class="justify">– Gestion des Utilisateurs et des Droits d'Accès</p>
          </div>
        </div>

        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Compétences Techniques</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/dot-net']">.NET 8</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/postgreSql']">PostgreSQL</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/git']">Git</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/figma']">Figma</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Compétences Transversales</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/adaptabilite']">Adaptabilité</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/agilite']">Agilité</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/collaboration-equipe']">Collaboration en équipe</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/problem-resolution']">Résolution des problèmes</a>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <a [routerLink]="['/gestion-temps']">Gestion du Temps</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Rôle</h5>
            <p class="justify">– Réalisation des Spécifications Fonctionnelles</p>
            <p class="justify">– Maquettage UX avec Figma</p>
            <p class="justify">– Analyse de Gap Technique</p>
            <p class="justify">– Développement et Adaptation des Modèles de BDD</p>
          </div>
        </div>
      </div>
      <div class="aperçu">
        <div class="section-sous-title pb-3">
          <h2>APERÇU</h2>
          <div>
            <span>CONTEXTE DU PROJET </span>
          </div>
        </div>
        <p class="justify">Dans le cadre de mon <strong>alternance en ingénierie logicielle</strong> chez
          <strong>Dekra</strong>, j’ai
          participé à un <strong>projet transverse de migration et d’évolution</strong> du système de gestion des
          utilisateurs de <strong>Lineos 3</strong>. Cette initiative s’inscrivait dans une stratégie globale visant à
          <strong>moderniser et sécuriser les accès</strong> des utilisateurs aux différentes plateformes internes.
        </p>

        <p class="justify">Historiquement, la gestion des utilisateurs reposait sur <strong>Startfleet Central</strong>,
          une solution
          centralisée permettant d’administrer les accès sur plusieurs systèmes (<strong>Startfleet 3</strong>,
          <strong>Lineos</strong>, <strong>SF Centrale</strong>). Cependant, cette <strong>architecture
            monolithique</strong> montrait des limites importantes, notamment en termes de <strong>sécurité</strong>, de
          <strong>flexibilité</strong> et d’<strong>ergonomie</strong>. Avec l’augmentation du volume d’utilisateurs et
          l’évolution des besoins métiers, l’outil n’était plus en mesure de répondre efficacement aux exigences des
          administrateurs et des équipes métier.
        </p>

        <p class="justify">Plusieurs <strong>problèmes majeurs</strong> ont été identifiés :</p>

        <ul>
          <li class="justify">Un <strong>manque de sécurité</strong> avec l’utilisation d’un <strong>mot de passe
              administrateur
              unique</strong>, augmentant les risques d’accès non autorisés.</li>
          <li class="justify">Une <strong>gestion rigide des permissions</strong>, empêchant une attribution fine des
            rôles et des
            accès.</li>
          <li class="justify">Une <strong>traçabilité insuffisante</strong>, limitant la capacité de suivi des actions
            des
            administrateurs.</li>
          <li class="justify">Une <strong>interface obsolète</strong>, rendant la gestion des utilisateurs complexe et
            source d’erreurs.
          </li>
        </ul>

        <p class="justify">Face à ces défis, la direction technique a décidé de <strong>repenser entièrement la gestion
            des identités et
            des accès</strong> en intégrant <strong>SUP_IAM</strong>, une plateforme déjà utilisée au sein de
          <strong>Dekra</strong> pour d’autres applications stratégiques. Cette transition avait pour objectif de
          <strong>renforcer la sécurité</strong>, <strong>automatiser l’administration des comptes</strong>, et
          <strong>améliorer l’expérience utilisateur</strong> pour les équipes en charge de la gestion des accès.
        </p>

        <p class="justify">En tant que <strong>développeur alternant</strong>, j’ai été impliqué tout au long du projet,
          depuis
          <strong>l’analyse des besoins</strong> jusqu’à <strong>l’implémentation technique</strong> et
          <strong>l’intégration des nouvelles fonctionnalités</strong>. Ce projet a représenté une opportunité
          d’appliquer mes compétences en <strong>développement back-end</strong>, en <strong>sécurité des systèmes
            d’information</strong>, ainsi qu’en <strong>gestion des accès et des identités</strong> au sein d’un
          environnement <strong>Agile Scrum</strong>.
        </p>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">📖</h2>
          <div>
            <span class="text-uppercase">Description du Projet
            </span>
          </div>
        </div>
        <p class="justify">Le projet consistait à <strong>migrer et moderniser le système de gestion des utilisateurs et
            des droits
            d’accès</strong> de l’application <strong>Lineos 3</strong>, en remplaçant l’ancien dispositif
          <strong>Startfleet Central</strong> par une solution plus robuste et évolutive, reposant sur la plateforme
          <strong>SUP_IAM</strong>.
        </p>

        <p class="justify"><strong>Lineos 3</strong> est une plateforme de vente de véhicules pour divers
          concessionnaires automobiles.
          Sa bonne exploitation dépend fortement d'une <strong>gestion précise et sécurisée des utilisateurs</strong>,
          notamment pour
          l’attribution des accès aux différents environnements et contrats métiers.</p>

        <p class="justify">L’objectif était donc d’<strong>intégrer la gestion des identités et des
            autorisations</strong> de
          <strong>Lineos 3</strong> au sein de <strong>SUP_IAM</strong>, un système centralisé de gestion des accès déjà
          opérationnel dans l’écosystème <strong>Dekra</strong>. Cette intégration a permis d’<strong>harmoniser les
            processus d’authentification</strong> grâce à l’utilisation de <strong>Keycloak</strong> pour la gestion des
          sessions et d’<strong>Azure AD B2C</strong> pour l’<strong>authentification unique (SSO)</strong> via les
          comptes <strong>Dekra</strong>.
        </p>

        <p class="justify">En parallèle, le projet a également introduit un <strong>découpage précis des rôles et des
            permissions</strong> grâce à <strong>Open Policy Agent (OPA)</strong>, garantissant ainsi un
          <strong>contrôle fin et dynamique des accès</strong> selon les besoins métiers.
        </p>

        <p class="justify">Techniquement, l’application repose sur une <strong>architecture en microservices</strong>,
          principalement
          développée en <strong>.NET 8</strong> avec une base de données <strong>PostgreSQL</strong>. La gestion des
          accès et des rôles est assurée via des <strong>APIs sécurisées et interconnectées</strong>, permettant un
          <strong>provisionnement automatique des utilisateurs</strong> et une <strong>synchronisation continue</strong>
          avec les systèmes existants.
        </p>

        <p class="justify">Au-delà des aspects techniques, ce projet visait également à <strong>améliorer l’expérience
            des
            administrateurs</strong> grâce à la <strong>refonte des interfaces de gestion</strong> sur la base de
          maquettes élaborées avec <strong>Figma</strong>. Ces interfaces ont été pensées pour offrir une
          <strong>navigation plus fluide</strong>, des <strong>filtres de recherche avancés</strong> et une
          <strong>meilleure visualisation des droits attribués</strong> aux utilisateurs, afin de <strong>faciliter la
            gestion quotidienne</strong> et de <strong>limiter les erreurs humaines</strong>.
        </p>

        <p class="justify">En résumé, ce projet a permis de répondre aux <strong>exigences croissantes de sécurité et de
            flexibilité</strong>, tout en <strong>simplifiant et en fiabilisant l’administration des
            utilisateurs</strong> de <strong>Lineos 3</strong>, au service de la <strong>performance
            opérationnelle</strong> de l’entreprise.</p>


      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🚨</h2>
          <div>
            <span class="text-uppercase">Objectifs du projet</span>
          </div>
        </div>
        <p class="justify">Le projet avait pour ambition principale de <strong>remplacer le système obsolète de gestion
            des utilisateurs
            de Lineos 3</strong>, devenu inadapté aux enjeux de <strong>sécurité</strong> et de
          <strong>performance</strong> actuels. Cette refonte devait permettre d’offrir une solution plus
          <strong>robuste</strong>, <strong>évolutive</strong> et <strong>sécurisée</strong>, répondant précisément aux
          besoins des <strong>équipes métier</strong> et <strong>techniques</strong>.
        </p>

        <p class="justify">L’intégration de <strong>SUP_IAM</strong> avait pour objectif de <strong>centraliser la
            gestion des identités
            et des accès</strong>, de <strong>standardiser les processus d’authentification</strong> grâce à
          <strong>Azure AD B2C</strong>, et d’assurer une <strong>traçabilité complète</strong> des actions réalisées
          par les administrateurs. Ce choix stratégique permettait également de <strong>limiter la multiplication des
            outils internes</strong> et de <strong>simplifier l’écosystème applicatif</strong>.
        </p>

        <p class="justify">Au-delà de la sécurité et de la centralisation, le projet visait à <strong>améliorer
            l’expérience
            utilisateur</strong>, en proposant des <strong>interfaces modernisées et plus intuitives</strong>,
          facilitant la gestion des <strong>comptes</strong>, des <strong>rôles</strong> et des
          <strong>permissions</strong>, tout en réduisant le <strong>risque d’erreurs</strong> et le <strong>temps
            consacré aux opérations administratives</strong>.
        </p>

        <p class="justify">Enfin, cette refonte s’inscrivait dans une démarche globale d’<strong>urbanisation des
            systèmes
            d’information</strong> de <strong>Dekra</strong>, avec pour objectif de garantir une meilleure
          <strong>interopérabilité</strong>, une <strong>maintenance simplifiée</strong> et une <strong>capacité
            d’évolution à long terme</strong>.
        </p>

      </div>

      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🔑</h2>
          <div>
            <span class="text-uppercase">Fonctionnalités principales</span>
          </div>
        </div>
        <p class="justify">Le projet a permis de développer plusieurs <strong>fonctionnalités essentielles</strong> pour
          assurer une
          <strong>gestion sécurisée</strong>, <strong>centralisée</strong> et <strong>efficace</strong> des utilisateurs
          de <strong>Lineos 3</strong> :
        </p>

        <ul>
          <li class="justify"><strong>Authentification unique (SSO)</strong> via <strong>Azure AD B2C</strong> et
            <strong>Keycloak</strong>, garantissant un accès sécurisé avec les identifiants <strong>Dekra</strong>, tout
            en simplifiant l’expérience utilisateur.
          </li>
          <li class="justify"><strong>Provisionnement automatisé des utilisateurs</strong> dans
            <strong>SUP_IAM</strong>, avec
            synchronisation vers <strong>Lineos 3</strong>, réduisant ainsi les interventions manuelles et les risques
            d’erreur.
          </li>
          <li class="justify"><strong>Gestion avancée des rôles et permissions</strong>, permettant de définir des
            droits précis par
            application et de cloisonner les accès selon les périmètres métier.</li>
          <li class="justify"><strong>Filtrage dynamique des accès</strong>, afin que chaque administrateur visualise
            uniquement les
            utilisateurs et rôles correspondant à son périmètre applicatif.</li>
          <li class="justify"><strong>Journalisation complète des actions</strong>, assurant la traçabilité et la
            sécurité des
            opérations réalisées par les administrateurs.</li>
          <li class="justify"><strong>Interfaces utilisateur adaptées</strong>, conçues avec l’équipe
            <strong>UX/UI</strong> pour
            faciliter la navigation, améliorer la recherche et optimiser la gestion des comptes.
          </li>
        </ul>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">⚠️</h2>
          <div>
            <span class="text-uppercase">Enjeux et Risques</span>
          </div>
        </div>

        <h4 style="color: #f6bb67">Enjeux majeurs</h4>

        <p class="justify">Le principal enjeu du projet était de garantir une <strong>gestion sécurisée, fiable et
            centralisée des
            identités</strong> pour l’application <strong>Lineos 3</strong>, tout en intégrant ces besoins dans la
          solution existante <strong>SUP_IAM</strong>. L’objectif était d’assurer une <strong>gestion fine des rôles et
            des permissions</strong>, sans compromettre la performance ni la stabilité de la plateforme.</p>

        <p class="justify">Un autre enjeu important résidait dans la nécessité de <strong>rationaliser l’écosystème
            applicatif</strong>
          de <strong>Dekra</strong>, en évitant la multiplication des outils et en favorisant la mutualisation des
          services existants. Cela impliquait une adaptation précise de <strong>SUP_IAM</strong> pour répondre aux
          spécificités métiers de <strong>Lineos 3</strong>, sans alourdir l’ensemble du système.</p>

        <p class="justify">Enfin, il s’agissait également d’<strong>améliorer l’expérience utilisateur</strong> des
          administrateurs, en
          proposant des <strong>interfaces claires et intuitives</strong>, capables de simplifier les tâches
          quotidiennes et de limiter les erreurs humaines.</p>

        <h4 style="color: #f6bb67">Risques identifiés et gestion</h4>

        <p class="justify">Plusieurs risques ont été anticipés et maîtrisés tout au long du projet :</p>

        <ul>
          <li class="justify"><strong>Complexité technique de l’intégration</strong> : Adapter <strong>SUP_IAM</strong>
            pour gérer des
            applications multiples et des rôles spécifiques nécessitait une évolution profonde de son modèle de données.
            Ce risque a été réduit grâce à une <strong>approche itérative</strong> et des <strong>validations
              régulières</strong> à chaque sprint.</li>
          <li class="justify"><strong>Perte de données ou incohérences lors du provisionnement</strong> : La migration
            et la
            synchronisation des utilisateurs ont été sécurisées par des <strong>phases de tests intensifs</strong> et la
            mise en place de <strong>mécanismes de contrôle automatique</strong>.</li>
          <li class="justify"><strong>Résistance au changement des administrateurs</strong> : Des <strong>ateliers de
              démonstration</strong> et des <strong>formations</strong> ont été organisés pour faciliter l’adoption
            progressive des nouvelles fonctionnalités et garantir leur bonne appropriation par les utilisateurs finaux.
          </li>
          <li class="justify"><strong>Impact sur les autres systèmes connectés</strong> : L’intégration a été pensée
            pour respecter
            l’<strong>architecture globale</strong> de <strong>Dekra</strong>, avec des <strong>mécanismes de
              cloisonnement strict</strong> des accès pour éviter tout effet de bord.</li>
        </ul>



      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🔁</h2>
          <div>
            <span class="text-uppercase">Processus de mise en œuvre</span>
          </div>
        </div>

        <p class="justify">Le projet a été mené dans un environnement <strong>Agile Scrum</strong>, favorisant une
          collaboration étroite
          entre les <strong>équipes techniques, métiers et architectes</strong>. Cette organisation m’a permis d’être
          pleinement impliqué à chaque étape, avec un suivi cadencé par des <strong>sprints de deux semaines</strong>,
          ponctués de <strong>réunions quotidiennes</strong>, de <strong>revues régulières</strong> et de
          <strong>démonstrations</strong> auprès des parties prenantes. Cette approche a garanti une progression
          maîtrisée du projet, avec des ajustements continus en fonction des retours métier et techniques.
        </p>
        <br />
        <p class="justify">
          – Pour une meilleure gestion du projet, j’ai également utilisé un
          <b>diagramme de Gantt</b> afin de visualiser les délais et les
          dépendances entre les tâches
        </p>

        <figure>
          <figcaption>
            Diagramme de GANTT – Planifications des tâches
          </figcaption>
          <img src="assets/img/LineosUserManager/gantt.png" class="img-fluid" alt=""
            style="border-radius: 20px; width: 100%" />
        </figure>

        <h4 style="color: #f6bb67">Phase 1 :Analyse de l’existant</h4>

        <p class="justify">La première phase du projet a été consacrée à l’analyse approfondie du système
          <strong>Startfleet
            Central</strong>, afin d’identifier ses limites et ses dysfonctionnements. J’ai ainsi participé à des
          <strong>sessions de tests techniques</strong>, à l’étude des documentations existantes et à de nombreux
          échanges avec les <strong>administrateurs métier</strong> pour recueillir leurs retours et leurs attentes.
        </p>

        <p class="justify">Cette analyse a permis de mettre en évidence plusieurs problématiques majeures :</p>

        <ul>
          <li class="justify">Un niveau de <strong>sécurité insuffisant</strong>, marqué par l’absence
            d’<strong>authentification unique
              (SSO)</strong>, l’usage de <strong>mots de passe visibles et partagés</strong>, et un <strong>manque de
              traçabilité</strong> des actions.</li>
          <li class="justify">Une <strong>gestion rigide des accès</strong>, sans possibilité de personnaliser finement
            les droits et
            sans hiérarchisation des niveaux d’autorisation.</li>
          <li class="justify">Une <strong>interface obsolète</strong>, peu ergonomique, rendant la gestion des
            utilisateurs complexe et
            chronophage, avec l’absence de filtres et de recherches avancées.</li>
        </ul>

        <h4 style="color: #f6bb67">Phase 2 :Conception de la première solution</h4>

        <p class="justify">Pour répondre à ces limitations, j’ai participé à la conception d’une première solution
          autonome, baptisée
          <strong>Lineos 3 User Manager</strong>, destinée à permettre aux <strong>administrateurs métier</strong> de
          gérer les utilisateurs et leurs droits de manière indépendante.
        </p>

        <h5 class="d-flex pt-3" style="color: #d3d1d1; justify-content: center">
          🔹 Architecture Legacy – SF Central (application lourde) 🔹
        </h5>

        <img src="assets/img/LineosUserManager/legacyDiag.svg" class="card-img pb-4" alt="..." />
        <h5 class="d-flex pt-3" style="color: #d3d1d1; justify-content: center">
          🔹 Architecture de la solution autonome proposée – Lineos 3 User
          Manager 🔹
        </h5>

        <img src="assets/img/LineosUserManager/lineosDiag.svg" class="card-img pb-4" alt="..." />

        <p class="justify">Avec l’appui des <strong>équipes métier</strong> et <strong>UX/UI</strong>, nous avons défini
          les besoins
          fonctionnels et conçu les premières maquettes via <strong>Figma</strong>, afin de proposer une
          <strong>interface intuitive</strong>, moderne et conforme à la charte graphique de <strong>Dekra</strong>.
          L’objectif était de garantir une <strong>gestion sécurisée et flexible des accès</strong>, notamment par
          l’intégration de l’authentification via <strong>Azure AD B2C</strong> et la mise en place de <strong>rôles
            hiérarchisés</strong>, avec un profil <strong>SuperAdmin</strong> chargé de superviser l’ensemble des
          administrateurs.
        </p>

        <p class="justify">Malgré l’intérêt fonctionnel de cette solution, la direction technique a finalement
          privilégié une approche
          de <strong>rationalisation des outils</strong>, conduisant à l’intégration des besoins spécifiques de
          <strong>Lineos 3</strong> directement au sein de la plateforme <strong>SUP_IAM</strong>.
        </p>

        <h4 style="color: #f6bb67">Phase 3 :Adaptation à la solution SFNG (SUP_IAM)</h4>

        <p class="justify">Suite à ce changement d’orientation, j’ai été impliqué dans l’adaptation de
          <strong>SUP_IAM</strong> pour
          répondre aux exigences métier de <strong>Lineos 3</strong>. Cette phase a nécessité des <strong>évolutions
            structurantes</strong> sur la plateforme existante, afin d’y intégrer la gestion des utilisateurs et des
          droits liés à <strong>Lineos 3</strong>.
        </p>

        <p class="justify">Dans ce cadre, j’ai contribué à la <strong>rédaction des spécifications
            fonctionnelles</strong>, essentielles
          pour encadrer l’évolution de <strong>SUP_IAM</strong>. Organisées selon les standards Agile, ces
          spécifications prenaient la forme de <strong>User Stories</strong>, permettant d’assurer une compréhension
          partagée entre les équipes techniques et métiers. J’ai notamment travaillé à :</p>

        <ul>
          <li class="justify">Découper les fonctionnalités attendues en <strong>Epics</strong> et
            <strong>Features</strong>, afin de
            planifier leur développement par itérations.
          </li>
          <li class="justify">Décrire précisément les <strong>règles métiers</strong>, les <strong>critères
              d’acceptation</strong> et
            les <strong>cas de tests</strong> pour chaque User Story.</li>
          <li class="justify">Valider, en collaboration avec l’équipe <strong>UX/UI</strong>, les maquettes
            fonctionnelles adaptées à
            <strong>SUP_IAM</strong>, afin de proposer une <strong>expérience utilisateur cohérente</strong> avec
            l’écosystème existant.
          </li>
        </ul>
        <div class="project-desc mt-4">
          <div class="actions">
            <a class="hero_btn" style="margin-left: auto; margin-right: auto" href="javascript:void(0);"
              (click)="openModal(imageModal2, imgURL)">
              <div class="hero_btn_text">Exemple de User Story</div>
              <i class="fa-solid fa-file pb-1" style="align-items: center; justify-content: center"></i>
            </a>
          </div>
        </div><br />
        <p class="justify">Sur le plan technique, j’ai également participé à :</p>

        <ul>
          <li class="justify">L’évolution des <strong>modèles de données</strong> pour permettre la gestion
            multi-applications.</li>
          <li class="justify">La mise en place du <strong>provisionnement automatique des utilisateurs</strong>.</li>
          <li class="justify">L’adaptation des <strong>rôles et permissions</strong> pour couvrir les spécificités
            métiers de
            <strong>Lineos 3</strong>.
          </li>
          <li class="justify">L’ajout de <strong>mécanismes de filtrage dynamique</strong> et la <strong>sécurisation
              des
              accès</strong>, afin que chaque administrateur n’ait de visibilité que sur les utilisateurs et rôles de
            son périmètre.</li>
        </ul>

        <p class="justify">Tout au long de cette adaptation, l’approche <strong>Agile</strong> a facilité l’intégration
          progressive des
          ajustements nécessaires, avec des <strong>validations régulières</strong> et des <strong>échanges
            constants</strong> avec les utilisateurs clés, assurant ainsi la réussite de l’intégration de <strong>Lineos
            3</strong> dans <strong>SUP_IAM</strong>.</p>
      </div>

      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🧑🏽‍💻</h2>
          <div>
            <span class="text-uppercase">Acteurs du projet </span>
          </div>
        </div>
        <p class="justify">Le projet a mobilisé plusieurs <strong>équipes aux expertises complémentaires</strong>,
          assurant sa réussite
          à chaque étape.</p>

        <p class="justify">En tant que <strong>développeur alternant</strong> chez <strong>Dekra</strong>, j’ai
          contribué à
          <strong>l’analyse des besoins</strong>, à la <strong>rédaction des spécifications fonctionnelles</strong>,
          ainsi qu’au <strong>développement et à l’intégration</strong> des évolutions spécifiques de <strong>Lineos
            3</strong> dans <strong>SUP_IAM</strong>, tout en travaillant en étroite collaboration avec les équipes
          techniques et métiers.
        </p>

        <p class="justify">Les autres acteurs clés du projet étaient :</p>

        <ul>
          <li class="justify"><strong>Les administrateurs SF4</strong>, qui ont exprimé les besoins métier et validé les
            fonctionnalités
            mises en place.</li>
          <li class="justify"><strong>L’équipe SFNG</strong>, responsable de <strong>SUP_IAM</strong>, avec qui j’ai
            coordonné les
            adaptations techniques nécessaires.</li>
          <li class="justify"><strong>Les architectes logiciels</strong>, garants de la cohérence et de la sécurité de
            l’intégration
            dans l’écosystème existant.</li>
          <li class="justify"><strong>L’équipe UX/UI</strong>, qui a accompagné la conception des interfaces pour
            garantir une
            <strong>expérience utilisateur fluide</strong> et conforme aux standards <strong>Dekra</strong>.
          </li>
        </ul>

        <p class="justify">Cette <strong>collaboration rapprochée</strong> a permis d’assurer un <strong>alignement
            constant</strong>
          entre les <strong>attentes métiers</strong> et les <strong>solutions techniques</strong> mises en œuvre.</p>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💻</h2>
          <div>
            <span>Prototypes et Maquettes </span>
          </div>
        </div>

        <h5 class="d-flex pt-3" style="color: #d3d1d1; justify-content: center">
          🔹Maquettes de la nouvelle outil proposée🔹
        </h5>
        <section id="interface" class="interface section pt-3 pb-3">
          <div class="container">
            <div class="isotope-layout">
              <div class="row gy-4 isotope-container">
                <div class="col-auto interface-item isotope-item filter-app">
                  <div class="interface-content h-100">
                    <img #imageElement1 src="assets/img/LineosUserManager/login.svg" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p class="justify">Page - Login</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement1.src)" title="App 1"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement2 src="assets/img/LineosUserManager/home.svg" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p class="justify">Page - Acceuil</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement2.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement3 src="assets/img/LineosUserManager/allUsers.svg" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p class="justify">Page - Gestion des utilisateurs</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement3.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement4 src="assets/img/LineosUserManager/addUser.svg" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p class="justify">Page - Création d'un nouvel utilisateur</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement4.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement5 src="assets/img/LineosUserManager/addRole.svg" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p class="justify">Page - Affectation des rôles à un utilisateur</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement5.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement6 src="assets/img/LineosUserManager/linkUserToClient.svg" class="img-fluid"
                      alt="" />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p class="justify">Page - Attribution utilisateur à un client</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement6.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement5 src="assets/img/LineosUserManager/addRole.svg" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p class="justify">Page - Récapitulatif de création utilisateur</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement5.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement6 src="assets/img/LineosUserManager/roleMangement.svg" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Figma</h4>
                      <p class="justify">Page - Gestion des rôles et des droits</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement6.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
              </div>
              <!-- End interface Container -->

              <!-- Template for the modal -->
              <ng-template #imageModal let-modal>
                <div class="modal-header">
                  <h4 class="modal-title"></h4>
                  <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body text-center">
                  <img [src]="selectedImage" class="img-fluid" style="max-height: 650px;" />
                </div>
              </ng-template>
              <!-- Template for the modal -->
              <ng-template #imageModal2 let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">
                    US : Accès à la page gestion des utilisateurs Lineos 3
                  </h4>
                  <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body text-center" style="
                    height: 540px;
                    overflow-y: scroll;
                    overscroll-behavior-y: contain;
                  ">
                  <img [src]="selectedImage" class="img-fluid" />
                </div>
              </ng-template>
            </div>
          </div>
        </section>
      </div>

      <!--exercice-->
      <div class="container">
        <div class="aperçu mt-5">
          <div class="section-sous-title pb-3">
            <h2 style="color: #fafafa">🎯</h2>
            <div>
              <span class="text-uppercase">Résultats Obtenus </span>
            </div>
          </div>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Aspect</th>
                <th scope="col">Détails</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="aspect">Sur le Projet</th>
                <td class="justify">
              <tr>
                <td class="justify">
                  <b>Centralisation Optimisée :</b> L’intégration de la gestion des utilisateurs de <strong>Lineos
                    3</strong> dans
                  <strong>SUP_IAM</strong> a permis de centraliser les accès et les droits pour plusieurs applications,
                  renforçant ainsi
                  la traçabilité, la sécurité et l’efficacité opérationnelle.
                </td>
              </tr>
              <hr />
              <tr>
                <td class="justify">
                  <b>Simplification des Processus :</b> En évitant la création d’un outil autonome, le projet a réduit
                  la complexité du système d’information et limité les risques d’erreurs, tout en simplifiant la gestion
                  quotidienne des accès pour les administrateurs.
                </td>
              </tr>
              </td>
              </tr>
              <tr>
                <th scope="row" class="aspect">Sur Moi</th>
                <td class="justify">
              <tr>
                <td class="justify">
                  <b>Renforcement des compétences techniques :</b> J’ai développé mes compétences sur des technologies
                  clés telles que <b>C#</b>, <b>.NET 8</b> et <b>PostgreSQL</b>, en participant activement aux
                  évolutions de SUP_IAM.
                </td>
              </tr>
              <hr />
              <tr>
                <td class="justify">
                  <b>Maîtrise des méthodes Agile :</b> Grâce à ce projet, j’ai approfondi ma pratique de l’Agilité, en
                  contribuant à la planification et à l’organisation des sprints, tout en travaillant efficacement en
                  équipe.
                </td>
              </tr>
              <hr />
              <tr>
                <td class="justify">
                  <b>Rédaction de spécifications fonctionnelles :</b> J’ai appris à formaliser les besoins sous forme de
                  <b>User Stories</b> claires et structurées, garantissant l’alignement entre les équipes métier et
                  technique.
                </td>
              </tr>
              <hr />
              <tr>
                <td class="justify">
                  <b>Conception UX/UI :</b> J’ai acquis de solides compétences sur <b>Figma</b>, qui m’ont permis de
                  concevoir
                  des interfaces intuitives et adaptées aux besoins des utilisateurs finaux.
                </td>
              </tr>
              <hr />
              <tr>
                <td class="justify">
                  <b>Collaboration Inter-équipe :</b> Ce projet m’a permis de renforcer mes capacités de communication
                  et de coordination avec les équipes <b>SFNG</b> et <b>SF4v1</b>, en assurant une collaboration fluide
                  sur l’ensemble
                  du cycle de développement
                </td>
              </tr>
              </td>
              </tr>
              <tr>
                <th scope="row" class="aspect">Sur l'Entreprise</th>
                <td class="justify">
              <tr>
                <td class="justify">
                  <b>Gain de Temps et de Ressources :</b> L’entreprise a gagné en efficacité en évitant le développement
                  et la maintenance d’une application supplémentaire, tout en répondant précisément aux besoins
                  spécifiques de l’équipe SF4v1 grâce à la mutualisation des outils existants
                </td>
              </tr>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="aperçu mt-5">
          <div class="section-sous-title pb-3">
            <h2 style="color: #fafafa">🚀</h2>
            <div>
              <span class="text-uppercase"> Perspectives d’évolution </span>
            </div>
          </div>

          <p class="justify">Bien que le projet ait permis d’intégrer avec succès la gestion des utilisateurs de
            <strong>Lineos
              3</strong> dans <strong>SUP_IAM</strong>, plusieurs pistes d’amélioration et d’évolution ont été
            identifiées pour renforcer la solution à moyen et long terme :
          </p>

          <ul>
            <li class="justify"><strong>Renforcement du modèle de permissions</strong> : Poursuivre l’affinement des
              rôles et des droits
              d’accès grâce à la mise en place d’un <strong>modèle RBAC</strong> (Role-Based Access Control) plus
              granulaire, pour répondre aux cas métiers complexes et sécuriser davantage les accès sensibles.</li>

            <li class="justify"><strong>Extension à d’autres applications</strong> : Capitaliser sur l’intégration
              réussie de
              <strong>Lineos 3</strong> pour étendre le modèle à d’autres outils internes, favorisant ainsi une
              <strong>gestion unifiée des identités</strong> à l’échelle de l’entreprise.
            </li>

            <li class="justify"><strong>Automatisation avancée</strong> : Développer de nouveaux mécanismes
              d’automatisation pour le
              provisionnement et la mise à jour des comptes utilisateurs, afin de limiter encore davantage les
              <strong>interventions manuelles</strong> et les <strong>risques d'erreurs</strong>.
            </li>

            <li class="justify"><strong>Amélioration des interfaces</strong> : Continuer à optimiser
              l’<strong>expérience
                utilisateur</strong> avec des interfaces toujours plus ergonomiques, intégrant des <strong>outils de
                recherche, de filtrage et de reporting avancés</strong> pour faciliter l’administration quotidienne.
            </li>

            <li class="justify"><strong>Mise en place de tableaux de bord</strong> : Ajouter des <strong>modules de
                suivi et de
                reporting</strong> pour offrir aux administrateurs une vision claire de l’état des accès, des actions
              réalisées et des éventuelles anomalies à traiter.</li>
          </ul>

          <p class="justify">Ces évolutions permettront de garantir la <strong>pérennité de la solution</strong> et
            d’accompagner les
            futures exigences métiers et techniques, tout en poursuivant l’objectif global de <strong>rationalisation et
              de sécurisation du système d’information</strong> de <strong>Dekra</strong>.</p>

        </div>
        <div class="aperçu mt-5">
          <div class="section-sous-title pb-3">
            <h2 style="color: #fafafa">🧐</h2>
            <div>
              <span class="text-uppercase"> Regard critique et axes d’amélioration </span>
            </div>
          </div>
          <p class="justify">Le projet a été mené avec succès, mais il a également révélé certains points à améliorer,
            notamment dans la
            <strong>gestion et le pilotage du projet</strong> :
          </p>

          <ul>
            <li class="justify"><strong>Anticipation des contraintes techniques</strong> : L’intégration des besoins
              spécifiques de
              <strong>Lineos 3</strong> dans une solution existante comme <strong>SUP_IAM</strong> a nécessité des
              ajustements plus importants que prévu. Une meilleure évaluation en amont des impacts techniques aurait
              permis de limiter les adaptations complexes en cours de développement.
            </li>

            <li class="justify"><strong>Gestion des dépendances inter-équipes</strong> : La coordination entre les
              différentes équipes
              impliquées (<strong>architecture, développement, métier</strong>) a parfois été freinée par des délais de
              validation ou de prise de décision. Un suivi plus rigoureux de ces interactions aurait fluidifié
              l’avancement du projet.</li>

            <li class="justify"><strong>Charge de travail répartie sur plusieurs sujets</strong> : Travaillant en
              parallèle sur d’autres
              projets, la gestion du temps et des priorités a été un réel défi. Mieux cadrer les allocations et
              renforcer la disponibilité des ressources dédiées aurait permis d’accélérer certaines phases critiques.
            </li>
          </ul>

          <p class="justify">Ces retours d’expérience permettront d’optimiser l’organisation et la conduite de projets
            similaires à
            l’avenir, notamment sur des sujets transverses à forte complexité technique et organisationnelle.
          </p>

        </div>
        <div class="container pt-3">
          <div class="header_line_gradient"></div>
          <div class="action-git pt-3">
            <a routerLink="/work" class="git-btn">
              <div class="git-btn-text">Mes réalisations</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- interface Section -->

  <!-- /interface Section -->

  <!-- /exercice Section -->
</main>
<app-scroll-top></app-scroll-top>