<main class="main-wrapper">
  <header id="home" class="home-section">
    <div class="hero_con_main">
      <div class="hero_con_wrapper">
        <div class="container-hero">
          <div class="padding-vertical_hero" style="height: 100%">
            <div class="w-layout-grid hero_grid">
              <div class="hero_left_col">
                <div class="hero_wrapper">
                  <div class="hero_content_wrap">
                    <div class="hero_label">
                      <div class="hero_label_flex">
                        <div class="icon-code w-embed">
                          <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="developer_labxel">Full Stack Developer</div>
                      </div>
                    </div>
                    <div class="hero_title_wrap">
                      <h1 data-type="hero-line" class="h1_display">
                        <span class="line" hero-line=""
                          >Turning ideas into digital solutions. </span
                        ><span class="line" hero-line=""
                          >Full stack development, with more to offer.
                        </span>
                      </h1>
                    </div>
                    <div class="hero_para_wrapper">
                      <p class="para_hero">
                        Hello there. I’m Wael Zantour – I specialize in building
                        dynamic, user-centered web applications, supported by
                        additional skills that complement my development
                        expertise – Currently based in
                        <del>TUNISIA, Mahdia</del>, Bordeaux, FRENCH.
                      </p>
                    </div>
                  </div>
                  <div class="actions">
                    <a href="#" class="hero_btn w-inline-block"
                      ><div class="hero_btn_text">Let's Connect</div>
                    </a>
                    <div class="button">
                      <a
                        href="#"
                        target="_blank"
                        class="btn-outer w-inline-block"
                      >
                        <div class="btn-inner">
                          <div class="btn-text">View Resume</div>
                        </div></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="hero_right_col">
                <div class="hero_img_wrapper">
                  <div class="hero_img-desktop">
                    <img
                      [src]="imageUrl"
                      alt="Wael Zantour - Full Stack Developer"
                      class="hero_img_img"
                    />
                  </div>
                  <div class="blob_blue"></div>
                  <div class="blob_yellow"></div>
                  <div class="overlay"></div>
                  <img
                    [src]="imageUrl"
                    alt="Wael Zantour - Full Stack Developer"
                    class="hero_img-mobile"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-blur-bg"></div>
      </div>
    </div>
    <div class="cusror_hero_wrapper"></div>
    <img
      src="assets/img/banner-img.jpg"
      alt="Spatial bg"
      sizes="100vw"
      class="image-4"
    />
  </header>
</main>
