<main class="main-wrapper">
  <!-- Page Title -->
  <div class="page-title">
    <div class="heading">
      <div class="container">
        <div class="text-title">
          <h5>
            Système d'intervention d'urgence – POC
            <div class="section-sous-title pb-3">
              <h2 style="color: #bababa; position: absolute; font-size: 12px">
                juin 2024
              </h2>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row g-2" style="justify-content: center">
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Proof of Concept</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Architecture Microservices</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Automatisation CI/CD</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Sécurisation JWT</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Orchestration Docker</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Tests End-to-End </span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Tests unitaires</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Title -->
  <section id="project#MedHead" class="section project-medHeadPoc-section">
    <div class="container">
      <img
        src="assets/img/MedHeadApp/slice-poc.png"
        class="card-img"
        alt="..."
        style="border-radius: 25px"
      />
      <div class="row g-2 g-lg-3 pt-5 pb-5">
        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Contexte du Projet</h5>
            <p>– Académique</p>
            <p>– Proof of Concept (PoC)</p>
            <p>– Architecture logiciel</p>
          </div>
        </div>

        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Technologies Front-end</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Angular</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>TypeScript</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Cypress</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Technologies Back-end</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Spring Boot</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>PostgreSQL</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>MongoDB</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Kafka</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>JUnit</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Outils d'Automatisation</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Docker Compose</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>GitHub Actions</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Rôle</h5>
            <p>– Conception de l'Architecture</p>
            <p>– Développement Front-end</p>
            <p>– Développement back-end</p>
            <p>– Tests Automatisés</p>
            <p>– Automatisation CI/CD</p>
          </div>
        </div>
      </div>
      <div class="aperçu">
        <div class="section-sous-title pb-3">
          <h2>APERÇU</h2>
          <div>
            <span>BRIEF DU PROJET </span>
          </div>
        </div>
        <p>
          Ce projet a été réalisé dans le cadre du
          <b>Mastère en Ingénierie Logicielle</b> en tant qu’étude de cas
          universitaire. Le but était de concevoir une solution technique pour
          un <b>consortium d’institutions médicales</b> nécessitant une gestion
          centralisée des <b>réservations de lits</b> d’hôpitaux en temps réel,
          tout en respectant des contraintes de sécurité, d’interopérabilité, et
          de performance. Ce <b>Proof of Concept (PoC)</b> permettait de valider
          la faisabilité d’une <b>architecture microservices</b>.
        </p>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🚨</h2>
          <div>
            <span class="text-uppercase">Problématique</span>
          </div>
        </div>
        <p>
          Les hôpitaux membres du consortium faisaient face à plusieurs défis :
        </p>
        <ul>
          <li>
            <b>Fragmentation des systèmes :</b> DChaque hôpital utilisait des
            systèmes différents, rendant difficile la communication et l’échange
            de données.
          </li>
          <li>
            <b>Gestion inefficace des urgences :</b> En cas de situations
            d’urgence, la coordination entre les établissements était
            compliquée, ce qui entraînait des retards dans la prise en charge
            des patients.
          </li>
          <li>
            <b>Difficulté à gérer les réservations de lits :</b> L'absence d'une
            plateforme centralisée rendait la réservation de lits en temps réel
            complexe et peu fiable.
          </li>
          <li>
            <b>Protection des données sensibles :</b> Le système devait garantir
            la confidentialité des informations médicales tout en assurant la
            conformité avec les normes de sécurité, notamment le RGPD.
          </li>
        </ul>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💡</h2>
          <div>
            <span>Solution Proposée </span>
          </div>
        </div>
        <p>
          L’architecture proposée s’appuie sur une approche microservices,
          permettant la gestion de chaque fonctionnalité critique de manière
          indépendante et modulaire.
        </p>
        <figure>
          <figcaption>Architecture de la solution</figcaption>
          <img
            src="assets/img/MedHeadApp/micro-architecture1.drawio.svg"
            class="card-img pb-4"
            alt="..."
          />
        </figure>

        <ul>
          <li>
            <b>Microservices :</b> Chaque service gère une fonction spécifique
            (authentification des utilisateurs, gestion des hôpitaux,
            réservation des lits, envoi de notifications).
          </li>
          <li>
            <b>Sécurité Renforcée :</b> Utilisation de <b>Spring Security</b> et
            de <b>JWT</b> pour garantir la protection des données sensibles et
            gérer les accès utilisateurs.
          </li>
          <li>
            <b>Bases de Données :</b> <b>PostgreSQL</b> est utilisé pour stocker
            les données critiques comme les réservations et les utilisateurs,
            tandis que <b>MongoDB</b> gère les données non structurées.
          </li>

          <li>
            <b>API Gateway :</b> Centralisation des requêtes du frontend pour
            sécuriser et gérer les interactions avec les microservices.
          </li>
          <li>
            <b>Orchestration via Docker Compose :</b> Docker Compose pour
            orchestrer les différents microservices et faciliter le déploiement
            de l’infrastructure.
          </li>
          <li>
            <b>Pipeline CI/CD :</b> pour automatiser les tests et garantir des
            livraisons rapides et fiables.
          </li>
          <li>
            <b>Kafka :</b> pour la communication asynchrone entre les services,
            garantissant une résilience du système. Cela garantit que les
            services critiques fonctionnent de manière indépendante et que les
            événements (comme les réservations) sont traités en temps réel.
          </li>
          <figure class="pt-2">
            <figcaption>Intégration de Kafka</figcaption>
            <img
              src="assets/img/MedHeadApp/kafkaPoc.drawio.svg"
              class="card-img"
              alt="..."
              style="width: 50%"
            />
          </figure>
        </ul>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💫</h2>
          <div>
            <span class="text-uppercase">Rôle et Contributions </span>
          </div>
        </div>
        <ul>
          <li>
            <b>Conception de l'architecture </b>basée sur les microservices pour
            une solution modulaire et scalable.
          </li>
          <li>
            <b>Développement du back-end :</b> Implémentation des services
            d'authentification, de gestion des réservations et des
            notifications, avec la réalisation de <b>tests unitaires </b>pour
            valider chaque fonctionnalité et des
            <b>tests de performance</b> pour garantir la robustesse du système
            sous forte charge.
          </li>
          <li>
            <b>Gestion de la Sécurité :</b> Implémentation de <b>JWT</b> et de
            <b>Spring Security</b> pour sécuriser l’accès aux données médicales.
          </li>
          <li>
            <b>Développement Front-end :</b> Création de l'interface utilisateur
            avec <b>Angular</b> et intégration des API REST des microservices.
          </li>
          <li>
            <b>Automatisation CI/CD :</b> Mise en place d'un pipeline CI/CD avec
            <b>GitHub Actions</b>, permettant l'automatisation des tests et des
            déploiements.
          </li>
          <li>
            <b>Tests Automatisés :</b> Rédaction et implémentation de tests
            unitaires et de tests end-to-end pour garantir la stabilité du
            système.
          </li>
        </ul>
      </div>
    </div>
    <!--exercice-->
    <div class="container">
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💻</h2>
          <div>
            <span>LIVRABLES</span>
          </div>
        </div>
        <h5 class="d-flex pt-3" style="color: #d3d1d1; justify-content: center">
          🔹Interfaces utilisateur🔹
        </h5>
        <section id="interface" class="interface section pt-3 pb-3">
          <div class="container">
            <div class="isotope-layout">
              <div class="row gy-4 isotope-container">
                <div class="col-auto interface-item isotope-item filter-app">
                  <div class="interface-content h-100">
                    <img
                      #imageElement1
                      src="assets/img/MedHeadApp/auth-poc.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Sing In</h4>
                      <p>Page de Connexion</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement1.src)"
                        title="App 1"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement2
                      src="assets/img/MedHeadApp/sign-up-poc.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Sing Up</h4>
                      <p>Page d'Inscription</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement2.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement3
                      src="assets/img/MedHeadApp/activation_compte.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Sing Up</h4>
                      <p>Page d'Activation du Compte</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement3.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement4
                      src="assets/img/MedHeadApp/activation_mail.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Vue Patient</h4>
                      <p>Interface Maildev, email avec le code d'activation</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement4.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement5
                      src="assets/img/MedHeadApp/home-poc.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Vue Patient</h4>
                      <p>Page d'Accueil pour le Patient</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement5.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement6
                      src="assets/img/MedHeadApp/search-result.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Vue Patient</h4>
                      <p>Page de Recherche d'Hôpitaux</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement6.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement7
                      src="assets/img/MedHeadApp/res-details.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Vue Patient</h4>
                      <p>Modal de détails de réservation</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement7.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement8
                      src="assets/img/MedHeadApp/res-conf-mail.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Vue Patient</h4>
                      <p>Email de confirmation de la réservation</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement8.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement9
                      src="assets/img/MedHeadApp/all-hospital.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Vue Administrateur</h4>
                      <p>Page de gestion des hôpitaux</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement9.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement10
                      src="assets/img/MedHeadApp/all-res.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Vue Administrateur</h4>
                      <p>Page de consultation des réservations</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement10.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
              </div>
              <!-- End interface Container -->

              <!-- Template for the modal -->
              <ng-template #imageModal let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">
                    Interface utilisateur – Medhead Consortium
                  </h4>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  ></button>
                </div>
                <div class="modal-body text-center">
                  <img [src]="selectedImage" class="img-fluid" />
                </div>
              </ng-template>
            </div>
          </div>
        </section>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🎯</h2>
          <div>
            <span class="text-uppercase">Résultats Obtenus </span>
          </div>
        </div>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Aspect</th>
              <th scope="col">Détails</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Validation de l'Architecture</th>
              <td>
                Le PoC a confirmé que l'architecture microservices est scalable,
                résiliente et efficace pour les opérations en temps réel.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
            <tr>
              <th scope="row">Amélioration de la Performance</th>
              <td>
                Le système peut traiter jusqu'à 1000 requêtes de réservation par
                seconde avec un temps de réponse moyen inférieur à 700 ms.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
            <tr>
              <th scope="row">Sécurité Renforcée</th>
              <td>
                L'authentification via JWT et les politiques de sécurité avec
                Spring Security assurent la protection des données médicales.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
            <tr>
              <th scope="row">Orchestration et Déploiement Automatisé</th>
              <td>
                Docker Compose et le pipeline CI/CD permettent des tests et des
                mises à jour automatisés et fiables des microservices.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="container pt-3">
        <div class="header_line_gradient"></div>
        <p class="text-xl">
          🡮 N'hésitez pas à explorer le code source sur GitHub 🡯
        </p>
        <div class="action-git">
          <a
            href="https://github.com/wa2l-99/MedheadApp_PoC"
            class="git-btn"
            target="_blank"
            ><div class="git-btn-text">
              Consulter le Dépôt <i class="fa-brands fa-github"> </i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- interface Section -->

  <!-- /interface Section -->

  <!-- /exercice Section -->
</main>
<app-scroll-top></app-scroll-top>
