<main class="main-wrapper">
  <!-- Page Title -->
  <div class="page-title">
    <div class="heading">
      <div class="container">
        <div class="text-title">
          <h5>
            Système d'intervention d'urgence – POC
            <div class="section-sous-title pb-3">
              <h2 style="color: #bababa; position: absolute; font-size: 12px">
                juin 2024
              </h2>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row g-2" style="justify-content: center">
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Proof of Concept</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Architecture Microservices</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Automatisation CI/CD</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Sécurisation JWT</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Orchestration Docker</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Tests End-to-End </span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Tests unitaires</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Title -->
  <section id="project#MedHead" class="section project-medHeadPoc-section">
    <div class="container">
      <img src="/assets/img/MedHeadApp/slice-poc.png" class="card-img" alt="..." style="border-radius: 25px" />
      <div class="row g-2 g-lg-3 pt-5 pb-5">
        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Contexte du Projet</h5>
            <p class="justify">– Académique</p>
            <p class="justify">– Proof of Concept (PoC)</p>
            <p class="justify">– Architecture logiciel</p>
          </div>
        </div>

        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Technologies utilisées</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Angular</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>JavaScript</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Cypress</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Bootstrap</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Spring Boot</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>PostgreSQL</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>MongoDB</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Java</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>JUnit</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Outils</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Docker</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Postman</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Git</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Figma</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Compétences mobilisées</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Gestion du temps</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Résolution des problèmes</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Analyse des besoins métier</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Rôle</h5>
            <p class="justify">– Conception de l'Architecture</p>
            <p class="justify">– Développement Front-end</p>
            <p class="justify">– Développement back-end</p>
            <p class="justify">– Tests Automatisés</p>
            <p class="justify">– Automatisation CI/CD</p>
          </div>
        </div>
      </div>
      <div class="aperçu">
        <div class="section-sous-title pb-3">
          <h2>APERÇU</h2>
          <div>
            <span>CONTEXTE </span>
          </div>
        </div>
        <p class="justify">Ce projet, réalisé dans le cadre de mon <strong>Master 2 - Expert en Ingénierie
            Logicielle</strong>, vise à
          répondre à une problématique critique du secteur hospitalier : la gestion efficace des lits disponibles.
          Aujourd’hui, les hôpitaux utilisent des systèmes informatiques distincts, souvent incompatibles entre eux, ce
          qui freine la coordination des admissions et prolonge les délais de prise en charge.</p>

        <p class="justify">Lors de crises sanitaires, cette fragmentation complique encore davantage la répartition des
          patients, menant
          à des situations de surcharge dans certains établissements tandis que d’autres disposent encore de places.
          L’absence de mise à jour en temps réel des disponibilités hospitalières accentue ces déséquilibres et ralentit
          les décisions médicales.</p>

        <p class="justify">Face à ces enjeux, un consortium d’institutions médicales a exprimé le besoin d’une
          <strong>solution
            numérique centralisée</strong>, permettant aux hôpitaux de partager et synchroniser leurs informations. En
          plus d’optimiser l’organisation des admissions, cette plateforme doit garantir la <strong>sécurité des données
            médicales</strong> et se conformer aux réglementations telles que le <strong>RGPD</strong> et les normes
          <strong>ISO 27001</strong>.
        </p>

        <p class="justify">Le projet <strong>MedHead PoC (Proof of Concept)</strong> a pour objectif de démontrer la
          <strong>faisabilité
            technique et opérationnelle</strong> d’un système capable d’assurer une <strong>coordination fluide entre
            les hôpitaux</strong>, une <strong>meilleure allocation des ressources</strong> et une <strong>prise en
            charge plus rapide des patients</strong>.
        </p>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">📖</h2>
          <div>
            <span class="text-uppercase"> Description du Projet</span>
          </div>
        </div>
        <p class="justify">Le projet <strong>MedHead PoC</strong> propose une <strong>plateforme intelligente et
            sécurisée</strong>
          permettant aux hôpitaux d’accéder à une vue en temps réel des lits disponibles et de simplifier le processus
          de réservation. L’objectif est d’améliorer la <strong>fluidité des admissions</strong> et d’assurer une
          <strong>répartition efficace des patients</strong>, garantissant une prise en charge adaptée et rapide.
        </p>

        <p class="justify">Conçue sur une <strong>architecture microservices</strong>, la plateforme assure
          <strong>interopérabilité et
            évolutivité</strong>, facilitant son intégration avec les infrastructures existantes des établissements de
          santé. Lorsqu’un patient nécessite une hospitalisation, le système identifie les lits disponibles en fonction
          de critères spécifiques, tels que la <strong>localisation</strong>, la <strong>spécialité médicale
            requise</strong> et la <strong>saturation des hôpitaux</strong>. Une fois la réservation validée, un
          <strong>système de notifications automatisé</strong> informe les acteurs concernés pour garantir une
          coordination efficace.
        </p>

        <p class="justify">Le développement repose sur <strong>Spring Boot</strong> pour le backend et
          <strong>Angular</strong> pour
          l’interface utilisateur. La communication entre les services est assurée par <strong>Kafka</strong>,
          garantissant une transmission rapide des informations. Les données sont sécurisées et stockées via
          <strong>PostgreSQL</strong> et <strong>MongoDB</strong>, et le déploiement est optimisé grâce à
          <strong>Docker</strong> et <strong>Kubernetes</strong>, assurant <strong>haute disponibilité</strong> et
          <strong>montée en charge automatique</strong>.
        </p>

        <p class="justify">Ce projet apporte une réponse concrète aux défis du secteur hospitalier, en améliorant
          <strong>l’organisation
            des ressources</strong>, <strong>la réactivité des établissements</strong> et <strong>la sécurité des
            données médicales</strong>.
        </p>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🚀</h2>
          <div>
            <span class="text-uppercase">Objectifs du Projet</span>
          </div>
        </div>
        <p class="justify">Le projet vise à atteindre plusieurs <strong>objectifs clés</strong>, tant sur le plan
          fonctionnel que
          technique :</p>

        <ul>
          <li class="justify"><strong>Optimiser la gestion des lits hospitaliers</strong> en offrant une visibilité en
            temps réel sur
            les disponibilités et en permettant des réservations automatisées.</li>
          <li class="justify"><strong>Garantir une communication fluide</strong> entre les établissements via une
            plateforme centralisée
            et sécurisée.</li>
          <li class="justify"><strong>Assurer une scalabilité élevée</strong> grâce à une architecture microservices et
            une
            orchestration flexible avec Kubernetes.</li>
          <li class="justify"><strong>Intégrer des mécanismes avancés de sécurité</strong> pour protéger les données
            médicales
            conformément aux normes RGPD et ISO 27001.</li>
          <li class="justify"><strong>Valider la robustesse et la performance</strong> de la solution à travers des
            tests rigoureux de
            montée en charge et des simulations de scénarios critiques.</li>
        </ul>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💡</h2>
          <div>
            <span>Solution Proposée </span>
          </div>
        </div>
        <p class="justify">
          L’architecture proposée s’appuie sur une approche microservices,
          permettant la gestion de chaque fonctionnalité critique de manière
          indépendante et modulaire.
        </p>
        <figure>
          <figcaption>Architecture de la solution</figcaption>
          <img src="/assets/img/MedHeadApp/micro-architecture1.drawio.svg" class="card-img pb-4" alt="..." />
        </figure>

        <ul>
          <li class="justify">
            <b>Microservices :</b> Chaque service gère une fonction spécifique
            (authentification des utilisateurs, gestion des hôpitaux,
            réservation des lits, envoi de notifications).
          </li>
          <li class="justify">
            <b>Sécurité Renforcée :</b> Utilisation de <b>Spring Security</b> et
            de <b>JWT</b> pour garantir la protection des données sensibles et
            gérer les accès utilisateurs.
          </li>
          <li class="justify">
            <b>Bases de Données :</b> <b>PostgreSQL</b> est utilisé pour stocker
            les données critiques comme les réservations et les utilisateurs,
            tandis que <b>MongoDB</b> gère les données non structurées.
          </li>

          <li class="justify">
            <b>API Gateway :</b> Centralisation des requêtes du frontend pour
            sécuriser et gérer les interactions avec les microservices.
          </li>
          <li class="justify">
            <b>Orchestration via Docker Compose :</b> Docker Compose pour
            orchestrer les différents microservices et faciliter le déploiement
            de l’infrastructure.
          </li>
          <li class="justify">
            <b>Pipeline CI/CD :</b> pour automatiser les tests et garantir des
            livraisons rapides et fiables.
          </li>
          <li class="justify">
            <b>Kafka :</b> pour la communication asynchrone entre les services,
            garantissant une résilience du système. Cela garantit que les
            services critiques fonctionnent de manière indépendante et que les
            événements (comme les réservations) sont traités en temps réel.
          </li>
          <figure class="pt-2">
            <figcaption>Intégration de Kafka</figcaption>
            <img src="/assets/img/MedHeadApp/kafkaPoc.drawio.svg" class="card-img" alt="..." style="width: 50%" />
          </figure>
        </ul>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">⚙️</h2>
          <div>
            <span class="text-uppercase">Fonctionnalités Principales </span>
          </div>
        </div>
        <ul>
          <li class="justify"><strong>Authentification et gestion des utilisateurs</strong> via JWT et Spring Security.
          </li>
          <li class="justify"><strong>Recherche des hôpitaux</strong> en fonction de la localisation et des spécialités
            médicales.</li>
          <li class="justify"><strong>Réservation des lits en temps réel</strong> avec mise à jour instantanée des
            disponibilités.</li>
          <li class="justify"><strong>Envoi de notifications automatiques</strong> aux patients et aux hôpitaux après
            confirmation d’une
            réservation.</li>
          <li class="justify"><strong>Interface intuitive développée avec Angular</strong>, permettant une navigation
            fluide et
            réactive.</li>
          <li class="justify"><strong>Sécurisation des données médicales</strong> avec chiffrement et contrôle des
            accès.</li>
        </ul>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💫</h2>
          <div>
            <span class="text-uppercase">Processus de Mise en Œuvre </span>
          </div>
        </div>
        <p class="justify">Le développement du <strong>PoC</strong> a suivi un processus structuré en plusieurs phases :
        </p>

        <h4>1. Conception de l’architecture</h4>
        <p class="justify">La première étape a consisté à concevoir une <strong>architecture basée sur les
            microservices</strong>,
          permettant une gestion modulaire et évolutive des différentes fonctionnalités. Un <strong>service de
            découverte (Eureka)</strong> et une <strong>API Gateway</strong> ont été mis en place pour assurer la
          communication et la gestion des flux entre les composants du système.</p>
        <h4>2. Développement des microservices</h4>
        <p class="justify">Plusieurs <strong>microservices indépendants</strong> ont été développés, notamment pour
          <strong>l’authentification des utilisateurs</strong>, <strong>la gestion des hôpitaux</strong>, <strong>la
            réservation des lits</strong> et <strong>l’envoi des notifications</strong>. Chaque microservice repose sur
          <strong>Spring Boot</strong> et communique via <strong>Kafka</strong> pour assurer une résilience et une
          tolérance aux pannes.
        </p>
        <h4>3. Sécurisation des échanges</h4>
        <p class="justify">La gestion des accès est assurée par <strong>Spring Security</strong> et
          <strong>JWT</strong>, garantissant
          que seules les personnes autorisées peuvent interagir avec la plateforme.
        </p>
        <h4>4. Déploiement et tests</h4>
        <p class="justify">L’ensemble de la plateforme a été conteneurisé avec <strong>Docker Compose</strong>, avant
          une migration vers
          <strong>Kubernetes</strong> pour une gestion avancée des ressources et du scaling automatique. Des
          <strong>tests unitaires</strong>, <strong>d’intégration</strong> et <strong>de charge</strong> ont été
          réalisés pour valider la robustesse et les performances du système.
        </p>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">✅</h2>
          <div>
            <span class="text-uppercase">Tests et Validation</span>
          </div>
        </div>
        <p class="justify">Pour assurer la <strong>fiabilité et la robustesse</strong> de la plateforme <strong>MedHead
            PoC</strong>,
          plusieurs phases de tests ont été effectuées.</p>

        <p class="justify">Les <strong>tests unitaires et d’intégration</strong>, développés avec <strong>JUnit et
            Mockito</strong>, ont
          permis de vérifier le bon fonctionnement des microservices individuellement et d’anticiper d’éventuelles
          erreurs. Les <strong>tests API</strong>, réalisés via <strong>Postman</strong>, ont validé la conformité des
          endpoints REST et la fluidité des échanges entre les services.</p>

        <p class="justify">Des <strong>tests de performance</strong>, menés avec <strong>JMeter</strong>, ont évalué la
          capacité du
          système à gérer un <strong>grand volume de requêtes simultanées</strong>. Les résultats ont démontré que la
          plateforme pouvait supporter <strong>1000 requêtes par seconde</strong> sans dégradation significative des
          temps de réponse, assurant ainsi sa <strong>scalabilité et sa stabilité</strong> même en situation de forte
          affluence.</p>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">👨‍💻</h2>
          <div>
            <span class="text-uppercase">Acteurs du Projet et Collaboration</span>
          </div>
        </div>
        <p class="justify">Le projet <strong>MedHead PoC</strong> repose sur une collaboration étroite entre moi, en
          tant que
          <strong>développeur principal</strong>, et les <strong>utilisateurs hospitaliers</strong>, comprenant les
          administrateurs et le personnel médical.
        </p>

        <p class="justify">En tant que <strong>développeur principal</strong>, j’ai pris en charge l’ensemble du
          <strong>cycle de vie du
            projet</strong>, depuis <strong>l’analyse des besoins</strong> jusqu’au <strong>déploiement du Proof of
            Concept (PoC)</strong>. Mon rôle a consisté à concevoir <strong>l’architecture du système</strong>,
          développer les <strong>microservices</strong> et assurer <strong>l’intégration des fonctionnalités
            essentielles</strong>, tout en garantissant une solution <strong>scalable et sécurisée</strong>.
        </p>

        <p class="justify">Les <strong>utilisateurs hospitaliers</strong> ont joué un rôle clé tout au long du projet.
          Dès la phase de
          conception, leurs retours ont permis de <strong>définir les fonctionnalités prioritaires</strong> et d’adapter
          <strong>l’interface utilisateur</strong> aux besoins du terrain. Lors des tests et de la validation du PoC,
          ils ont évalué la plateforme dans des <strong>scénarios réels</strong> et suggéré des améliorations pour
          optimiser <strong>la gestion des admissions et des réservations de lits</strong>.
        </p>

        <p class="justify">Étant donné que cette version reste un <strong>Proof of Concept</strong>, cette collaboration
          a été
          essentielle pour identifier les ajustements nécessaires avant un éventuel passage à une version
          <strong>industrialisée</strong>. L’implication des utilisateurs a permis d’assurer que <strong>MedHead
            PoC</strong> ne soit pas seulement un <strong>prototype technique</strong>, mais une <strong>base solide et
            fonctionnelle</strong>, prête à être améliorée et déployée à plus grande échelle.
        </p>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🏹</h2>
          <div>
            <span class="text-uppercase">Enjeux et Défis Techniques</span>
          </div>
        </div>
        <p class="justify">Le projet <strong>MedHead PoC</strong> doit relever plusieurs défis majeurs, à commencer par
          <strong>l’interopérabilité</strong> avec les systèmes hospitaliers existants. Chaque hôpital utilise une
          infrastructure différente, rendant l’intégration complexe. La plateforme doit donc être <strong>compatible
            avec divers standards médicaux</strong> tout en assurant un échange fluide des données.
        </p>

        <p class="justify">Un autre enjeu clé est <strong>la performance sous forte charge</strong>. En période de
          crise, des milliers
          de requêtes peuvent être envoyées simultanément. L’architecture microservices et l’utilisation de
          <strong>Kafka</strong> permettent de gérer cet afflux, mais nécessitent une <strong>orchestration
            optimisée</strong> pour éviter les latences.
        </p>

        <p class="justify">La <strong>sécurité des données médicales</strong> est également essentielle. La plateforme
          doit garantir
          <strong>confidentialité et conformité réglementaire (RGPD, ISO 27001)</strong> grâce à <strong>un chiffrement
            avancé et une gestion stricte des accès</strong>.
        </p>

        <p class="justify">Enfin, <strong>la résilience du système</strong> est un défi critique. Une panne pourrait
          perturber la
          gestion des admissions, d’où l’intégration de <strong>mécanismes de tolérance aux pannes et de reprise
            automatique</strong> pour assurer une disponibilité continue.</p>

      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🚨</h2>
          <div>
            <span class="text-uppercase">Risques</span>
          </div>
        </div>
        <p class="justify">L’<strong>architecture microservices</strong>, bien que modulaire, <strong>complexifie
            l’orchestration et la
            gestion des interactions</strong> entre services. Un mauvais équilibrage pourrait ralentir le traitement des
          demandes.</p>

        <p class="justify">Les <strong>performances des requêtes critiques</strong> doivent être optimisées, notamment
          celles liées à la
          <strong>recherche de lits disponibles</strong>. Une mauvaise gestion des bases de données pourrait entraîner
          des délais de réponse trop longs.
        </p>

        <p class="justify">La <strong>dépendance aux services tiers</strong>, tels que <strong>Kafka ou Google
            API</strong>, expose le
          système à des risques en cas d’indisponibilité. Des solutions de secours doivent être mises en place pour
          garantir la continuité du service.</p>

        <p class="justify">Enfin, la <strong>sécurité et la conformité réglementaire</strong> sont des enjeux majeurs.
          Une faille dans
          la gestion des accès ou du chiffrement des données pourrait compromettre la confidentialité des informations
          médicales. Une <strong>surveillance rigoureuse</strong> et des <strong>audits de sécurité réguliers</strong>
          sont donc indispensables.</p>

      </div>
    </div>
    <!--exercice-->
    <div class="container">
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💻</h2>
          <div>
            <span>LIVRABLES</span>
          </div>
        </div>
        <h5 class="d-flex pt-3" style="color: #d3d1d1; justify-content: center">
          🔹Interfaces utilisateur🔹
        </h5>
        <section id="interface" class="interface section pt-3 pb-3">
          <div class="container">
            <div class="isotope-layout">
              <div class="row gy-4 isotope-container">
                <div class="col-auto interface-item isotope-item filter-app">
                  <div class="interface-content h-100">
                    <img #imageElement1 src="/assets/img/MedHeadApp/auth-poc.png" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Sing In</h4>
                      <p class="justify">Page de Connexion</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement1.src)" title="App 1"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement2 src="/assets/img/MedHeadApp/sign-up-poc.png" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Sing Up</h4>
                      <p class="justify">Page d'Inscription</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement2.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement3 src="/assets/img/MedHeadApp/activation_compte.png" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Sing Up</h4>
                      <p class="justify">Page d'Activation du Compte</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement3.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement4 src="/assets/img/MedHeadApp/activation_mail.png" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Vue Patient</h4>
                      <p class="justify">Interface Maildev, email avec le code d'activation</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement4.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement5 src="/assets/img/MedHeadApp/home-poc.png" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Vue Patient</h4>
                      <p class="justify">Page d'Accueil pour le Patient</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement5.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement6 src="/assets/img/MedHeadApp/search-result.png" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Vue Patient</h4>
                      <p class="justify">Page de Recherche d'Hôpitaux</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement6.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement7 src="/assets/img/MedHeadApp/res-details.png" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Vue Patient</h4>
                      <p class="justify">Modal de détails de réservation</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement7.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement8 src="/assets/img/MedHeadApp/res-conf-mail.png" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Vue Patient</h4>
                      <p class="justify">Email de confirmation de la réservation</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement8.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement9 src="/assets/img/MedHeadApp/all-hospital.png" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Vue Administrateur</h4>
                      <p class="justify">Page de gestion des hôpitaux</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement9.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img #imageElement10 src="/assets/img/MedHeadApp/all-res.png" class="img-fluid" alt="" />
                    <div class="interface-info">
                      <h4>Vue Administrateur</h4>
                      <p class="justify">Page de consultation des réservations</p>
                      <a href="javascript:void(0);" (click)="openModal(imageModal, imageElement10.src)"
                        class="preview-link"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
              </div>
              <!-- End interface Container -->

              <!-- Template for the modal -->
              <ng-template #imageModal let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">
                    Interface utilisateur – Medhead Consortium
                  </h4>
                  <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body text-center">
                  <img [src]="selectedImage" class="img-fluid" />
                </div>
              </ng-template>
            </div>
          </div>
        </section>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🎯</h2>
          <div>
            <span class="text-uppercase">Résultats Obtenus </span>
          </div>
        </div>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Aspect</th>
              <th scope="col">Détails</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Validation de l'Architecture</th>
              <td class="justify">
                Le PoC a démontré que l’architecture microservices garantit une scalabilité, une résilience et une
                gestion efficace des opérations en temps réel.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
            <tr>
              <th scope="row">Optimisation des Performances</th>
              <td class="justify">
                Le système a prouvé sa capacité à traiter jusqu’à 1000 requêtes par seconde, avec un temps de réponse
                moyen inférieur à 700 ms, assurant une réactivité optimale.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
            <tr>
              <th scope="row">Sécurisation des Données</th>
              <td class="justify">
                L'authentification via JWT et l’implémentation de Spring Security garantissent une gestion stricte des
                accès et une protection des données médicales.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
            <tr>
              <th scope="row">Fiabilité et Communication</th>
              <td class="justify">
                L'intégration de Kafka permet une communication asynchrone stable et efficace entre les microservices,
                assurant une fluidité dans la gestion des réservations.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
            <tr>
              <th scope="row">Automatisation du Déploiement</th>
              <td class="justify">
                L’usage de Docker, Kubernetes et un pipeline CI/CD facilite les mises à jour, les tests automatisés et
                le déploiement sécurisé des microservices.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
            <tr>
              <th scope="row">Adoption et Expérience Utilisateur</th>
              <td class="justify">
                Les tests avec les utilisateurs hospitaliers ont permis d’ajuster les fonctionnalités clés et
                d’améliorer l’interface, rendant l’outil plus intuitif et adapté aux besoins réels.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
          </tbody>
        </table>
        <div class="aperçu mt-5">
          <div class="section-sous-title pb-3">
            <h2 style="color: #fafafa">📈</h2>
            <div>
              <span class="text-uppercase">Mon Expérience et Résultats Personnels </span>
            </div>
          </div>
          <p class="justify">Ce projet m’a permis de renforcer mes <strong>compétences techniques et
              méthodologiques</strong> dans la
            conception et le développement d’une solution logicielle complète, de <strong>l’analyse des besoins</strong>
            jusqu’au <strong>déploiement d’un Proof of Concept fonctionnel</strong>.</p>

          <p class="justify">En travaillant sur une <strong>architecture microservices</strong>, j’ai approfondi ma
            maîtrise de
            <strong>Spring Boot</strong>, <strong>Kafka</strong> et <strong>Docker</strong>, tout en gérant
            <strong>l’orchestration et la scalabilité</strong> du système avec <strong>Kubernetes</strong>.
            L’implémentation de <strong>Spring Security</strong> et la gestion des accès via <strong>JWT</strong> m’ont
            apporté une expérience approfondie en <strong>cybersécurité et protection des données médicales</strong>.
          </p>

          <p class="justify">Sur le plan méthodologique, j’ai développé une approche plus rigoureuse en matière de
            <strong>tests
              automatisés</strong>, <strong>d’intégration continue</strong> et de <strong>validation avec les
              utilisateurs</strong>. Collaborer avec les professionnels de santé m’a également permis d’améliorer ma
            capacité à <strong>adapter une solution technique aux besoins réels</strong> des utilisateurs finaux.
          </p>

          <p class="justify">Enfin, ce projet a renforcé ma capacité à <strong>gérer un projet de bout en bout</strong>,
            en travaillant
            de manière autonome mais aussi en collaboration avec les parties prenantes, garantissant ainsi un résultat à
            la fois <strong>technique et fonctionnellement viable</strong>. Cette expérience représente une étape clé
            dans mon parcours professionnel, me préparant à relever de <strong>nouveaux défis en ingénierie
              logicielle</strong>.</p>


        </div>
        <div class="aperçu mt-5">
          <div class="section-sous-title pb-3">
            <h2 style="color: #fafafa">🚀</h2>
            <div>
              <span class="text-uppercase">Perspectives d’Avenir </span>
            </div>
          </div>
          <p class="justify"> Aujourd’hui,le <strong>PoC MedHead</strong> a démontré la viabilité du projet, ouvrant la
            voie à son
            évolution vers une solution pleinement opérationnelle. Pour garantir une adoption à grande échelle,
            plusieurs améliorations sont envisageables.</p>

          <p class="justify"><strong>L’optimisation de la scalabilité</strong> est une priorité. L’<strong>orchestration
              avancée des
              microservices avec Kubernetes</strong> permettra une gestion plus efficace des ressources et une
            adaptation dynamique aux pics de demande hospitalière.</p>

          <p class="justify"><strong>L’intégration de l’intelligence artificielle</strong> apporterait une valeur
            ajoutée en optimisant
            <strong>l’affectation des lits</strong> selon l’occupation des établissements et les besoins des patients.
            Un <strong>algorithme prédictif</strong> pourrait également prévenir les situations de saturation et
            améliorer l’anticipation des admissions.
          </p>

          <p class="justify"><strong>L’expérience utilisateur</strong> doit être renforcée avec une <strong>interface
              plus
              intuitive</strong> et des <strong>outils interactifs</strong> facilitant la prise de décision en temps
            réel. Une <strong>application mobile</strong> offrirait un accès simplifié aux administrateurs et soignants,
            rendant la gestion plus fluide.</p>

        </div>
        <div class="aperçu mt-5">
          <div class="section-sous-title pb-3">
            <h2 style="color: #fafafa">🔍🏥</h2>
            <div>
              <span class="text-uppercase">Regard Critique</span>
            </div>
          </div>
          <p class="justify">Le <strong>PoC MedHead</strong> a validé les choix technologiques et prouvé la faisabilité
            d’une solution
            centralisée pour la gestion des lits hospitaliers. Cependant, en tant que <strong>Proof of Concept</strong>,
            il ne reflète pas encore toutes les contraintes d’un système en production et nécessite une analyse critique
            de son applicabilité réelle.</p>

          <p class="justify">L’un des premiers constats est que le projet <strong>s’est concentré sur la validation
              technique</strong>,
            mais l’aspect organisationnel et humain reste un facteur clé pour une adoption efficace. La réussite d’un
            tel outil dépend autant de ses performances que de <strong>la volonté des établissements de
              l’adopter</strong> et de leur capacité à adapter leurs pratiques internes. Une <strong>phase
              d’appropriation par les utilisateurs finaux</strong> et un accompagnement au changement seraient
            nécessaires pour garantir une transition fluide.</p>

          <p class="justify">De plus, bien que l’<strong>architecture microservices</strong> ait été validée sur le plan
            technique,
            <strong>la gestion et la maintenance à long terme d’un tel système dans un environnement hospitalier restent
              un défi</strong>. Une exploitation en conditions réelles pourrait révéler des besoins non anticipés,
            nécessitant des ajustements continus.
          </p>

          <p class="justify">Enfin, la valeur ajoutée du PoC repose sur <strong>la fluidité et la fiabilité des échanges
              de données
              entre hôpitaux</strong>. Toutefois, le cadre réglementaire et les procédures de validation des systèmes
            médicaux pourraient ralentir une adoption rapide. L’intégration avec les infrastructures existantes ne sera
            pas seulement une question de <strong>compatibilité technique</strong>, mais aussi de <strong>conformité aux
              exigences institutionnelles et légales</strong>.</p>

          <p class="justify">En conclusion, <strong>MedHead PoC a rempli ses objectifs techniques</strong>, mais sa
            transition vers une
            solution industrielle nécessitera <strong>une approche plus globale</strong>, prenant en compte l’adhésion
            des utilisateurs, la gestion à long terme et l’environnement réglementaire du secteur hospitalier.</p>

        </div>
      </div>
      <div class="container pt-3">
        <div class="header_line_gradient"></div>
        <p class="text-xl">
          🡮 N'hésitez pas à explorer le code source sur GitHub 🡯
        </p>
        <div class="action-git">
          <a href="https://github.com/wa2l-99/MedheadApp_PoC" class="git-btn" target="_blank">
            <div class="git-btn-text">
              Consulter le Dépôt <i class="fa-brands fa-github"> </i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- interface Section -->

  <!-- /interface Section -->

  <!-- /exercice Section -->
</main>
<app-scroll-top></app-scroll-top>