.text-title {
  h2 {
    font-size: 70px;
  }
}
.section-sous-title span {
  color: #f98470;
}

li {
  font-size: 21px;
}

.action-git .git-btn .git-btn-text {
  font-size: 1.25rem;
}

.text-muted {
  --bs-text-opacity: 1;
  color: rgb(116 116 116 / 75%) !important;
}
