<main class="main-wrapper">
    <!-- Page Title -->
    <div class="page-title">
        <div class="heading pb-3">
            <div class="container">
                <p style="text-align: center;">
                    <img style="width: 10%;" src="assets/img/figma.png" alt="">
                </p>
                <div class="text-title">
                    <h2 class="text-muted opacity-1 text-uppercase mb-0">
                        Figma
                    </h2>
                </div>
                <div class="hero__scroll">
                    <div class="hero__scroll-down"></div>
                </div>
            </div>
        </div>

        <hr />
    </div>
    <!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">
        <div class="container">
            <div class="resume-card">
                <p>
                    <strong>Niveau :</strong> ⭐⭐⭐☆☆ (intermédiaire)
                </p>
                <p>
                    <strong>Années d’expérience :</strong> 1+
                </p>
            </div>
            <div class="aperçu">
                <div class="section-sous-title pb-3">
                    <h2>DESCRIPTION</h2>
                    <div><span>Présentation générale de l’outil de conception UX/UI</span></div>
                </div>

                <p class="justify">
                    <strong>Figma</strong> est un outil de conception <strong>UX/UI collaboratif en ligne</strong>,
                    utilisé pour créer des interfaces, des prototypes interactifs et des design systems.
                    Contrairement aux logiciels traditionnels installés en local, Figma repose entièrement sur le cloud,
                    permettant à plusieurs utilisateurs de travailler simultanément sur une même maquette,
                    favorisant ainsi la <strong>co-création en temps réel</strong>.
                </p>

                <p class="justify">
                    Son principal atout réside dans sa <strong>dimension collaborative</strong> :
                    designers, développeurs et chefs de projet peuvent y intervenir ensemble,
                    commenter, ajuster ou valider des éléments visuels instantanément.
                    Cette approche réduit considérablement les délais entre la conception et le développement,
                    tout en garantissant une meilleure <strong>cohérence graphique</strong> entre les différentes
                    parties d’un projet.
                </p>

                <p class="justify">
                    Figma s’est imposé comme une référence incontournable dans le monde du design produit.
                    Adopté par des entreprises comme <strong>Google</strong>, <strong>Microsoft</strong> ou
                    <strong>Uber</strong>,
                    il est devenu un pilier des workflows <strong>UI/UX</strong> modernes.
                    Ses fonctionnalités telles que les <strong>auto-layouts</strong>,
                    les <strong>composants réutilisables</strong> et le <strong>partage de prototypes
                        interactifs</strong>
                    en font un outil complet pour concevoir des expériences utilisateur harmonieuses et dynamiques.
                </p>

                <p class="justify">
                    J’ai découvert Figma durant mon <strong>alternance chez Dekra Automotive Solutions</strong>,
                    où j’ai eu l’occasion de collaborer sur la conception d’interfaces internes et de maquettes
                    fonctionnelles.
                    Cette première expérience concrète m’a permis de comprendre la valeur de l’outil dans la phase de
                    <strong>préparation visuelle et fonctionnelle</strong> avant le développement.
                    Depuis, j’ai conservé l’envie de <strong>maîtriser pleinement</strong> Figma et de l’intégrer de
                    manière fluide à mes
                    projets de développement front-end.
                </p>

                <p class="justify">
                    Au-delà de l’aspect design, Figma occupe une place centrale dans les approches
                    <strong>agiles et DevOps</strong>, en servant de passerelle entre l’idée et le code.
                    Il m’aide à anticiper les contraintes techniques du front-end, à penser en termes de
                    <strong>composants réutilisables</strong> et à garantir une <strong>expérience utilisateur
                        cohérente</strong>
                    sur l’ensemble des plateformes.
                </p>
            </div>
            <div class="aperçu mt-5">
                <div class="section-sous-title pb-3">
                    <h2>UTILISATION DÉTAILLÉE</h2>
                    <div><span>Pratiques, méthodologie et intégration dans le projet Lineos 3</span></div>
                </div>

                <p class="justify">
                    J’ai utilisé <strong>Figma</strong> pour la première fois de manière professionnelle durant mon
                    <strong>alternance chez Dekra Automotive Solutions</strong>, dans le cadre du projet
                    <strong>Lineos 3 User Manager – Intégration
                        SUP_IAM</strong>.
                    Ce projet m’a permis de participer activement à la <strong>refonte des interfaces
                        utilisateur</strong>
                    d’un outil interne stratégique, en suivant la <strong>charte graphique officielle de Dekra</strong>
                    et le <strong>design system</strong> déjà en place.
                </p>

                <p class="justify">
                    Accompagné par l’équipe <strong>UX/UI</strong>, j’ai conçu sur Figma les
                    <strong>maquettes fonctionnelles</strong> des principales pages de l’application :
                    page de connexion, tableau de bord, gestion des utilisateurs, création de rôles et attribution des
                    droits.
                    Chaque maquette a été pensée selon une logique d’<strong>ergonomie centrée utilisateur</strong>
                    (UX design) et de <strong>hiérarchisation visuelle claire</strong> des informations.
                </p>

                <p class="justify">
                    J’ai exploité les principes fondamentaux du <strong>design system</strong> de Dekra pour garantir
                    une cohérence graphique et technique : typographies, couleurs institutionnelles, composants
                    normalisés
                    (boutons, formulaires, barres de navigation) et espacements standards.
                    Grâce à Figma, j’ai pu utiliser les <strong>Auto-layouts</strong> pour assurer la
                    <strong>responsivité des interfaces</strong> et les <strong>Variants</strong> pour gérer
                    les différents états des composants (survol, inactif, erreur, validation…).
                </p>

                <p class="justify">
                    En parallèle, j’ai conçu des <strong>prototypes interactifs</strong> simulant les parcours
                    utilisateur complets :
                    navigation entre écrans, transitions, validation de formulaires et retours visuels.
                    Ces prototypes ont été présentés lors des <strong>revues de sprint</strong> et
                    ont servi de support à la <strong>validation fonctionnelle</strong> par les équipes métiers avant le
                    développement.
                </p>

                <p class="justify">
                    Figma a également été un levier de <strong>collaboration agile</strong> entre les équipes métiers,
                    techniques et UX.
                    J’ai intégré directement les retours des développeurs et des architectes sur les maquettes,
                    en ajustant certains composants pour <strong>anticiper les contraintes techniques front-end</strong>
                    et <strong>faciliter l’intégration Angular</strong>.
                </p>

                <p class="justify">
                    Cette expérience m’a permis d’acquérir une vision complète du cycle
                    <strong>Design → Prototype → Développement</strong>.
                    J’ai compris comment une conception bien structurée dans Figma permet de
                    <strong>réduire les erreurs de développement</strong>,
                    d’<strong>améliorer la communication inter-équipes</strong>
                    et d’<strong>accélérer le déploiement des interfaces</strong> dans un environnement Agile.
                </p>
            </div>
            <div class="aperçu mt-5">
                <div class="section-sous-title pb-3">
                    <h2>ANECDOTE PROFESSIONNELLE</h2>
                    <div><span>Création du scénario d’ajout d’un nouvel utilisateur sur la nouvelle interface</span>
                    </div>
                </div>

                <p class="justify">
                    Lors du projet
                    <a routerLink="/work/lineosUserManager-project" target="_blank"
                        style="color:#f6bb67;"><strong>Lineos 3 User Manager – Intégration
                            SUP_IAM</strong></a>,
                    j’ai eu pour mission de concevoir sur <strong>Figma</strong> le scénario complet d’<strong>ajout
                        d’un nouvel
                        utilisateur</strong>
                    dans la nouvelle interface d’administration.
                    L’objectif était de repenser ce parcours afin de le rendre plus clair, plus fluide et conforme
                    au <strong>design system de Dekra</strong>.
                </p>

                <p class="justify">
                    En collaboration avec l’équipe <strong>UX/UI</strong> et les <strong>référents métiers</strong>,
                    j’ai défini chaque étape du processus : création du compte, attribution des rôles, liaison à un
                    client
                    et validation finale.
                    J’ai ensuite conçu les <strong>maquettes interactives</strong> correspondantes, en utilisant les
                    notions
                    clés
                    de Figma telles que les <strong>Auto-layouts</strong>, les <strong>Variants</strong> et les
                    <strong>composants réutilisables</strong> pour maintenir une cohérence visuelle sur toutes les
                    étapes.
                </p>

                <p class="justify">
                    Grâce au <strong>prototypage interactif</strong>, j’ai pu simuler le parcours utilisateur complet
                    et le présenter en revue de sprint.
                    Cette approche a permis de <strong>valider le flux fonctionnel</strong> avant le développement
                    et d’anticiper plusieurs points d’amélioration, notamment la simplification des champs obligatoires
                    et la gestion des messages d’erreur.
                </p>

                <p class="justify">
                    Le scénario final a servi de <strong>référence directe</strong> pour les développeurs et les
                    testeurs,
                    garantissant une implémentation fidèle aux besoins métiers.
                    Cette expérience m’a montré l’importance du prototypage fonctionnel dans la réussite d’un projet
                    agile
                    et le rôle central de Figma pour <strong>connecter la conception et le développement</strong>.
                </p>
            </div>
            <div class="aperçu mt-5">
                <div class="section-sous-title pb-3">
                    <h2>IMPORTANCE POUR MON PROFIL</h2>
                    <div><span>Un atout complémentaire pour un développeur full stack</span></div>
                </div>

                <p class="justify">
                    Bien que <strong>Figma</strong> ne soit pas un outil indispensable pour un développeur,
                    il représente un <strong>véritable plus</strong> dans ma pratique du métier,
                    en particulier sur la partie <strong>front-end</strong>.
                    Comprendre son fonctionnement me permet d’<strong>interpréter plus facilement les
                        maquettes</strong>,
                    de <strong>prévoir les contraintes d’intégration</strong> et d’assurer une meilleure cohérence
                    entre la vision des designers et le rendu final du produit.
                </p>

                <p class="justify">
                    En tant que <strong>développeur full stack</strong>, l’usage de Figma m’aide à
                    <strong>gagner du temps en développement</strong>, à
                    <strong>anticiper les comportements visuels</strong> et à
                    <strong>collaborer plus efficacement</strong> avec les équipes UX/UI.
                    Cette compréhension commune évite les malentendus sur le design
                    et facilite la traduction des maquettes en composants réutilisables côté code.
                </p>

                <p class="justify">
                    C’est donc une compétence que je considère comme <strong>complémentaire et stratégique</strong>
                    pour tout développeur moderne : elle renforce la qualité du produit livré
                    et améliore la communication au sein des équipes projets.
                </p>
            </div>
            <div class="aperçu mt-5">
                <div class="section-sous-title pb-3">
                    <h2>VITESSE D’ACQUISITION, RECUL ET PERSPECTIVES</h2>
                    <div><span>Apprentissage, progression et vision à moyen terme</span></div>
                </div>

                <p class="justify">
                    Mon apprentissage de <strong>Figma</strong> s’est fait durant mon alternance
                    chez <strong>Dekra Automotive Solutions</strong>, dans un contexte de refonte d’outils internes.
                    Cette expérience m’a permis de découvrir la logique du <strong>maquettage professionnel</strong>
                    et de comprendre comment structurer des interfaces selon une <strong>charte graphique</strong>
                    et un <strong>design system existant</strong>.
                </p>

                <p class="justify">
                    J’ai acquis cette compétence de manière rapide et pragmatique,
                    en travaillant directement sur des cas concrets.
                    Je peux aujourd’hui créer des maquettes cohérentes, organiser des composants
                    et documenter les parcours utilisateurs pour faciliter la phase d’intégration.
                </p>

                <p class="justify">
                    Avec le recul, je vois <strong>Figma</strong> comme un outil qui renforce la vision produit
                    d’un développeur : il permet de mieux anticiper la logique visuelle et fonctionnelle
                    avant même d’écrire une ligne de code.
                    Je conseille à tout développeur de s’intéresser à Figma,
                    même sans être designer. Comprendre la logique du maquettage et du prototypage
                    permet d’éviter de nombreuses erreurs d’intégration et de gagner en fluidité
                    dans la collaboration avec les équipes UX/UI.
                    C’est une compétence transversale que je compte consolider à travers
                    l’étude des <strong>design systems</strong> et la maîtrise d’outils collaboratifs comme
                    <strong>FigJam</strong>.
                </p>

                <p class="justify">
                    À moyen terme, je souhaite approfondir cette dimension en suivant la formation
                    <em>“Figma for Developers”</em> sur <strong>Frontend Masters</strong>
                    et en m’appuyant sur le livre
                    <a href="https://www.figmacrashcourse.com" target="_blank" style="color:#f6bb67;"><strong>The Figma
                            Crash
                            Course</strong></a>
                    de Greg Rog, afin d’intégrer pleinement la logique UX/UI dans ma pratique de développement
                    front-end.
                </p>
            </div>
            <div class="aperçu mt-5">
                <div class="container pt-3">
                    <div class="header_line_gradient"></div>
                    <p class="text-xl text-center pt-3 pb-2" style="color: #f6bb67;">
                        Projets illustrant l’utilisation de <strong>Figma</strong>
                    </p>

                    <div class="action-git pt-3"
                        style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem;">

                        <div class="action-git pt-3">
                            <a [routerLink]="['/work/lineosUserManager-project']" fragment="interface" class="git-btn">
                                <div class="git-btn-text"> Voir les maquettes sur le projet Lineos 3 User Manager</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-scroll-top></app-scroll-top>