<main class="main-wrapper">
  <!-- Page Title -->
  <div class="page-title">
    <div class="heading pb-3">
      <div class="container">
        <div class="text-title">
          <h1 class="text-muted opacity-1 text-uppercase mb-0">
            Qui Suis-Je ?
          </h1>
          <p>
            Explorez Mon Univers
            <span class="heading-separator-line"></span>
          </p>
        </div>
        <div class="hero__scroll">
          <div class="hero__scroll-down"></div>
        </div>
      </div>
    </div>

    <hr />
  </div>
  <!-- End Page Title -->

  <!-- About Section -->
  <section id="about" class="about section">
    <app-general-presentation></app-general-presentation>
    <app-values></app-values>
  </section>
  <!-- /About Section -->

  <!-- Project pro and perso Section -->
  <section id="about" class="about section pt-1 ">
    <app-pro-perso-projects></app-pro-perso-projects>
  </section>
  <!-- /Project pro and perso Section -->


  <!-- Qualities Section -->
  <section id="about" class="about section pt-1 ">
    <app-qualities></app-qualities>
  </section>
  <!-- /Qualities Section -->

  <!-- interests Section -->
  <section id="interests" class="interests section pt-1">
    <app-interests></app-interests>
  </section>
  <!-- /interests Section -->

  <!-- language Section -->
  <section id="language" class="language section pt-1">
    <app-language></app-language>
  </section>
  <!--/language Section -->
</main>
<app-scroll-top></app-scroll-top>