<main class="main-wrapper">
    <!-- Page Title -->
    <div class="page-title">
        <div class="heading pb-3">
            <div class="container">
                <p style="text-align: center;">
                    <img style="width: 10%;" src="assets/img/postgreSql.png" alt="">
                </p>
                <div class="text-title">
                    <h2 class="text-muted opacity-1 text-uppercase mb-0">
                        PostgreSQL
                    </h2>
                </div>
                <div class="hero__scroll">
                    <div class="hero__scroll-down"></div>
                </div>
            </div>
        </div>

        <hr />
    </div>
    <!-- End Page Title -->

    <!-- PostgreSQL Section -->
    <section id="postgresql" class="postgresql section">
        <div class="container">
            <div class="resume-card">
                <p><strong>Niveau :</strong> ⭐⭐⭐⭐☆ (avancé)</p>
                <p><strong>Années d’expérience :</strong> 2+</p>
            </div>

            <div class="aperçu">
                <div class="section-sous-title pb-3">
                    <h2>DESCRIPTION</h2>
                    <div><span>Présentation générale du système de gestion de base de données</span></div>
                </div>

                <p class="justify">
                    <strong>PostgreSQL</strong> est un <strong>système de gestion de base de données relationnelle et
                        orientée objet</strong>
                    (<strong>SGBDOR</strong>) open source, conçu pour offrir un haut niveau de fiabilité, de performance
                    et de conformité
                    aux standards SQL. Il se distingue par son architecture robuste, sa capacité à gérer des
                    transactions complexes
                    et son support natif des fonctionnalités avancées comme les <strong>vues matérialisées</strong>, les
                    <strong>triggers</strong>,
                    les <strong>fonctions stockées</strong> ou encore les <strong>types de données
                        personnalisés</strong>.
                </p>

                <p class="justify">
                    Développé initialement à l’Université de Californie à Berkeley, PostgreSQL a évolué pour devenir
                    aujourd’hui
                    l’un des moteurs de base de données les plus complets et les plus respectés dans le monde
                    professionnel.
                    Il est totalement conforme au standard <strong>SQL:2023</strong> et supporte des fonctionnalités
                    souvent absentes
                    d’autres systèmes : transactions <strong>ACID</strong> garanties, <strong>contrôle d’accès
                        multi-niveaux</strong>,
                    <strong>indexation avancée</strong> (B-Tree, Hash, GIN, GiST) et gestion performante du
                    <strong>parallélisme</strong>.
                    Sa conception modulaire permet également d’ajouter des extensions telles que
                    <strong>PostGIS</strong> pour les données spatiales
                    ou <strong>pg_partman</strong> pour la gestion de la partition des tables à grande échelle.
                </p>

                <p class="justify">
                    J’ai utilisé PostgreSQL tout au long de mon <strong>Master en Ingénierie Logicielle</strong> à
                    l’ISCOD,
                    dans le cadre de projets d’applications web connectées à des architectures back-end complexes.
                    Ces travaux m’ont permis de mettre en œuvre la <strong>modélisation relationnelle</strong>,
                    la <strong>création de schémas normalisés</strong> et la <strong>rédaction de requêtes SQL
                        complexes</strong>
                    intégrant plusieurs jointures, sous-requêtes et contraintes d’intégrité référentielle.
                </p>

                <p class="justify">
                    En parallèle, j’ai exploité PostgreSQL avec des environnements <strong>Spring Boot</strong> (Java)
                    et <strong>.NET</strong> (C#), notamment pour la gestion des données dans des applications de
                    gestion
                    et de reporting. Ces expériences m’ont permis de maîtriser les interactions entre couche applicative
                    et base de données via des <strong>ORM</strong> tels qu’<strong>Entity Framework</strong> et
                    <strong>Hibernate</strong>,
                    tout en appliquant les bonnes pratiques de conception, d’indexation et d’optimisation des requêtes.
                </p>

                <p class="justify">
                    Sur le plan technologique, PostgreSQL s’est imposé comme un standard dans le monde du développement
                    moderne.
                    De plus en plus d’entreprises migrent vers ce moteur pour sa <strong>stabilité</strong>, sa
                    <strong>scalabilité</strong>
                    et sa compatibilité avec les infrastructures <strong>cloud</strong> comme <strong>Docker</strong>,
                    <strong>Kubernetes</strong> ou <strong>Azure Database for PostgreSQL</strong>.
                    Il est aujourd’hui utilisé par de grands acteurs tels que <strong>Spotify</strong>,
                    <strong>Apple</strong>,
                    <strong>Netflix</strong> ou encore <strong>Red Hat</strong>, ce qui témoigne de sa maturité et de sa
                    fiabilité
                    dans des contextes à forte charge.
                </p>

                <p class="justify">
                    Dans mon activité actuelle chez <strong>Dekra Automotive Solutions</strong>,
                    j’applique des principes similaires sur <strong>SQL Server</strong> pour la gestion des données
                    opérationnelles,
                    les requêtes analytiques et la création de vues optimisées.
                    Les compétences acquises avec PostgreSQL — modélisation, intégrité des données, gestion de la
                    concurrence —
                    se traduisent directement dans ces environnements, confirmant la transférabilité de cette expertise.
                </p>

                <div class="aperçu mt-5">
                    <div class="section-sous-title pb-3">
                        <h2>UTILISATION DÉTAILLÉE</h2>
                        <div><span>Pratiques, outils et mise en œuvre</span></div>
                    </div>

                    <p class="justify">
                        Dans mes différents projets, j’ai utilisé <strong>PostgreSQL</strong> comme
                        <strong>système de gestion de base de données relationnelle</strong> pour concevoir,
                        structurer et exploiter des modèles de données complexes.
                        Son architecture robuste et sa conformité aux standards SQL en font une solution de choix
                        pour des applications nécessitant à la fois <strong>performance</strong>,
                        <strong>cohérence</strong> et <strong>sécurité des données</strong>.
                    </p>

                    <p class="justify">
                        En pratique, j’ai mis en œuvre PostgreSQL dans des contextes variés :
                        sur le plan <strong>professionnel</strong> chez <strong>Dekra Automotive Solutions</strong>,
                        au sein du projet <strong>Lineos 3 User Manager</strong>,
                        et sur le plan <strong>académique</strong> dans le <strong>Proof of Concept MedHead</strong>.
                        Dans ces deux environnements, PostgreSQL a servi à concevoir des bases relationnelles
                        optimisées et à gérer des transactions complexes entre microservices ou modules applicatifs.
                    </p>

                    <p class="justify">
                        Mon utilisation repose d’abord sur la <strong>modélisation rigoureuse du schéma de
                            données</strong> :
                        définition des entités, normalisation, gestion des clés étrangères et mise en place de
                        <strong>contraintes d’intégrité</strong>. Cette étape garantit la qualité et la fiabilité des
                        données
                        sur le long terme, tout en facilitant la maintenance du système.
                        Dans le projet <a routerLink="/work/lineosUserManager-project"><strong>Lineos 3 User
                                Manager</strong></a>,
                        j’ai par exemple adapté les modèles PostgreSQL pour permettre la gestion multi-applications et
                        la synchronisation des comptes utilisateurs dans un environnement <strong>.NET 8</strong>.
                    </p>

                    <p class="justify">
                        Sur le plan des <strong>requêtes SQL</strong>, je m’appuie sur des instructions avancées telles
                        que
                        les <strong>jointures multiples</strong>, les <strong>CTE</strong> (Common Table Expressions) et
                        les
                        <strong>fonctions de fenêtrage</strong> pour extraire, agréger et manipuler efficacement les
                        données.
                        Ces techniques sont particulièrement utiles dans les projets à forte logique métier, comme
                        <a routerLink="/work/medHeadPOC-project"><strong>MedHead PoC</strong></a>,
                        où elles ont permis d’optimiser la recherche et la mise à jour en temps réel des lits
                        hospitaliers.
                    </p>

                    <p class="justify">
                        J’intègre également PostgreSQL dans des environnements applicatifs variés.
                        Dans les projets en <strong>.NET</strong>, je m’appuie sur <strong>Entity Framework</strong>
                        pour la gestion
                        des entités et la communication entre la couche métier et la base.
                        Dans les projets <strong>Spring Boot</strong>, j’utilise <strong>JPA/Hibernate</strong> pour
                        automatiser
                        la persistance des données et garantir la compatibilité entre PostgreSQL et les modèles objets.
                    </p>

                    <p class="justify">
                        Pour le déploiement et les environnements de test, PostgreSQL est souvent intégré à des
                        <strong>conteneurs Docker</strong>, ce qui facilite la portabilité et la montée en charge du
                        système.
                        Dans le projet <strong>MedHead</strong>, cette approche a permis de simuler plusieurs bases
                        synchronisées
                        et d’évaluer la stabilité des transactions sous forte charge.
                        Ce type de configuration est également idéal pour les scénarios CI/CD.
                    </p>

                    <p class="justify">
                        Enfin, j’accorde une attention particulière à la <strong>sécurité</strong> et à
                        l’<strong>optimisation des performances</strong>.
                        Cela passe par la création d’<strong>index ciblés</strong>,
                        l’analyse des <strong>plans d’exécution</strong>,
                        et la surveillance des verrous lors de l’accès concurrent aux données.
                        Ces bonnes pratiques me permettent d’assurer une exploitation fluide et fiable,
                        même dans des environnements à forte volumétrie.
                    </p>

                    <p class="justify">
                        Aujourd’hui, PostgreSQL occupe une place essentielle dans mon profil de
                        <strong>développeur full stack</strong>.
                        Sa polyvalence et sa rigueur en font un outil indispensable pour la conception
                        de systèmes d’information performants, évolutifs et sécurisés.
                    </p>
                </div>
                <div class="aperçu mt-5">
                    <div class="section-sous-title pb-3">
                        <h2>ANECDOTES ET EXPÉRIENCES CONCRÈTES</h2>
                        <div><span>Mise en œuvre de PostgreSQL dans des contextes professionnels et académiques</span>
                        </div>
                    </div>

                    <!-- Anecdote 1 -->
                    <h4 style="color: #f6bb67">1. Structuration et optimisation de la base PostgreSQL dans le projet
                        Lineos 3 User Manager (Dekra)</h4>
                    <p class="justify">
                        Dans le cadre de mon activité au sein de <strong>Dekra Automotive Solutions</strong>,
                        j’ai contribué au développement de la plateforme <a
                            routerLink="/work/lineosUserManager-project"><strong>Lineos 3 User Manager</strong></a>,
                        un outil stratégique destiné à la <strong>gestion centralisée des comptes utilisateurs</strong>
                        pour plusieurs applications internes.
                        PostgreSQL y joue un rôle fondamental en assurant la cohérence et la traçabilité des identités
                        numériques dans un écosystème intégré en <strong>.NET 8</strong>.
                    </p>

                    <p class="justify">
                        Ma principale mission consistait à <strong>concevoir le modèle relationnel</strong> de la base
                        et à <strong>optimiser la gestion des permissions</strong>.
                        J’ai défini une architecture modulaire basée sur des schémas PostgreSQL séparés, favorisant la
                        <strong>sécurité des accès</strong>
                        et la <strong>maintenabilité du code</strong>.
                        Les relations entre les entités (utilisateurs, rôles, applications, modules) ont été normalisées
                        afin de réduire la redondance et d’améliorer la lisibilité des données.
                    </p>

                    <p class="justify">
                        Pour garantir la performance du système, j’ai mis en place des <strong>index ciblés</strong> sur
                        les colonnes les plus sollicitées,
                        et utilisé des <strong>requêtes jointes optimisées</strong> pour la récupération des profils
                        d’accès.
                        J’ai également participé à la configuration des <strong>transactions concurrentes</strong> afin
                        de prévenir les blocages en cas de mise à jour simultanée.
                        Ce travail a permis d’obtenir une base <strong>plus performante et plus stable</strong>, capable
                        de supporter la montée en charge liée à la croissance du parc applicatif.
                    </p>

                    <p class="justify">
                        Le résultat a été une amélioration mesurable du temps de réponse de l’API et une gestion plus
                        fine des droits utilisateurs.
                        Cette contribution a renforcé la <strong>fiabilité</strong> et la <strong>sécurité
                            opérationnelle</strong> du système Lineos 3,
                        tout en réduisant la complexité du code côté back-end.
                    </p>

                    <!-- Anecdote 2 -->
                    <h4 style="color: #f6bb67">2. Gestion des migrations et synchronisation des données avec Flyway dans
                        le projet MedHead PoC</h4>
                    <p class="justify">
                        Dans le cadre de mon <strong>Master 2 Expert en Ingénierie Logicielle</strong> à L'ISCOD,
                        j’ai participé au développement du projet <a
                            routerLink="/work/medHeadPOC-project"><strong>MedHead Proof of
                                Concept</strong></a>,
                        une application distribuée visant à <strong>optimiser la répartition des ressources
                            hospitalières</strong> en situation d’urgence.
                        PostgreSQL y servait de base relationnelle principale, intégrée à une architecture
                        <strong>microservices Spring Boot</strong>
                        et complétée par une base documentaire <strong>MongoDB</strong>.
                    </p>

                    <p class="justify">
                        J’ai pris en charge la <strong>modélisation complète du schéma PostgreSQL</strong> et son
                        intégration avec les autres services du système.
                        Afin d’assurer la cohérence entre les différentes instances de base et faciliter le déploiement
                        continu,
                        j’ai implémenté un processus de <strong>migration automatisée avec Flyway</strong>.
                        Ce mécanisme permettait de versionner le schéma, d’exécuter les scripts SQL dans un ordre
                        maîtrisé,
                        et d’éviter les incohérences entre environnements de développement et de production.
                    </p>

                    <p class="justify">
                        J’ai également développé des <strong>requêtes SQL complexes</strong> combinant plusieurs
                        jointures pour
                        extraire en temps réel les lits hospitaliers disponibles selon la localisation et la criticité
                        des cas.
                        Ces requêtes étaient encapsulées dans des <strong>vues matérialisées</strong> pour accélérer la
                        restitution des résultats
                        sans compromettre la cohérence des données.
                        L’ensemble de la base était orchestré via des <strong>conteneurs Docker</strong>, garantissant
                        portabilité et isolation des services.
                    </p>

                    <p class="justify">
                        Le résultat a été un système <strong>hautement cohérent et facilement déployable</strong>,
                        capable d’assurer une synchronisation rapide des données médicales.
                        L’usage de Flyway a permis de réduire considérablement les erreurs de migration
                        et d’assurer une <strong>traçabilité complète</strong> du schéma de base dans le pipeline CI/CD.
                    </p>
                </div>
                <div class="aperçu mt-5">
                    <div class="section-sous-title pb-3">
                        <h2>NIVEAU DE MAÎTRISE ET CONTEXTUALISATION</h2>
                        <div><span>Positionnement, progression et recul professionnel</span></div>
                    </div>

                    <p class="justify">
                        Mon niveau actuel sur <strong>PostgreSQL</strong> est celui d’un <strong>utilisateur
                            confirmé</strong>,
                        capable de concevoir, interroger et optimiser des bases de données dans des contextes
                        aussi bien <strong>industriels</strong> qu’<strong>académiques</strong>.
                        J’ai acquis une pratique solide sur la <strong>modélisation</strong>, la
                        <strong>structuration</strong> des données
                        et l’<strong>optimisation des requêtes SQL</strong> dans des architectures applicatives
                        modernes.
                        Cette compétence s’exprime aussi bien dans des environnements <strong>.NET</strong>
                        que <strong>Java / Spring Boot</strong>, avec une intégration fluide dans des processus
                        d’automatisation
                        via <strong>Flyway</strong> et <strong>Docker</strong>.
                    </p>

                    <p class="justify">
                        J’adapte ma manière d’utiliser PostgreSQL selon le contexte :
                        dans les projets <strong>professionnels</strong> (chez Dekra),
                        l’objectif est la <strong>fiabilité et la sécurité</strong> des transactions ;
                        dans les projets <strong>de recherche ou de preuve de concept</strong> (comme MedHead),
                        je privilégie la <strong>modularité et la scalabilité</strong> des schémas.
                        Cette flexibilité m’a permis de comprendre les contraintes propres à chaque usage
                        et d’ajuster mes choix de conception en conséquence.
                    </p>

                    <p class="justify">
                        Ma <strong>marge de progression</strong> se situe sur les aspects avancés du langage SQL,
                        notamment la <strong>manipulation des curseurs</strong>,
                        l’écriture de <strong>procédures stockées complexes</strong>
                        et l’optimisation des <strong>requêtes multi-jointures</strong> dans des bases à grande
                        volumétrie.
                        Ces sujets représentent pour moi des leviers essentiels pour aller plus loin
                        dans la maîtrise de la performance côté serveur.
                    </p>

                    <p class="justify">
                        J’ai acquis cette compétence de manière progressive, au fil de mes études et projets,
                        en la consolidant par une pratique régulière et une veille technique continue.
                        Ma <strong>vitesse d’acquisition</strong> a été favorisée par la proximité conceptuelle entre
                        <strong>MySQL</strong> (utilisé durant mes études) et <strong>PostgreSQL</strong>,
                        ce qui m’a permis d’approfondir rapidement des notions plus avancées
                        telles que les <strong>transactions concurrentes</strong> et les <strong>vues
                            matérialisées</strong>.
                    </p>

                    <p class="justify">
                        Avec le recul, je considère que la maîtrise de PostgreSQL repose sur une compréhension fine
                        des <strong>principes d’intégrité des données</strong> et sur une bonne lecture des
                        <strong>plans d’exécution</strong>.
                        Mon conseil pour moi-même et pour d’autres développeurs serait de ne pas se limiter
                        à l’écriture de requêtes fonctionnelles, mais d’investir du temps dans l’analyse des
                        performances
                        et la structuration des index dès les premières étapes du développement.
                    </p>

                    <p class="justify">
                        Dans mon profil d’<strong>ingénieur en développement logiciel</strong>,
                        PostgreSQL occupe une place essentielle : c’est la base sur laquelle s’appuie
                        la cohérence des applications que je conçois.
                        Cette compétence est à la fois un <strong>socle technique</strong> et un
                        <strong>facteur de fiabilité</strong> pour l’ensemble de mes projets.
                        Mon objectif à moyen terme est d’approfondir les aspects
                        <strong>analyse de performance</strong> et <strong>procédural SQL</strong>,
                        afin de renforcer ma capacité à intervenir sur des systèmes à forte contrainte de données.
                    </p>

                    <p class="justify">
                        Ces expériences illustrent la place stratégique de PostgreSQL dans ma pratique quotidienne.
                        Elles se traduisent concrètement à travers plusieurs projets que j’ai développés ou maintenus,
                        présentés ci-dessous.
                    </p>
                </div>

                <div class="aperçu mt-5">
                    <div class="section-sous-title pb-3">
                        <h2>RESSOURCES ET VEILLE TECHNIQUE</h2>
                        <div><span>Références et lectures recommandées</span></div>
                    </div>

                    <p class="justify">
                        Pour maintenir un haut niveau de maîtrise de <strong>PostgreSQL</strong>,
                        je m’appuie sur une veille technique régulière et des ressources de référence.
                        La <a href="https://www.postgresql.org/docs/" target="_blank" style="color:#f6bb67;">
                            <strong>documentation officielle PostgreSQL</strong></a> constitue un support incontournable
                        pour comprendre les évolutions du langage et les fonctionnalités introduites à chaque version.
                    </p>

                    <p class="justify">
                        En complément, je recommande la lecture de
                        <a href="https://www.oreilly.com/library/view/mastering-postgresql-15/9781803248349/"
                            target="_blank" style="color:#f6bb67;">
                            <strong>Mastering PostgreSQL 15 – O’Reilly</strong></a>,
                        un ouvrage clair et approfondi qui aborde les performances, l’optimisation des requêtes
                        et les stratégies d’indexation avancées.
                    </p>
                </div>


                <div class="aperçu mt-5">
                    <div class="container pt-3">
                        <div class="header_line_gradient"></div>
                        <p class="text-xl text-center pt-3 pb-2" style="color: #f6bb67;">
                            Projets associés à <strong>PostgreSQL</strong>
                        </p>

                        <div class="action-git pt-3"
                            style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem;">

                            <a routerLink="/work/lineosUserManager-project" target="_blank" class="git-btn">
                                <div class="git-btn-text">
                                    Lineos 3 User Manager – Intégration IAM avec .NET & PostgreSQL
                                </div>
                            </a>

                            <a routerLink="/work/medHeadPOC-project" target="_blank" class="git-btn">
                                <div class="git-btn-text">
                                    MedHead POC – Système d’urgence avec Spring Boot, Flyway & PostgreSQL
                                </div>
                            </a>

                            <a routerLink="/work/project-management-tool" target="_blank" class="git-btn">
                                <div class="git-btn-text">
                                    Outil de Gestion de Projets Collaboratifs – MPMT avec Spring Boot, Flyway &
                                    PostgreSQL
                                </div>
                            </a>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


</main>
<app-scroll-top></app-scroll-top>