<main class="main-wrapper">
  <!-- Page Title -->
  <div class="page-title">
    <div class="heading">
      <div class="container">
        <div class="text-title">
          <h5>
            GFlotte – Application Web de Gestion de Flotte Automobile
            <div class="section-sous-title pb-3">
              <h2 style="color: #bababa; position: absolute; font-size: 12px">
                Février 2021 – Juin 2021
              </h2>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row g-2" style="justify-content: center">
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Architecture MVC</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Tableaux de Bord Interactifs</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Sécurisation JWT</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">API RESTful</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Méthodologie Agile SCRUM</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="skill-project">
            <span class="project-span">Statistiques & Rapports</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Title -->
  <section id="project#MedHead" class="section project-medHeadPoc-section">
    <div class="container">
      <video
        src="assets/img//gflotte-project/video-pres.mp4"
        controls
        class="card-img"
        alt="..."
        style="border-radius: 25px; cursor: pointer"
      ></video>
      <div class="row g-2 g-lg-3 pt-5 pb-5">
        <div class="col border-col">
          <div class="border-white"></div>

          <div class="pt-3">
            <h5>Contexte du Projet</h5>
            <p>– Stage de Fin d'Études</p>
            <p>– Application de Gestion de Flotte Automobile</p>
            <p>– Développement Full Stack Web</p>
          </div>
        </div>

        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Technologies Front-end</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>React.js </span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>JavaScript</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Bootstrap</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Technologies Back-end</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Node.js </span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Express.js </span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>MongoDB</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Outils</h5>
            <div class="row g-2">
              <div class="col-auto">
                <div class="skill-project2">
                  <span>GitLab</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Postman</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>SCRUM</span>
                </div>
              </div>
              <div class="col-auto">
                <div class="skill-project2">
                  <span>Draw.io</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col border-col">
          <div class="border-white"></div>
          <div class="pt-3">
            <h5>Rôle</h5>
            <p>– Conception de l'Architecture</p>
            <p>– Maquettage UX</p>
            <p>– Développement Front-end</p>
            <p>– Développement back-end</p>
          </div>
        </div>
      </div>
      <div class="aperçu">
        <div class="section-sous-title pb-3">
          <h2>APERÇU</h2>
          <div>
            <span>BRIEF DU PROJET </span>
          </div>
        </div>
        <p>
          Le projet <b>GFlotte</b> a été réalisé dans le cadre de mon stage de
          fin d’études de licence en informatique. Ce projet répond à un besoin
          concret des entreprises de gestion de flotte automobile, en
          simplifiant les processus complexes liés à la gestion des véhicules,
          des missions, et des conducteurs. L'objectif était de concevoir et de
          développer une solution web centralisée permettant d’automatiser les
          tâches quotidiennes tout en garantissant la sécurité et l'efficacité
          des opérations.
        </p>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🚨</h2>
          <div>
            <span class="text-uppercase">Problématique</span>
          </div>
        </div>
        <p>La gestion traditionnelle de flotte comporte plusieurs défis :</p>
        <ul>
          <li>
            <b>Gestion manuelle non optimisée :</b> Outils désuets comme Excel
            rendant difficile le suivi des opérations complexes.
          </li>
          <li>
            <b>Difficulté de coordination :</b> Manque de visibilité en temps
            réel sur l'état des véhicules, missions, entretiens, et
            consommations de carburant.
          </li>
          <li>
            <b>Multiplicité des tâches :</b> Suivi manuel des échéances
            administratives, des conducteurs, et des véhicules.
          </li>
          <li>
            <b>Sécurité des données :</b> Gestion non centralisée des données
            sensibles, augmentant le risque d'erreurs et de fuites.
          </li>
        </ul>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💡</h2>
          <div>
            <span>Solution Proposée </span>
          </div>
        </div>
        <p>
          GFlotte est une application web intuitive permettant de centraliser la
          gestion des flottes de véhicules. Elle offre une interface simple à
          utiliser, mais puissante, pour suivre
          <i>les missions, les véhicules, les conducteurs,</i> ainsi que
          <i>la maintenance </i>et <i>la consommation de carburant</i>.
          L’application repose sur une architecture
          <b>MVC (Modèle-Vue-Contrôleur)</b>, garantissant une meilleure
          évolutivité et maintenabilité
        </p>

        <h5 class="d-flex pt-3" style="color: #d3d1d1; justify-content: center">
          🔹Maquettes &amp; Prototypes🔹
        </h5>
        <section id="interface" class="interface section pt-3 pb-3">
          <div class="container">
            <div class="isotope-layout">
              <div class="row gy-4 isotope-container">
                <div class="col-auto interface-item isotope-item filter-app">
                  <div class="interface-content h-100">
                    <img
                      #imageElement1
                      src="assets/img//gflotte-project/acceuil-prot.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Prototypage</h4>
                      <p>Page d'accueil</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement1.src)"
                        title="App 1"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement2
                      src="assets/img//gflotte-project/vehic-prot.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Prototypage</h4>
                      <p>Interface gestion véhicules</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement2.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement3
                      src="assets/img//gflotte-project/createUser-prot.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Prototypage</h4>
                      <p>Interface créer utilisateurs pour administrateur</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement3.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement4
                      src="assets/img//gflotte-project/createUserRes-prot.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Prototypage</h4>
                      <p>Interface missions pour conducteur</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement4.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement5
                      src="assets/img//gflotte-project/mission-prot.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Prototypage</h4>
                      <p>Interface gestion missions</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement5.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
                <div class="col-auto interface-item isotope-item">
                  <div class="interface-content h-100">
                    <img
                      #imageElement6
                      src="assets/img//gflotte-project/allMissions-prot.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="interface-info">
                      <h4>Prototypage</h4>
                      <p>Interface missions</p>
                      <a
                        href="javascript:void(0);"
                        (click)="openModal(imageModal, imageElement6.src)"
                        class="preview-link"
                        ><i class="fa-solid fa-magnifying-glass-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <!-- End interface Item -->
              </div>
              <!-- End interface Container -->

              <!-- Template for the modal -->
              <ng-template #imageModal let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">Wireframe créé avec Balsamiq</h4>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  ></button>
                </div>
                <div class="modal-body text-center">
                  <img [src]="selectedImage" class="img-fluid" />
                </div>
              </ng-template>
            </div>
          </div>
        </section>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">💫</h2>
          <div>
            <span class="text-uppercase">Mes Contributions</span>
          </div>
        </div>
        <ul>
          <li>
            <b>Conception de l'architecture :</b>Élaboration d'une architecture
            MVC robuste pour une séparation claire des préoccupations.
          </li>
          <li>
            <b>Développement du back-end :</b> Implémentation des
            <b>API RESTful</b> avec <b>Node.js</b> et <b>Express.js</b>, gestion
            de la base de données avec <b>MongoDB</b>.
          </li>
          <li>
            <b>Développement Front-end :</b> Utilisation de <b>React.js</b> pour
            créer une interface utilisateur dynamique, intuitive et réactive.
          </li>
          <li>
            <b>Sécurité :</b> Mise en place de l’authentification et de
            l’autorisation avec <b>JWT</b> (JSON Web Tokens) pour garantir un
            accès sécurisé.
          </li>

          <li>
            <b>Gestion de projet agile :</b> Application de la méthodologie
            <b>SCRUM</b>
            avec des sprints de deux semaines pour assurer une livraison
            progressive et incrémentale des fonctionnalités.
          </li>
        </ul>
      </div>
    </div>
    <!--exercice-->
    <div class="container">
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🎯</h2>
          <div>
            <span class="text-uppercase">Résultats Obtenus </span>
          </div>
        </div>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Aspect</th>
              <th scope="col">Détails</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Amélioration de la Performance</th>
              <td>
                Réduction significative du temps consacré aux tâches
                administratives et opérationnelles.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
            <tr>
              <th scope="row">Centralisation efficace</th>
              <td>
                Tous les aspects de la gestion de flotte sont désormais
                accessibles via une plateforme unique.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
            <tr>
              <th scope="row">Optimisation des Coûts</th>
              <td>
                Grâce à des rapports détaillés, les gestionnaires peuvent
                identifier les dépenses excessives et optimiser les performances
                des véhicules.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
            <tr>
              <th scope="row">Interface intuitive</th>
              <td>
                Accessible via tout navigateur, l’interface simplifie la gestion
                quotidienne pour les responsables de flotte et les conducteurs.
              </td>
              <td style="font-size: 25px">✅</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="aperçu mt-5">
        <div class="section-sous-title pb-3">
          <h2 style="color: #fafafa">🔎</h2>
          <div>
            <span class="text-uppercase">Perspectives d’Évolution </span>
          </div>
        </div>
        <ul>
          <li>
            Développement d’une application mobile pour une gestion de flotte
            encore plus flexible et accessible.
          </li>
          <li>
            Intégration de la géolocalisation en temps réel via GPS pour un
            suivi optimal des véhicules en mission.
          </li>
        </ul>
        <img
          src="assets/img//gflotte-project/mobileApp.svg"
          class="card-img"
          style="width: 75%"
          alt="..."
        />
      </div>
      <div class="container pt-3">
        <div class="header_line_gradient"></div>
        <p class="text-xl">
          🡮 N'hésitez pas à explorer le code source sur GitLab🡯
        </p>
        <div class="action-git">
          <a
            href="https://gitlab.com/wa2l-99/gflotte-pfe"
            class="git-btn"
            target="_blank"
            ><div class="git-btn-text">
              Consulter le Dépôt <i class="fa-brands fa-square-gitlab"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- interface Section -->

  <!-- /interface Section -->

  <!-- /exercice Section -->
</main>
<app-scroll-top></app-scroll-top>
