<div class="container">
  <div class="section-title mb-5">
    <h2>Mon Savoir-Faire</h2>
    <p>
      Je mets à profit à la fois mon expertise technique et ma réflexion
      stratégique pour offrir des solutions complètes et efficaces.
    </p>
  </div>
  <h3 class="text-lg">Technologies Utilisées</h3>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 gap-4 mb-4">
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/spring.png" alt="Spring-boot-logo" />
      </div>
      <p>Spring Boot</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/NET-Framework-Logo.png" alt=".Net-log" />
      </div>
      <p>.Net</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/java-logo.png" alt="java-logo" />
      </div>
      <p>Java</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/symfony-logo.png" alt="symfony-logo" />
      </div>
      <p>Symfony</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/php.png" alt="PHP" />
      </div>
      <p>PHP</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/JavaScript-logo.png" alt="JavaScript-logo" />
      </div>
      <p>JavaScript</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/angular-logo.png" alt="angular-logo" />
      </div>
      <p>Angular</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/Bootstrap_logo.png" alt="Bootstrap_logo" />
      </div>
      <p>Bootstrap</p>
    </div>

    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/html.png" alt="html-logo" />
      </div>
      <p>HTML</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/css.png" alt="Css-logo" />
      </div>
      <p>CSS</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/mySql.png" alt="mySql-logo" />
      </div>
      <p>MySql</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/postgreSql.png" alt="postgreSql-logo" />
      </div>
      <p>PostgreSql</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/mongo.png" alt="mongo-logo" />
      </div>
      <p>MongoDB</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/jest.png" alt="jest-log" />
      </div>
      <p>Jest</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/postman.png" alt="postman-logo" />
      </div>
      <p>Postman</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/cypress.png" alt="cypress-logo" />
      </div>
      <p>Cypress</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/docker.png" alt="docker-logo" />
      </div>
      <p>Docker</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/git.png" alt="git-logo" />
      </div>
      <p>Git</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/figma.png" alt="figma-logo" />
      </div>
      <p>Figma</p>
    </div>
  </div>
  <h3 class="text-lg mt-5">Compétences Clés</h3>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 gap-4">
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/agile.png" alt="agile-logo" />
      </div>
      <p>Agilité</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/analysing.png" alt="analysing-logo" />
      </div>
      <p>Analyse</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/cms.png" alt="cms-logo" />
      </div>
      <p>Conception & Architecture</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/idea.png" alt="idea-logo" />
      </div>
      <p>Résolution de Problèmes</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/diagram.png" alt="diagram-logo" />
      </div>
      <p>Conception</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/communication.png" alt="communication-logo" />
      </div>
      <p>Collaboration</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/time-management.png" alt="time-management-logo" />
      </div>
      <p>Gestion du Temps</p>
    </div>
    <div class="col skillbox">
      <div class="skill-image">
        <img src="assets/img/adaptation.png" alt="Adaptability-logo" />
      </div>
      <p>Adaptabilité</p>
    </div>
  </div>
</div>
