<div class="personal-experience-inner mt--40">
  <h4 class="maintitle">Parcours académique ✨</h4>

  <div class="row">
    <div class="col-lg-6 col-md-12 col-12">
      <div class="content animated-slide-up">
        <span class="subtitle">2022 – 2024</span>
        <div class="experience-list">
          <!-- Start Single List  -->
          <div class="resume-single-list">
            <div class="inner">
              <div class="heading">
                <div class="title">
                  <div class="row justify-content-between align-items-center">
                    <div class="col-auto section-title">
                      <h4>ISCOD</h4>
                    </div>

                    <div class="col-auto">
                      <div class="date-of-time">
                        <img
                          class="img-school"
                          title="ISCOD"
                          alt="Logo iscod"
                          src="assets/img/iscod.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <h4>
                    Mastère Expert en Ingénierie Logicielle, Ingénierie
                    informatique – France, Paris
                  </h4>
                  <span>Titre certifié RNCP Niveau 7 (Bac+5) – En cours </span>
                  <span>Octobre 2023 – Novembre 2024</span>
                </div>
              </div>
              <p class="description">
                Formation alliant compétences techniques et managériales,
                couvrant plusieurs domaines clés :
              </p>
              <ul class="description">
                <li>
                  <b>Gestion de la relation client et leadership </b>: Analyse
                  des besoins, UX/UI, Design Thinking et management d’équipe.
                </li>
                <li>
                  <b>Pilotage de projets</b> avec les méthodes agiles comme
                  Scrum, garantissant une collaboration efficace.
                </li>
                <li>
                  <b>Développement logiciel </b>avec des technologies telles que
                  Java, Spring, Angular, et maîtrise des outils DevOps (Docker,
                  Kubernetes).
                </li>
                <li>
                  <b> Conception d'architecture logicielle </b>
                  : Application des principes SOLID, design patterns, et UML
                  pour des architectures robustes.
                </li>
              </ul>
            </div>
          </div>
          <!-- End Single List  -->
          <!-- Start Single List  -->
          <div class="resume-single-list">
            <div class="inner">
              <div class="heading">
                <div class="title">
                  <div class="row justify-content-between align-items-center">
                    <div class="col-auto section-title">
                      <h4>Faculté des sciences de Montpellier</h4>
                    </div>

                    <div class="col-auto">
                      <div class="date-of-time">
                        <img
                          class="img-school"
                          title="Université de Montpellier"
                          alt="Logo Université de Montpellier"
                          src="assets/img/UNM.png"
                        />
                      </div>
                    </div>
                  </div>
                  <h4>
                    Master Informatique parcours Intégration de Compétence –
                    France, Montpellier
                  </h4>
                  <span>Master 1 (M1) – Formation finalisée </span>
                  <span>Septembre 2022 – mai 2023</span>
                </div>
              </div>
              <p class="description">
                Parcours généraliste en informatique. Ce parcours a permis de
                développer :
              </p>
              <ul class="description">
                <li>
                  <b
                    >Programmation objet, gestion des bases de données, systèmes
                    et réseaux, et technologies web.
                  </b>
                </li>
                <li>
                  <b
                    >Initiation à la science des données, au machine learning,
                    et à la programmation mobile.
                  </b>
                </li>
                <li>
                  <b
                    >Compétences en analyse et gestion de projet, avec des
                    projets pratiques
                  </b>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Single List  -->
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-12">
      <div class="content animated-slide-up">
        <span class="subtitle">2014 – 2022</span>

        <div class="experience-list">
          <!-- Start Single List  -->
          <div class="resume-single-list">
            <div class="inner">
              <div class="heading">
                <div class="title">
                  <div class="row justify-content-between align-items-center">
                    <div class="col-auto section-title">
                      <h4>ISET Sousse</h4>
                      <SMall
                        >Institut Supérieur des Etudes Technologiques de
                        Sousse</SMall
                      >
                    </div>

                    <div class="col-auto">
                      <div class="date-of-time">
                        <img
                          class="img-school"
                          title="ISET"
                          alt="Logo iset"
                          src="assets/img/Iset.png"
                        />
                      </div>
                    </div>
                  </div>
                  <h4>
                    Master en Génie Logiciel et Développement Rapide
                    d’Applications – Tunisie, Sousse
                  </h4>
                  <span>Master 1 Professionnel – Formation finalisée </span>
                  <span>Octobre 2021 – Juin 2022</span>
                </div>
              </div>
              <p class="description">
                Formation axée sur le développement d'applications de gestion et
                web en utilisant des outils de pointe et des technologies
                innovantes. Ce master m'a permis d'acquérir des compétences en :
              </p>
              <ul class="description">
                <li>
                  <b>Développement complet d'applications </b>de la conception à
                  la mise en exploitation.
                </li>
                <li>
                  <b>Choix des outils et techniques</b> adaptés au développement
                  logiciel.
                </li>
                <li>
                  <b>Gestion et supervision d'équipes </b>de développement dans
                  un contexte collaboratif.
                </li>
                <li>
                  <b>Administration de systèmes informatiques </b>
                  et supervision de services.
                </li>
              </ul>
            </div>
          </div>
          <!-- End Single List  -->
          <!-- Start Single List  -->
          <div class="resume-single-list">
            <div class="inner">
              <div class="heading">
                <div class="title">
                  <div class="row justify-content-between align-items-center">
                    <div class="col-auto section-title">
                      <h4>ISET Sousse</h4>
                      <small
                        >Institut Supérieur des Etudes Technologiques de
                        Sousse</small
                      >
                    </div>

                    <div class="col-auto">
                      <div class="date-of-time">
                        <img
                          class="img-school"
                          title="ISET"
                          alt="Logo iset"
                          src="assets/img/Iset.png"
                        />
                      </div>
                    </div>
                  </div>
                  <h4>
                    Licence Professionnelle en Technologies de l'Informatique –
                    Tunisie, Sousse
                  </h4>
                  <span
                    >Parcours : Multimédia et Développement Web (MDW) –
                    Formation finalisée
                  </span>
                  <span> 2018 – 2021</span>
                </div>
              </div>
              <p class="description">
                Formation spécialisée dans la conception et le développement de
                solutions web et multimédia, visant à maîtriser les compétences
                suivante :
              </p>
              <ul class="description">
                <li>
                  <b>Développement et intégration de sites web dynamiques. </b>
                </li>
                <li>
                  <b
                    >Planification, déploiement et administration de portails
                    web.
                  </b>
                </li>
                <li>
                  <b
                    >Création d’images de synthèse et développement
                    d’applications multimédia.
                  </b>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Single List  -->
          <!-- Start Single List  -->
          <div class="resume-single-list">
            <div class="inner">
              <div
                class="heading"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  border-bottom: none;
                  padding-bottom: 0;
                  margin-bottom: 0;
                "
              >
                <div class="title">
                  <div class="row justify-content-between align-items-center">
                    <div class="col-auto section-title">
                      <h4>Lycée Secondaire Rejich</h4>
                    </div>

                    <div class="col-auto">
                      <div class="date-of-time">
                        <img
                          class="img-school"
                          title="Lycée Rejich"
                          alt="Logo Lycée Rejich"
                          src="assets/img/lyceeR.png"
                        />
                      </div>
                    </div>
                  </div>
                  <h4>
                    Baccalauréat série sciences expérimentales – Tunisie, Rejich
                  </h4>
                  <span> 2014 – 2018</span>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single List  -->
        </div>
      </div>
    </div>
  </div>
</div>
