<main class="main-wrapper">
  <header id="home" class="home-section">
    <div class="hero_con_main">
      <div class="hero_con_wrapper" [ngStyle]="heroWrapperStyles">
        <div class="container-hero">
          <div class="padding-vertical_hero" style="height: 100%">
            <div class="w-layout-grid hero_grid">
              <div class="hero_left_col">
                <div class="hero_wrapper">
                  <div class="hero_content_wrap">
                    <div class="hero_label">
                      <div class="hero_label_flex">
                        <div class="icon-code w-embed">
                          <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="developer_labxel">
                          Développeur Full Stack
                        </div>
                      </div>
                    </div>
                    <div class="hero_title_wrap">
                      <h1 data-type="hero-line" class="h1_display">
                        <span class="line" hero-line=""
                          >Transformer les idées en solutions numériques. </span
                        ><span class="line" hero-line=""
                          >Développeur Full Stack – et bien plus encore
                        </span>
                      </h1>
                    </div>
                    <div class="hero_para_wrapper">
                      <p class="para_hero">
                        je suis Wael Zantour – passionné par la création
                        d'applications web dynamiques et centrées sur
                        l'utilisateur, avec des compétences supplémentaires qui
                        renforcent mon expertise en développement <br />–
                        Actuellement basé à
                        <del>Mahdia, TUNISIE</del>, Bordeaux, FRANCE.
                      </p>
                    </div>
                  </div>
                  <div class="actions">
                    <a routerLink="/contact" class="hero_btn w-inline-block"
                      ><div class="hero_btn_text">Me Contacter</div>
                    </a>
                    <div class="button">
                      <a routerLink="/aboutMe" class="btn-outer w-inline-block">
                        <div class="btn-inner">
                          <div class="btn-text">En savoir plus sur moi</div>
                        </div></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="hero_right_col">
                <div class="hero_img_wrapper">
                  <div class="hero_img-desktop">
                    <img
                      [src]="imageUrl"
                      alt="Wael Zantour - Full Stack Developer"
                      class="hero_img_img"
                    />
                  </div>
                  <div class="blob_blue"></div>
                  <div class="blob_yellow"></div>
                  <div class="overlay"></div>
                  <img
                    [src]="imageUrl"
                    alt="Wael Zantour - Full Stack Developer"
                    class="hero_img-mobile"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-blur-bg"></div>
      </div>
    </div>
    <div class="cusror_hero_wrapper"></div>
    <img
      src="assets/img/banner-img.jpg"
      alt="Spatial bg"
      sizes="100vw"
      class="image-4"
      [ngStyle]="imageStyles"
    />
  </header>
</main>

<div class="hero__scroll" style="background-color: black; padding-top: 30px">
  <div class="hero__scroll-down"></div>
</div>
<section class="section">
  <app-projects-home></app-projects-home>
</section>
<section class="section">
  <app-skill-set></app-skill-set>
</section>

<div>
  <img alt="Personal image" class="perso-img" src="assets/img/img-banner.jpg" />
</div>
<app-scroll-top></app-scroll-top>
