<div class="container">
  <h4 class="maintitle">Compétences Techniques ✨ </h4>
  <div class="row skills-content skills-animation">
    <div class="col-lg-6">
      <div class="progress">
        <a class="skill" [routerLink]="['/spring-boot']">Spring Boot </a><small class="level">Niveau
          avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="75" [style.width]="getProgressWidth(75)">
            <span class="percent-label">75%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <a class="skill" [routerLink]="['/dot-net']">.NET </a>
        <small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="80" [style.width]="getProgressWidth(80)">
            <span class="percent-label">{{ getProgressWidth(80) }}</span>
          </ngb-progressbar>
        </div>
      </div>


      <div class="progress">
        <a class="skill" [routerLink]="['/javaScript']">JavaScript</a><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="75" [style.width]="getProgressWidth(75)">
            <span class="percent-label">75%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <a class="skill" [routerLink]="['/php']">PHP</a><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="80" [style.width]="getProgressWidth(80)">
            <span class="percent-label">80%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <a class="skill" [routerLink]="['/mySql']">MySQL</a><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="75" [style.width]="getProgressWidth(75)">
            <span class="percent-label">75%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <a class="skill" [routerLink]="['/postgreSql']">PostgreSql</a><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="75" [style.width]="getProgressWidth(75)">
            <span class="percent-label">75%</span>
          </ngb-progressbar>
        </div>
      </div>

    </div>

    <div class="col-lg-6">
      <div class="progress">
        <a class="skill" [routerLink]="['/angular']">Angular </a>
        <small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="75" [style.width]="getProgressWidth(75)">
            <span class="percent-label">75%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <a class="skill" [routerLink]="['/react']">React </a>
        <small class="level">Niveau intermédiaire</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="60" [style.width]="getProgressWidth(60)">
            <span class="percent-label">60%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <a class="skill" [routerLink]="['/figma']">Figma </a><small class="level">Niveau intermédiaire</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="65" [style.width]="getProgressWidth(65)">
            <span class="percent-label">65%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <a class="skill" [routerLink]="['/git']">Git </a><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3" [value]="80" [style.width]="getProgressWidth(80)">
            <span class="percent-label">80%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <a class="skill" [routerLink]="['/docker']">Docker </a><small class="level">Niveau intermédiaire</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="55" [style.width]="getProgressWidth(55)">
            <span class="percent-label">55%</span>
          </ngb-progressbar>
        </div>
      </div>
    </div>
  </div>
  <h4 class="maintitle mt-5">Compétences Comportementales ✨</h4>
  <div class="row skills-content skills-animation">
    <div class="col-lg-6">
      <div class="progress">
        <a class="skill" [routerLink]="['/problem-resolution']">Résolution de problèmes</a>
        <small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="80" [style.width]="getProgressWidth(80)">
            <span class="percent-label">80%</span>
          </ngb-progressbar>
        </div>
      </div>
      <div class="progress">
        <a class="skill" [routerLink]="['/collaboration-equipe']">Collaboration en équipe</a><small class="level">Niveau
          avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="80" [style.width]="getProgressWidth(80)">
            <span class="percent-label">80%</span>
          </ngb-progressbar>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="progress">
        <a class="skill" [routerLink]="['/gestion-temps']">Gestion du Temps</a>
        <small class="level">Niveau intermédiaire</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="60" [style.width]="getProgressWidth(60)">
            <span class="percent-label">60%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <a class="skill" [routerLink]="['/adaptabilite']">Adaptabilité</a><small class="level">Niveau
          avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="75" [style.width]="getProgressWidth(75)">
            <span class="percent-label">75%</span>
          </ngb-progressbar>
        </div>
      </div>

    </div>
  </div>
  <h4 class="maintitle mt-5">Compétences Méthodologiques ✨</h4>
  <div class="row skills-content skills-animation">
    <div class="col-lg-6">
      <div class="progress">
        <a class="skill" [routerLink]="['/agilite']">Agilité</a><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3 progress-bar-animated" [value]="75" [style.width]="getProgressWidth(75)">
            <span class="percent-label">75%</span>
          </ngb-progressbar>
        </div>
      </div>

    </div>
    <div class="col-lg-6">

      <div class="progress">
        <a class="skill" [routerLink]="['/scrum']">Méthodologies Scrum</a><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar class="mb-3" [value]="75" [style.width]="getProgressWidth(75)">
            <span class="percent-label">75%</span>
          </ngb-progressbar>
        </div>
      </div>
    </div>
  </div>
</div>