<div class="container">
  <h4 class="skilltitle">Compétences Techniques ✨ </h4>
  <div class="row skills-content skills-animation">
    <div class="col-lg-6">
      <div class="progress">
        <span class="skill">Spring Boot </span
        ><small class="level">Niveau intermédiaire</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="50"
            [style.width]="getProgressWidth(50)"
          >
            <span class="percent-label">50%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <span class="skill">.NET </span>
        <small class="level">Niveau intermédiaire</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="45"
            [style.width]="getProgressWidth(50)"
          >
            <span class="percent-label">{{ getProgressWidth(50) }}</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <span class="skill">PHP</span><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="70"
            [style.width]="getProgressWidth(70)"
          >
            <span class="percent-label">70%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <span class="skill">SQL (MySQL - PostgreSql)</span
        ><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="60"
            [style.width]="getProgressWidth(60)"
          >
            <span class="percent-label">60%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <span class="skill">Docker </span
        ><small class="level">Niveau débutant</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="30"
            [style.width]="getProgressWidth(30)"
          >
            <span class="percent-label">30%</span>
          </ngb-progressbar>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="progress">
        <span class="skill">Angular </span>
        <small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="60"
            [style.width]="getProgressWidth(60)"
          >
            <span class="percent-label">60%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <span class="skill">React </span>
        <small class="level">Niveau intermédiaire</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="45"
            [style.width]="getProgressWidth(45)"
          >
            <span class="percent-label">45%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <span class="skill">Figma </span
        ><small class="level">Niveau intermédiaire</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="50"
            [style.width]="getProgressWidth(50)"
          >
            <span class="percent-label">50%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <span class="skill">Git </span
        ><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3"
            [value]="70"
            [style.width]="getProgressWidth(70)"
          >
            <span class="percent-label">70%</span>
          </ngb-progressbar>
        </div>
      </div>
      <div class="progress">
        <span class="skill">Méthodologies Scrum</span
        ><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3"
            [value]="70"
            [style.width]="getProgressWidth(70)"
          >
            <span class="percent-label">70%</span>
          </ngb-progressbar>
        </div>
      </div>
    </div>
  </div>
  <h4 class="skilltitle mt-5">Compétences Comportementales ✨</h4>
  <div class="row skills-content skills-animation">
    <div class="col-lg-6">
      <div class="progress">
        <span class="skill">Agilité</span
        ><small class="level">Niveau avancé</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="70"
            [style.width]="getProgressWidth(70)"
          >
            <span class="percent-label">70%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <span class="skill">Gestion de projet</span
        ><small class="level">Niveau débutant</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="30"
            [style.width]="getProgressWidth(30)"
          >
            <span class="percent-label">30%</span>
          </ngb-progressbar>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="progress">
        <span class="skill">Relation client </span>
        <small class="level">Niveau intermédiaire</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="60"
            [style.width]="getProgressWidth(60)"
          >
            <span class="percent-label">60%</span>
          </ngb-progressbar>
        </div>
      </div>

      <div class="progress">
        <span class="skill">Résolution de problèmes</span>
        <small class="level">Niveau intermédiaire</small>
        <div class="progress-bar-wrap">
          <ngb-progressbar
            class="mb-3 progress-bar-animated"
            [value]="50"
            [style.width]="getProgressWidth(50)"
          >
            <span class="percent-label">50%</span>
          </ngb-progressbar>
        </div>
      </div>
    </div>
  </div>
</div>
