<main class="main-wrapper">
    <!-- Page Title -->
    <div class="page-title">
        <div class="heading pb-3">
            <div class="container">
                <p style="text-align: center;">
                    <img style="width: 10%;" src="assets/img/figma.png" alt="">
                </p>
                <div class="text-title">
                    <h2 class="text-muted opacity-1 text-uppercase mb-0">
                        Getsion du projet
                    </h2>
                </div>
                <div class="hero__scroll">
                    <div class="hero__scroll-down"></div>
                </div>
            </div>
        </div>

        <hr />
    </div>
    <!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">
        <div class="container">

        </div>
    </section>


</main>
<app-scroll-top></app-scroll-top>