<div class="personal-experience-inner mt--40">
  <h4 class="maintitle">Expérience ✨</h4>

  <div class="row">
    <div class="col-lg-6 col-md-12 col-12">
      <div class="content animated-slide-up">
        <div class="experience-list">
          <!-- Start Single List  -->
          <div class="resume-single-list">
            <div class="inner">
              <div class="heading">
                <div class="title">
                  <div
                    class="row justify-content-start align-items-center pb-3"
                  >
                    <div class="col-auto">
                      <div class="date-of-time">
                        <img
                          class="img-school"
                          id="ent"
                          title="Dekra"
                          alt="Logo dekra"
                          src="assets/img/dekra.png"
                        />
                      </div>
                    </div>
                    <div class="col-auto section-title">
                      <h4>Développeur IT</h4>
                      <h5>
                        DEKRA Automotive Solutions · Contrat en alternance
                      </h5>
                    </div>
                  </div>
                  <span>Septembre 2023 – Novembre 2024 . 1 an </span>
                  <span>Bordeaux, Nouvelle-Aquitaine, France</span>
                </div>
              </div>
              <p class="description">
                En tant que développeur chez <b>DEKRA</b>, , j’ai contribué à la
                maintenance évolutive, à la gestion des incidents et à
                l'amélioration continue des applications, tout en assurant une
                collaboration fluide avec les équipes et les clients dans un
                cadre agile.
              </p>
              <ul class="description">
                <li>
                  <b>Maintenance évolutive et support : </b>
                  <ul>
                    <li>
                      Analyse des causes racines des incidents et mise en place
                      de correctifs en <b>C#</b> et <b>.NET Core</b>.
                    </li>
                    <li>
                      Mises à jour des bases de données via des scripts
                      <b>SQL</b>.
                    </li>
                    <li>
                      Création et gestion des <b>pipelines CI/CD</b> et des
                      <b>releases</b>
                      pour le déploiement de correctifs.
                    </li>
                    <li>
                      Communication avec les clients en français et en anglais
                      tout au long du processus de correction via
                      <b>ServiceNow</b>.
                    </li>
                  </ul>
                </li>
                <br />
                <li>
                  <b>Méthodologie Agile - Scrum :</b>
                  <ul>
                    <li>
                      Participation aux <i>dailies</i>, <i>sprint plannings</i>,
                      <i>démos</i> et <i>rétrospectives</i>.
                    </li>
                    <li>
                      Collaboration avec l’équipe QA pour résoudre les anomalies
                      détectées sur divers applicatifs.
                    </li>
                    <li>
                      Participation aux ateliers d'équipe pour le
                      macro-chiffrage, la présentation des spécifications et la
                      définition des priorités.
                    </li>
                  </ul>
                </li>
                <br />
                <li>
                  <b> Projets de développement et migration : </b>
                  <ul>
                    <li>
                      Analyse détaillée des besoins fonctionnels et techniques
                      pour répondre aux attentes des parties prenantes.
                    </li>
                    <li>
                      Conduite d'une <b>Gap Analysis technique</b> pour la
                      migration d'application interne.
                    </li>
                    <li>
                      Rédaction des <b>spécifications fonctionnelles</b> et
                      découpage des tâches sous forme de <b>user stories</b>.
                    </li>
                    <li>
                      Conception de maquettes avec <b>Figma</b> pour la
                      visualisation des solutions.
                    </li>
                  </ul>
                </li>
              </ul>
              <hr />
              <div class="container">
                <div class="row g-2">
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">C#</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">.Net</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">SQL</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">PostgreSQL </span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">Scrum</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">Figma</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">Git</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single List  -->
          <!-- Start Single List  -->
          <div class="resume-single-list">
            <div class="inner">
              <div class="heading">
                <div class="title">
                  <div
                    class="row justify-content-start align-items-center pb-3"
                  >
                    <div class="col-auto">
                      <div class="date-of-time">
                        <img
                          class="img-school"
                          id="ent"
                          title="GPro Consulting"
                          alt="GPRO Logo"
                          src="assets/img/gpro_consulting_logo.jpeg"
                        />
                      </div>
                    </div>
                    <div class="col-auto section-title">
                      <h4>Développeur Full Stack</h4>
                      <h5>GPRO Consulting · Stage de fin d'étude</h5>
                    </div>
                  </div>
                  <span>Février 2021 – Juin 2021 . 5 mois </span>
                  <span>Sousse, Tunisie</span>
                </div>
              </div>
              <p class="description">
                Conception et développement d'une plateforme de gestion de
                flotte automobile "GFlotte" permettant la gestion et l'analyse
                des données d'un parc automobile.
              </p>
              <ul class="description">
                <li>
                  Conception, développement des fonctionnalités Backend pour
                  gérer les véhicules, les missions, les conducteurs, etc avec
                  NodeJs.
                </li>
                <li>
                  Design et Implémentation d'une dashboard pour l'application
                  avec ReactJs.
                </li>
                <li>
                  Travailler en groupe et en agilité 'Scrum' avec des bonnes
                  pratiques.
                </li>
              </ul>
              <hr />
              <div class="container">
                <div class="row g-2">
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">ReactJs</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">NodeJs</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">ExpressJs</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">MongoDB</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">Scrum</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">Git</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single List  -->
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-12">
      <div class="content animated-slide-up">
        <div class="experience-list">
          <!-- Start Single List  -->
          <div class="resume-single-list">
            <div class="inner">
              <div class="heading">
                <div class="title">
                  <div
                    class="row justify-content-start align-items-center pb-3"
                  >
                    <div class="col-auto">
                      <div class="date-of-time">
                        <img
                          class="img-school"
                          id="ent"
                          title="OxyDev"
                          alt="OxyDev Logo"
                          src="assets/img/oxyDev.jpeg"
                        />
                      </div>
                    </div>
                    <div class="col-auto section-title">
                      <h4>Développeur PHP</h4>
                      <h5>OxyDev Agence Web · Stage d'été</h5>
                    </div>
                  </div>
                  <span>Juin 2020 – Juillet 2020 . 2 mois </span>
                  <span>Mahdia, Tunisie</span>
                </div>
              </div>
              <p class="description">
                Site-web pour club sportif, Participer à la création d'un site
                de sport avec Wordpress qui permet de rassembler toutes les
                données concernant une équipe sportive.
              </p>
              <ul class="description">
                <li>
                  <b>Personnalisation de thèmes</b> et<b>
                    intégration de plugins</b
                  >
                  pour les fonctionnalités sportives.
                </li>
                <li>
                  <b>Développement PHP </b>pour des fonctionnalités sur mesure
                  et gestion des données.
                </li>
                <li>
                  <b> Optimisation responsive</b>
                  pour garantir une bonne expérience sur tous les appareils.
                </li>
              </ul>
              <hr />
              <div class="container">
                <div class="row g-2">
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">PHP</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">Wordpress</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">HTML</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">CSS </span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">MySQL</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single List  -->
          <!-- Start Single List  -->
          <div class="resume-single-list">
            <div class="inner">
              <div class="heading">
                <div class="title">
                  <div
                    class="row justify-content-start align-items-center pb-3"
                  >
                    <div class="col-auto">
                      <div class="date-of-time">
                        <img
                          class="img-school"
                          id="ent"
                          title="Beirdo"
                          alt="Beirdo dekra"
                          src="assets/img/beirdo.webp"
                        />
                      </div>
                    </div>
                    <div class="col-auto section-title">
                      <h4>Développeur Mobile</h4>
                      <h5>Beirdo Digital Studio · Stage de Perfectionnement</h5>
                    </div>
                  </div>
                  <span>Janvier 2020 – Février 2020 . 2 mois </span>
                  <span>Tunis, Tunisie</span>
                </div>
              </div>
              <p class="description">
                Réalisation d'une application Mobile de Messagerie en Temps Réel
              </p>
              <ul class="description">
                <li>
                  Apprentissage de <b>Flutter</b> et <b>Dart</b> en créant des
                  applications mobiles.
                </li>
                <li>
                  Conception et développement de l'application <b>ChatMe</b>,
                  une plateforme de messagerie en temps réel.
                </li>
                <li>
                  Utilisation de <b>Firebase</b> pour l'authentification et les
                  bases de données en temps réel.
                </li>
                <li>Modélisation de l'architecture avec <b>PlantUML</b>.</li>
              </ul>
              <hr />
              <div class="container">
                <div class="row g-2" style="gap: 5px">
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">Flutter</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">Dart</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">Firebase</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="skill-project">
                      <span class="exp-span">PlantUML</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single List  -->
        </div>
      </div>
    </div>
  </div>
</div>
