<!-- Footer -->
<footer class="footer">
  <div class="container">
    <h3 class="text-center mb-4">Let's work together</h3>
    <p class="footer-text text-center mb-2">
      If you have a project or a job opportunity in mind, I would like to hear
      from you.
    </p>
    <p class="footer-text text-center  z-20">
      You can find me on
      <a class="underline" href="#"> Linkedin</a>
       or e-mail me at
      <a class="underline" href="mailto:waelzantour1&#64;gmail.com ">
        waelzantour1&#64;gmail.com
      </a>
    </p>
    <div class="footer__logo-img-cont">
      <img src="assets\img\Me.jpeg" alt="" class="footer__logo-img" />
    </div>

    <div class="social-icon">
      <a href="javascript:"><i class="fa-brands fa-linkedin"></i></a>
      <a href="javascript:"><i class="fa-brands fa-github"></i></a>
      <a href="javascript:"><i class="fa-regular fa-envelope"></i></a>
    </div>
    <p class="m-0 text-center">© 2024 Wael Zantour | all right reserved</p>
  </div>
</footer>
