<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="cta">
      <!--<div class="footer__logo-img-cont">
        <img src="assets\img\Me.jpeg" alt="" class="footer__logo-img" />
      </div>-->
      <h3 class="text-center mb-4">Prêt à collaborer</h3>
      <p class="footer-text text-center mb-2">
        Si vous avez un projet ou une opportunité professionnelle en tête, je
        serais ravi d'en discuter avec vous.
      </p>
      <p class="footer-text text-center z-20">
        Vous pouvez me contacter sur
        <a class="underline" href="#"> Linkedin</a>
        ou m'envoyer un e-mail à l'adresse suivante
        <a class="underline" href="mailto:waelzantour1&#64;gmail.com ">
          waelzantour1&#64;gmail.com
        </a>
        .
      </p>
    </div>
    <hr />
    <div class="social-icon">
      <a href="javascript:"><i class="fa-brands fa-linkedin"></i></a>
      <a href="javascript:"><i class="fa-brands fa-github"></i></a>
      <a href="javascript:"><i class="fa-regular fa-envelope"></i></a>
    </div>
    <p class="m-0 text-center">© 2024 Wael Zantour | all right reserved</p>
  </div>
</footer>
